<template>
    <div class="pagina-transicion">
        <div id="local" class="info-local">
            <div class="mb-4 d-flex justify-content-between align-items-center">
                <h2></h2>
                <span class="icon-close rojo" @click="cerrarLocal"></span>
            </div>
            <div class="local">
                <div class="contenido">
                    <div class="mb-4">
                        <img :data-src="Imagen('tienda.svg')" alt="" v-lazy-load>
                    </div>
                    <div class="mb-4">
                        <h2 class="rojo">{{local.nombre}}</h2>
                    </div>
                    <div>
                        <div class="dato">
                            <div class="contenedor-icono">
                                <span class="icon-marker"></span>
                            </div>
                            <div>
                                {{local.direccion}} <br> 
                                <span v-if="local.distrito != ''">{{local.distrito}}, </span>{{local.provincia}}, {{local.departamento}}
                            </div>
                        </div>
                        <div class="dato">
                            <div class="contenedor-icono">
                                <span class="icon-clock"></span>
                            </div>
                            <div>
                                {{local.atencion}}
                            </div>
                        </div>
                        <div class="dato" v-show="local.telefono1 != ''">
                            <div class="contenedor-icono">
                                <span class="icon-phone"></span>
                            </div>
                            <div>
                                <a :href="`tel:${local.telefono1}`">{{local.telefono1}}</a>
                            </div>
                        </div>
                        <div class="dato" v-show="local.telefono2 != ''">
                            <div class="contenedor-icono">
                                 <span class="icon-phone"></span>
                            </div>
                            <div>
                                <a :href="`tel:${local.telefono2}`">{{local.telefono2}}</a>
                            </div>
                        </div>
                        <div class="dato" v-show="local.web != ''">
                            <div class="contenedor-icono">
                                 <span class="icon-web"></span>
                            </div>
                            <div>
                                <a :href="local.web" target="_blank">{{local.web}}</a>
                            </div>
                        </div>
                        <div class="dato" v-show="local.correogeneral != ''">
                            <div class="contenedor-icono">
                                 <span class="icon-mail"></span>
                            </div>
                            <div>
                                <a :href="`mailto:${local.correogeneral}`">{{local.correogeneral}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <Filtro :filtros="filtros" tipo="locales" :data="locales"/>
        <CabeceraInterna titulo="Dónde Comprar" link="/"/>
        <div class="container margen-cabecera">
            <div class="d-flex mt-3 mb-3 align-items-center justify-content-between">
                <div class="buscador" style="width:78%">
                    <input type="text" class="form-control" v-model="buscar" placeholder="Buscar">
                    <i class="fas fa-search" @click="buscarPalabra"></i>
                </div>
                <div class="" style="width:22%;text-align:right" @click="mostrarFiltro">
                    Filtros <span class="icon-filter"></span>
                </div>
            </div>
        </div>
        <div style="position:relative">
           <div id="map-wrap" style="height: 250px">
                <l-map v-if="renderMap" :zoom="zoom" :center="[center.lat, center.lng]" :options="{zoomControl: false}">
                    <l-tile-layer url="http://{s}.tile.osm.org/{z}/{x}/{y}.png"></l-tile-layer>
                    <l-marker v-for="(item,index) in marcadores" :key="index" 
                    :lat-lng="[item.lat, item.lng]" @click="marker(item, index)">
                        <l-icon :icon-size="[22,32]" :options="{iconUrl: item.lat === currentLocation.lat ? selected.iconUrl : notselected.iconUrl }">
                        </l-icon>
                    </l-marker>
                </l-map>
            </div>
            <div @click="localizar" class="geo"><i class="far fa-dot-circle"></i></div>
        </div>



        <div class="container donde-comprar">
            <div :id="`local${index}`" class="card mt-3 mb-3" v-for="(item, index) in filtroLocales" :key="index"  @click="cambiarMapa(index)">
                <div class="card-body d-flex">
                    <div class="col-12">
                        <h3 class="rojo">{{item.nombre}}</h3>
                        <div class="lugar mt-2">
                            <div class="d-flex" style="position:relative">
                                <div class="contenedor-icono">
                                    <span class="icon-marker"></span>
                                </div>
                                <div>
                                    {{item.direccion}} <br>
                                    <span v-if="item.distrito != ''">{{item.distrito}}, </span>{{item.provincia}}, {{item.departamento}}
                                </div> 
                            </div>
                        </div>
                        <div class="info">
                            <div @click="verInfo(item)"><span>Más info</span> <span class="icon-info gris"></span></div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import CabeceraInterna from "@/components/CabeceraInterna"
import Filtro from '@/components/Filtro.vue'

import $ from 'jquery'
import { mapState } from 'vuex'

    export default {
        head: {
            title: 'Dónde Comprar | Constructores del Futuro'
        },
        layout: 'interna',
        props: [],
        components: {
            CabeceraInterna, Filtro
        },
        data(){
            return {
                lat: '',
                long: '',
                zoom: 4,
                center: { lat: -3.350235, lng: 111.995865 },
                id: "",
                datosAlerta: {
                    tituloAlerta: "",
                    contenidoAlerta: "",
                    botones: []
                },
                filtros: [
                   { nombre: "línea de producto" , filtro: [
                       {cat: "Techos"}, {cat: "Tanques"}, {cat: "Multiplaca"}, {cat: "Sistema Drywall"},
                       {cat: "Baldosas para cielo raso"}
                        ] 
                    }
                ],
                filtrodpto: {nombre: "departamentos", filtro: []},
                buscar: "",
                local: {},
                currentLocation: {},

                selected: {
                    iconUrl: 'https://proyectos.picnic.pe//eternit/constructoresdelfuturo/api-cdf/files/marker.png',
                },
                notselected: {
                    iconUrl: 'https://proyectos.picnic.pe//eternit/constructoresdelfuturo/api-cdf/files/elipse2.png',
                },

                locationreal:null,
                gettingLocation: false,
                errorStr:null
}
        },
        computed:{
            ...mapState(['locales','filtroLocales','marcadores','renderMap']),
        },
        methods: {
            marker(value, index){
                console.log("jj")
                this.currentLocation = value
                this.center = value
                this.zoom = 10
                var contar = 0;
                var suma = 0
                $(".donde-comprar .card").each(function(){
                    if(contar < index){
                        suma = suma + ($("#local"+contar).height() + 16)
                    }
                    contar++
                });
                //$(".donde-comprar").scrollTop(suma)
                $(".donde-comprar").animate({scrollTop:suma}, 500)
                $(".donde-comprar .card").removeClass("activo")
                $("#local"+index).addClass("activo")
            },
            localizar(){
                    this.gettingLocation = true;
                    // get position
                    this.mostrarCargador()
                    navigator.geolocation.getCurrentPosition(pos => {
                    this.gettingLocation = false;
                    this.locationreal = {
                        lat: pos.coords.latitude,
                        lng: pos.coords.longitude
                    };
                    this.center = this.locationreal
                    this.zoom = 15
                    this.cerrarCargador()
                    }, err => {
                    this.gettingLocation = false;
                    this.errorStr = err.message;
                    })

            },
            cambiarMapa(id){
                //this.puntero(index)
                this.center = this.marcadores[id]
                //console.log(this.center)
                this.currentLocation = this.marcadores[id]
                this.zoom = 15
                $(".donde-comprar .card").removeClass("activo")
                $("#local"+id).addClass("activo")
                
            },
            buscarPalabra(){
                var dato = []
                if(this.buscar != ""){
                    var buscar = this.buscar.toLowerCase()
                    this.locales.filter(function(currentObject) {
                        var str = currentObject.nombre.toLowerCase()
                        var n = str.search(buscar);
                        if (n != -1) {
                            dato.push(currentObject)
                        }
                    });
                    this.$store.commit('llenarFiltroLocales', dato)
                }
                this.$store.commit('renderMap',false)
                this.$nextTick(() => {
                    this.$store.commit('renderMap',true)
                });
                this.zoom = 4
            },
            verInfo(value){
                this.local = value
                this.mostrarLocal()
            }
        },
        created() {
            this.center = this.marcadores[0];
        },
        mounted() {
            this.center = this.marcadores[0];
            var busquedaDpto = {};
            var dptos = []
            this.filtroLocales.filter(function(currentObject) {
                if (currentObject.departamento in busquedaDpto) {
                    
                } else {
                    busquedaDpto[currentObject.departamento] = true;
                    dptos.push({cat: currentObject.departamento})
                }
            });
            this.filtrodpto.filtro = dptos
            this.filtros.push(this.filtrodpto)

        }
    }
</script>
