<template>
    <div>
        <CabeceraInterna titulo="Mi Perfil" link="/" />
        <div class="margen-cabecera"></div>
        <div class="container perfil d-flex align-items-center mb-4">
           <div class="mr-3">
               <img src="@/assets/imgs/login.svg" alt="" data-not-lazy>
           </div>
           <div style="width: 100%;">
               <h2>Hola <b>{{this.$store.state.auth.usuario.usr_nombres}}</b></h2>
               <div class="d-flex justify-content-between">
                    <div class="link-rojo mt-1" style="width: 52%">
                        <nuxt-link to="/perfil/constancias">
                            <span class="icon-medal" style="font-weight: bold;"></span> Mis Constancias
                        </nuxt-link>
                    </div>
                    <div class="link-rojo mt-1" style="width: 45%"> 
                        <nuxt-link to="/perfil/calculos">
                            <span class="icon-calculator" style="font-weight: bold;"></span> Mis Cálculos
                        </nuxt-link>
                    </div>
               </div>
           </div>
        </div>
        <HeaderInternaCurso titulo="Capacitaciones Presenciales" :cantidades="cantidadesPresencial" :niveles="nivelesPresencial" info="no"/>
        <HeaderInternaCurso titulo="Capacitaciones en Línea" :cantidades="cantidadesOnline" :niveles="nivelesOnline" info="no"/>
        <div class="container perfil">
            <div class="card mt-4 mb-4">
                <div class="opciones card-body d-flex align-items-center">
                        <div @click="opcion('perfil')" class="col-6 opcion-perfil perfil activo">
                            Mi Perfil
                        </div> 
                        <div @click="opcion('modificar')" class="col-6 opcion-perfil modificar">
                            Mis Datos
                        </div>
                </div>
            </div>
            <div class="contenido">
                <div class="opcion perfil activo">
                    <h2><b>Mi Perfil</b></h2>
                    <div class="logros">
                        <div class="mt-3 mb-3 d-flex justify-content-between align-items-center">
                            <div>
                                <b>TUS LOGROS</b>
                            </div>
                            <div>
                                <div>
                                    <i class="fas fa-list-ul mr-2" @click="ordenar('lista')"></i>
                                    <i class="fas fa-th" @click="ordenar('cuadricula')"></i>
                                </div>
                            </div>
                        </div>
                        <div id="ordenar" class="cuadricula">
                            <div class="logro">
                                <div class="card">
                                    <div class="imagen" :class="{activo: cantidadesPresencial[0].completado == cantidadesPresencial[0].total }">
                                        <img src="@/static/basico.svg" alt="">
                                    </div>
                                    <div class="nombre">
                                        BÁSICO COMPLETADO
                                    </div>
                                </div>
                                <div class="descripcion">
                                    Alcanzaste a completar el nivel básico
                                    <div class="progreso-logro mt-2 mb-1">
                                        <span :style="{ 'width' : (cantidadesPresencial[0].completado/cantidadesPresencial[0].total)*100 + '%' }"></span>
                                    </div>
                                    <div class="numero d-flex justify-content-end">
                                        <b>{{cantidadesPresencial[0].completado}}/{{cantidadesPresencial[0].total}} clases terminadas</b>
                                    </div>
                                </div>
                            </div>
                            <div class="logro">
                                <div class="card">
                                    <div class="imagen" :class="{activo: cantidadesPresencial[1].completado == cantidadesPresencial[1].total }">
                                        <img src="@/static/medalla.svg" alt="">
                                    </div>
                                    <div class="nombre">
                                        AVANZADO COMPLETADO
                                    </div>
                                </div>
                                <div class="descripcion">
                                    Alcanzaste a completar el nivel avanzado
                                    <div class="progreso-logro mt-2 mb-1">
                                        <span :style="{ 'width' : (cantidadesPresencial[1].completado/cantidadesPresencial[1].total)*100 + '%' }"></span>
                                    </div>
                                    <div class="numero d-flex justify-content-end">
                                        <b>{{cantidadesPresencial[1].completado}}/{{cantidadesPresencial[1].total}} clases terminadas</b>
                                    </div>
                                </div>
                            </div>
                            <div class="logro">
                                <div class="card">
                                    <div class="imagen" :class="{activo: cantidadesPresencial[2].completado == cantidadesPresencial[2].total }">
                                        <img src="@/static/complementario.svg" alt="">
                                    </div>
                                    <div class="nombre">
                                        EMPRENDEDOR DRYWALL
                                    </div>
                                </div>
                                <div class="descripcion">
                                    Ahora eres todo un emprendedor en drywall
                                    <div class="progreso-logro mt-2 mb-1">
                                        <span :style="{ 'width' : (cantidadesPresencial[2].completado/cantidadesPresencial[2].total)*100 + '%' }"></span>
                                    </div>
                                    <div class="numero d-flex justify-content-end">
                                        <b>{{cantidadesPresencial[2].completado}}/{{cantidadesPresencial[2].total}} clases terminadas</b>
                                    </div>
                                </div>
                            </div>
                            <div class="logro">
                                <div class="card">
                                    <div class="imagen" :class="{activo: (cantidadesPresencial[0].completado+cantidadesPresencial[1].completado+cantidadesPresencial[2].completado) == (cantidadesPresencial[0].total+cantidadesPresencial[1].total+cantidadesPresencial[2].total) }">
                                        <img src="@/static/formacion.svg" alt="">
                                    </div>
                                    <div class="nombre">
                                        PROGRAMA DE FORMACIÓN
                                    </div>
                                </div>
                                <div class="descripcion">
                                    Completaste el todos los niveles del programa de formación
                                    <div class="progreso-logro mt-2 mb-1">
                                        <span :style="{ 'width' : ((cantidadesPresencial[0].completado+cantidadesPresencial[1].completado+cantidadesPresencial[2].completado)/(cantidadesPresencial[0].total+cantidadesPresencial[1].total+cantidadesPresencial[2].total))*100 + '%' }"></span>
                                    </div>
                                    <div class="numero d-flex justify-content-end">
                                        <b>{{(cantidadesPresencial[0].completado+cantidadesPresencial[1].completado+cantidadesPresencial[2].completado)}}/{{(cantidadesPresencial[0].total+cantidadesPresencial[1].total+cantidadesPresencial[2].total)}} clases terminadas</b>
                                    </div>
                                </div>
                            </div>
                            <div class="logro">
                                <div class="card">
                                    <div class="imagen">
                                        <img src="@/static/trofeo.svg" alt="">
                                    </div>
                                    <div class="nombre">
                                        EXPERTO EN DRYWALL
                                    </div>
                                </div>
                                <div class="descripcion">
                                    Maestro constructor experto en Drywall
                                    <div class="progreso-logro mt-2 mb-1">
                                        <span style="width: 0px"></span>
                                    </div>
                                    <div class="numero d-flex justify-content-end">
                                        <b>Comprobando datos</b>
                                    </div>
                                </div>
                            </div>
                            

                        </div>
                    </div>
                    <div class="proximas">
                        <div class="mt-3 mb-3 d-flex justify-content-between align-items-center">
                            <div>
                                <b>TUS CLASES PRÓXIMAS A COMENZAR</b>
                            </div>
                        </div>
                        <div>
                            <HorarioRecordatorio :horarios="horariosPresencial" link="/capacitaciones/presencial/" tipo="presencial"/>
                        </div>
                        <div class="mt-3 mb-3 d-flex justify-content-between align-items-center">
                            <div>
                                <b>LOS EVENTOS EN QUE QUIERES PARTICIPAR</b>
                            </div>
                        </div>
                        <div>
                            <HorarioRecordatorio :horarios="horariosEvento" link="/eventos/" tipo="evento"/>
                        </div>
                    </div>
                </div>
                <div class="opcion modificar">
                    <ModificarDatos/>
                </div>
            </div>
            <div class="container pb-3 pt-3 logout">
                <span @click="logout">
                    <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
                </span>
            </div>
        </div>
    </div>
</template>

<script>
import HeaderInternaCurso from '@/components/HeaderInternaCurso.vue'
import CabeceraInterna from '@/components/CabeceraInterna.vue'
import ModificarDatos from '@/components/ModificarDatos.vue'
import HorarioRecordatorio from '@/components/HorarioRecordatorio.vue'

import $ from 'jquery'

import { mapState } from 'vuex'

    export default {
        head: {
            title: 'Mi Perfil | Constructores del Futuro'
        },
        layout: 'interna',
        middleware: 'Autenticado',
        data() {
            return {
                nivelesPresencial: [{nivel:1, nombre:'basico'},{nivel:2, nombre:'avanzado'},{nivel:3, nombre:'complementario'}],
                nivelesOnline: [],
            }
        },
        components: {
            HeaderInternaCurso, CabeceraInterna, ModificarDatos, HorarioRecordatorio
        },
        computed:{
            ...mapState(['cantidadesPresencial','cantidadesOnline','horariosPresencial','horariosEvento'])
        },
        methods:{
            logout () {
                var alerta = {
                    titulo: "¿Seguro que quieres cerrar sesión?",
                    contenido: "",
                    botones: [
                        {texto: "SI", color: "verde", link: null, evento: "logout"},
                        {texto: "NO", color: "rojo", link: null, evento: "cerrar"},
                    ]
                }
                this.$store.commit('cambiarAlerta', alerta)
                this.mostrarAlerta()
            },
            opcion(value){
                $(".opcion").removeClass("activo")
                $(".opcion-perfil").removeClass("activo")
                $("."+value).addClass("activo")
            },
            ordenar(value){
                if(value == 'lista') {
                    $("#ordenar").addClass("lista")
                    $("#ordenar").removeClass("cuadricula")
                }
                if(value == 'cuadricula') {
                    $("#ordenar").removeClass("lista")
                    $("#ordenar").addClass("cuadricula")
                }
            }
        }
    }
</script>
