<template>
    <div>
        <CabeceraInterna titulo="Mis Constancias" link="/perfil" />
        <div class="margen-cabecera"></div>
        <div class="container perfil">
            <div class="contenido">
                <div class="opcion constancias activo">
                    <h2><b>Mis Constancias</b></h2>
                    <div>
                        <div class="mt-3 mb-2 d-flex justify-content-between align-items-center">
                            <div>
                                <b>CLASES PRESENCIALES</b>
                            </div>
                        </div>
                        <Constancia :clases="clasesPresencial" tipo="presencial"/>
                        <div class="mt-3 mb-2 d-flex justify-content-between align-items-center">
                            <div>
                                <b>CLASES EN LÍNEA</b>
                            </div>
                        </div>
                        <Constancia :clases="clasesOnline" tipo="online"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import CabeceraInterna from '@/components/CabeceraInterna.vue'
import Constancia from '@/components/Constancia.vue'

import { mapState } from 'vuex'

    export default {
        layout: 'interna',
        middleware: 'Autenticado',
        components: {
            CabeceraInterna, Constancia
        },
        computed:{
            ...mapState(['clasesPresencial','clasesOnline'])
        },

    }
</script>
