<template>
    <div class="pagina-transicion">
        <CabeceraInterna titulo="Capacitaciones en Línea" link="/" />
        <div class="margen-cabecera"></div>
        <HeaderInternaCurso titulo="Capacitaciones en Línea" :cantidades="cantidadesOnline" :niveles="niveles" info="si"/>
        <div class="container">
           <div class="card mt-3 mb-3 d-flex online2" v-for="(item,index) in clasesOnline" :key="index" @click="irClase(item.cls_alias)">
               <div class="foto">
                    <img :data-src="Imagen('clases/'+item.cls_imagen)" alt="" v-lazy-load>
               </div>
               <div class="info">
                   <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div>
                            <div class="texto-sup verde">BÁSICO</div>
                        </div>
                        <div>
                            <div class="nota" v-show="item.int_puntuacion">
                                <span class="gris">Nota alcanzada:</span>
                                <b :class="nota(item.int_puntuacion)">{{item.int_puntuacion}}/100</b>
                            </div>
                        </div>
                    </div>
                   <h2>{{item.cls_nombre}}</h2>
                   <div class="datos mt-2">
                        <div class="tiempo gris">
                            <span class="icon-clock"></span> 36 min
                        </div>
                        <div class="ruta verde">
                            <b v-if="item.int_puntuacion">llevar otra vez</b>
                            <b v-else>llevar curso</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <CondicionesInternaCurso :descripcion="descripcion" titulo="Acerca de este curso"/>
    </div>
</template>

<script>
import HeaderInternaCurso from '@/components/HeaderInternaCurso.vue'
import CondicionesInternaCurso from '@/components/CondicionesInternaCurso.vue'
import CabeceraInterna from '@/components/CabeceraInterna.vue'

import axios from 'axios'
axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'

import $ from 'jquery'

import { mapState } from 'vuex'

    export default {
        head: {
            title: 'Capacitaciones En Línea | Constructores del Futuro'
        },
        layout: 'interna',
        data() {
            return {
                descripcion: {
                    texto: 'estatico',
                    contenido: 'online'
                },
                niveles: []
            }
        },
        components: {
            HeaderInternaCurso, CondicionesInternaCurso, CabeceraInterna
        },
        computed:{
            ...mapState(['clasesOnline','cantidadesOnline'])
        },
        methods:{
            irClase(value) {
                var logueado = this.$store.state.auth.logueado
                if(logueado) {
                    var req = this.requisitoOnline(value)
                    if(req.res){
                        this.mostrarCargador()
                        this.$router.push("/capacitaciones/en-linea/"+value)
                    }
                    else {
                        var alerta = {
                            titulo: "Aviso",
                            contenido: "Necesitas aprobar las siguientes clases antes:<br>" + req.clase,
                            botones: []
                        }
                        this.$store.commit('cambiarAlerta', alerta)
                        this.mostrarAlerta()
                    } 
                }
                else {
                    this.alerta_logueado("/capacitaciones/en-linea/")
                }
            },
            nota(value) {
                if(value > 75) {
                    return "verde"
                }
                if(value < 75 && value > 49) {
                    return "amarillo"
                }
                if(value < 50) {
                    return "rojo"
                }
            }
        }
    }
</script>
