<template>
    <div>
        <CabeceraInterna titulo="Tutoriales y Artículos" link="/articulos" />
        <div class="margen-cabecera articulos">
            <div class="container mb-3">
                <div class="articulo mb-4">
                    <div class="imagen tamano-0">
                        <img :data-src="Imagen('tutoriales/thumb/'+ articulo.ttr_foto)" alt="" v-lazy-load>
                    </div>
                    <youtube v-if="video == 1" :player-vars="{ autoplay: 1, origin: 'http://localhost:32662' }" player-width="100%" :player-height="220" :video-id="articulo.ttr_link" />
                    <img src="@/assets/imgs/play.svg" alt="" class="play" @click="play">
                    <div class="contenido">
                        <div class="texto-sup rojo">{{articulo.ctt_nombre}}</div>
                        <h2>
                            {{articulo.ttr_titulo}}
                        </h2>
                        <div class="fecha mt-3">
                            {{articulo.dia}} {{articulo.mes}}, {{getAnio(articulo.ttr_creacion)}}
                        </div>
                    </div>               
                </div>
                <p class="p1" v-if="articulo.pasos.length == 0">
                    {{articulo.ttr_descripcion}}
                </p>
                <div class="pasos" v-else>
                    <div class="card col-12" v-for="(item, index) in articulo.pasos" :key="index">
                        <div class="card-body">
                            <div class="row mb-4" :class="{reverso: index%2!=0}">
                                <div class="col-6 d-flex align-items-end" :class="{'pl-0': index%2!=0, 'pr-0': index%2==0 }">
                                    <div>
                                        <div class="texto-sup rojo">PASO {{item.ptt_orden}}</div>
                                        <div class="titulo">
                                            <b>{{item.ptt_nombre}}</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="foto">
                                        <img :data-src="Imagen('tutoriales/pasos/'+ item.ptt_foto)" alt="" v-lazy-load>
                                    </div>
                                </div>
                            </div>
                            <p class="p1">
                                {{item.ptt_descripcion}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-4 mb-4">
            <hr>
            <h2 class="mb-2">También te podría interesar</h2>
            <ArticuloCarrusel :articulos="recomendaciones" slice="4"/>
        </div>
    </div>
</template>


<script>

import CabeceraInterna from '@/components/CabeceraInterna.vue'
import Articulo from '@/components/Articulo.vue'
import ArticuloCarrusel from '@/components/ArticuloCarrusel.vue'

import { mapState } from 'vuex'

import $ from 'jquery'

export default {
        head() {
            let titulo = this.articulo.ttr_titulo
            return {
                title: titulo + ' | Artículos | Constructores del Futuro'
            }
        },
layout: 'interna',
        data(){
            return {
                articulo: [],
                video: 0,
                recomendaciones: []
            }
        },
  components: {
        CabeceraInterna, Articulo, ArticuloCarrusel
    },
    computed:{
            ...mapState(['articulos']),
        },
    created(){
            var slug = this.$route.params.slug
            var articulo
            var recomendaciones = []
            this.articulos.forEach(element => {
                if(element.ttr_alias == slug) {
                    articulo = element
                }
                else {
                    recomendaciones.push(element)
                }
            });
            this.articulo = articulo
            this.recomendaciones = recomendaciones
    },
    methods: {
        ready(event){
            this.player = event.target
        },
        play(){
            $(".imagen").css("display","none")
            $(".play").css("display","none")
            this.video = 1
        }
    }
};
</script>
