<template>
    <div>
        <CabeceraInterna titulo="Tutoriales y Artículos" link="/" />
        <div class="margen-cabecera articulos">
            <div class="container">
                <Articulo :titulo="1" tamano="0" :data="principal"/>
                <hr>
                <div id="filters" class="d-flex align-items-center mt-4 mb-4">
                    <div class="col-2 filtro activo" @click="filter('*')" data-filter="*">
                    Todos
                    </div>
                    <div class="col-5 filtro Sistema-Drywall" @click="filter('.Sistema-Drywall')" data-filter="sistema">
                        Sistema Drywall
                    </div>
                    <div class="col-5 filtro Centro-de-ayuda-Constructores-del-Futuro" @click="filter('.Centro-de-ayuda-Constructores-del-Futuro')" data-filter="centro">
                        Centro de Ayuda
                    </div>
                </div>
            </div>
            <div>
              <div id="realizations_entries" class="row grid isotope">
                    <div class="grid-sizer col-6"></div>
                    <div v-for="(item,index) in articulos" :key="index" class="col-6 grid-item" :class="formatSlug(item.ctt_nombre)">
                        <Articulo :titulo="2" :tamano="tamano()" :data="item"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
let Isotope;

if (process.browser) {
  Isotope = require("isotope-layout");
}
import $ from 'jquery'
import { mapState } from 'vuex'

import CabeceraInterna from '@/components/CabeceraInterna.vue'
import Articulo from '@/components/Articulo.vue'


export default {
  head: {
    title: 'Artículos | Constructores del Futuro'
  },
    layout: 'interna',
  data() {
    return {
      iso: null,
      principal: {}
    };
  },
  components: {
        CabeceraInterna, Articulo
    },
    computed: {
        ...mapState(['articulos']),
    },

  created() {
            this.principal = this.articulos[0]
  },
  mounted() {
    this.isotope();
  },

  methods: {
    tamano() {
      let numeros = ["1", "2", "3"];
      const numero = numeros[Math.floor(Math.random()*numeros.length)];
      return numero
    },
    isotope() {
      this.iso = new Isotope(".grid", {
        itemSelector: ".grid-item",
        percentPosition: true,
        masonry: {
          columnWidth: ".grid-sizer"
        }
      });

      this.iso.layout();
    },
    formatSlug: function(data) {
      return data ? data.replace(/ /g, "-").replace(/\./, "_") : "";
    },

    filter: function(slug) {
      let oldActive = $("#filters .activo").first();

      if (slug === oldActive.data("filter")) {
        return;
      }

      let currentActive = $("#filters .filtro" + slug).first();

      currentActive.addClass("activo");

      oldActive.removeClass("activo");

      this.iso.arrange({
        filter: slug
      });
    }
  }
};
</script>

<style lang="scss" scoped>

</style>