<template>
    <div class="pagina-transicion">
        <CabeceraInterna titulo="Archivos en Línea" link="/archivos"/>
        <div class="container margen-cabecera">
            <div class="archivos interna">
                <div class="foto">
                    <img :src="Imagen('material/imagenes/'+archivo.dcm_imagen)" alt="">
                </div>
                <div class="titulo">
                    <span class="texto-sup rojo">{{archivo.cdc_nombre}}</span>
                    <h2>{{archivo.dcm_titulo}}</h2>
                    <div class="contenido mt-3">
                        <button v-if="this.$store.state.auth.logueado" class="btn btn-rojo m-auto" target="_blank" @click="descargar(archivo.dcm_archivo)">DESCARGAR</button>
                        <button v-else class="btn btn-rojo m-auto" @click="alerta_logueado('/archivos/'+archivo.dcm_alias)">DESCARGAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import CabeceraInterna from "@/components/CabeceraInterna"

import { mapState } from 'vuex'

import $ from 'jquery'

import axios from 'axios'
axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'

    export default {
        head() {
            let titulo = this.archivo.dcm_titulo
            return {
                title: titulo + ' | Archivos en Línea | Constructores del Futuro'
            }
        },
        layout: 'interna',
        props: [],
        components: {
            CabeceraInterna
        },
        data(){
            return {
                archivo: {},
                link: process.env.FILE_URL + "material/documentos/",
                calificacion: '',
                botonCalificar: true
            }
        },
        created() {
            var id = this.$route.params.id
            var archivo
            this.archivos.forEach(element => {
                if(element.dcm_alias == id) {
                    archivo = element
                }
            });
            this.archivo = archivo
            this.calificacion = archivo.dcm_calificacion
        },
        computed:{
            ...mapState(['archivos']),
        },
        methods: {
            async descargar(alias){
                var datos = {
                    id: this.archivo.dcm_id,
                    usuario: this.$store.state.auth.usuario.usr_id
                }
                await axios.post(`${process.env.BASE_URL}archivos/descarga`,datos)
                    .then(res => {
                        if(res.data.respuesta){
                            window.open(this.link+alias, '_blank');
                        }
                    })
                
            }
        }
    }
</script>

<style scoped>

input[type="radio"] {
  display: none;
}

label {
  color: grey;
  margin: 3px;
  font-size: 20px;
}

.clasificacion, .clasificacion-no {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.clasificacion label:hover,
.clasificacion label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: #FFB345;
}
</style>