<template>
    <div class="pagina-transicion">
        <Filtro :filtros="filtros" tipo="archivos" :data="archivos"/>
        <CabeceraInterna titulo="Archivos en Línea" link="/"/>
        <div class="container margen-cabecera">
            <div class="d-flex mt-3 mb-3 align-items-center justify-content-between">
                <div class="buscador" style="width:78%">
                    <input type="text" class="form-control" v-model="buscar" placeholder="Buscar">
                    <i class="fas fa-search" @click="buscarPalabra"></i>
                </div>
                <div class="" style="width:22%;text-align:right" @click="mostrarFiltro">
                    Filtros <span class="icon-filter"></span>
                </div>
            </div>
        </div>
        <div class="container archivos">
            <h2>Lo más vistos</h2>
            <div class="mt-2">
                <ArchivoCarrusel :archivos="archivos" slice="6"/>
            </div>
            <div class="mt-3 mb-3">
                <div id="filters" class="card">
                    <div class="card-body d-flex justify-content-center opciones">
                        <div class="col-7 filtro descarga" @click="buscarFiltro('descarga')" data-filter="descarga"> 
                            Ordenar por Descarga
                        </div>
                        <div class="col-5 filtro buscar" data-filter="buscar" style="display:none" >  
                            Búsqueda
                        </div>
                        <div class="col-5 filtro filtrar" data-filter="filtrar" style="display:none" >  
                            Filtro
                        </div>
                    </div>
                </div>
            </div>
            <div class="lista">
                <div class="card mb-3" v-for="(item, index) in filtroArchivos" :key="index" :class="{recomendado: item.dsc_count > 1000, nuevo: getAnio(item.dcm_creacion) == 2019}"
                    @click="irArchivo(item.dcm_alias)">
                    <div class="card-body d-flex align-items-center">
                        <div class="col-3">
                            <img :data-src="Imagen('material/imagenes/'+item.dcm_imagen)" alt="" v-lazy-load style="width:100%">
                        </div>
                        <div class="col-9 pl-0">
                            <div class="texto-sup rojo">{{item.cdc_nombre}}</div>
                            <h3>{{item.dcm_titulo}}</h3>
                            <div class="estrella d-flex">
                                <div class="descarga">
                                    {{item.dsc_count}} descargas
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import CabeceraInterna from "@/components/CabeceraInterna"
import ArchivoCarrusel from "@/components/ArchivoCarrusel"
import Filtro from '@/components/Filtro.vue'

import $ from 'jquery'
import { mapState } from 'vuex'

    export default {
        head: {
            title: 'Archivos en Línea | Constructores del Futuro'
        },
        layout: 'interna',
        props: [],
        components: {
            CabeceraInterna, ArchivoCarrusel, Filtro
        },
        data(){
            return {
                iso: null,
                nuevos: [],
                itemsOccurences: {},
                buscar: "",
                filtros: [
                    { nombre: "categoría" , filtro: [] 
                    },
                   { nombre: "línea de producto" , filtro: [] 
                    }
                ],
            }
        },
        beforeCreate() {
            
        },
        created() {
            var dato = []
            this.archivos.filter(function(currentObject) {
                if (currentObject.dcm_creacion.slice(0,4) > 2018) {
                    dato.push(currentObject)
                }
            });
            this.nuevos = dato
            this.$store.commit('llenarFiltroArchivos', this.archivos)
        },
        computed:{
            ...mapState(['archivos','filtroArchivos'])
        },
        methods: {
            irArchivo(value) {
                this.$router.push("/archivos/"+value)
            },
            buscarFiltro(value){
                this.$store.commit('ordenarArchivos', value)
                this.cambiarFiltroActivo(value)
            },
            buscarPalabra(){
                var dato = []
                if(this.buscar != ""){
                    var buscar = this.buscar.toLowerCase()
                    this.archivos.filter(function(currentObject) {
                        var str = currentObject.dcm_titulo.toLowerCase()
                        var n = str.search(buscar);
                        if (n != -1) {
                            dato.push(currentObject)
                        }
                    });
                    this.$store.commit('llenarFiltroArchivos', dato)
                    this.cambiarFiltroActivo("buscar")
                }
            }
        },
        mounted() {
            var busquedalinea = {};
            var busquedaetiqueta = {};
            var linea = []
            var etiqueta = []
            this.archivos.filter(function(currentObject) {
                if (currentObject.cdc_nombre in busquedalinea) {
                    
                } else {
                    busquedalinea[currentObject.cdc_nombre] = true;
                    linea.push({cat: currentObject.cdc_nombre})
                }
                if (currentObject.etiquetas in busquedaetiqueta) {
                    
                } else {
                    if(currentObject.etiquetas != null){
                    busquedaetiqueta[currentObject.etiquetas] = true
                    etiqueta.push({cat: currentObject.etiquetas})
                    }
                }
            });

            this.filtros[0].filtro = linea
            this.filtros[1].filtro = etiqueta
        }
    }
</script>

