<template>
    <div class="pagina-transicion" style="background: black">
        <CabeceraClase :titulo="clase" link="/capacitaciones/en-linea"/>
        <div class="container examen preguntas">
            <div class="titulo verde">
                <b>EXAMEN</b>
            </div>
            <div class="progreso">
                <span class="barra verde" :style="{ 'width' : porcentaje + '%' }"></span>
            </div>
            <div class="slides">
                <div class="nivel" v-for="(item, index) in examen" :key="index">
                    <div :id="`slide${index}`" class="slide" :class="{activo: index == 0}" :data-id="index">
                        <div class="numero">
                            {{index + 1}}
                        </div>
                        <div>
                            <h2>{{item.prg_nombre}}</h2>
                            <p class="p1">
                                {{item.tpr_instrucciones}}
                            </p>
                        </div>
                        <Alternativa :pregunta="item.prg_id" :alternativas="item.alternativas" :tipo="item.tpr_id" :index="index"/>
                    </div>
                </div>
            </div>
            <div class="container d-flex flex-wrap justify-content-center">
                <div class="col-6">
                    <button class="btn verde anterior" @click="anteriorSlide(index-1)" style="display:none">ATRÁS</button>
                </div>
                <div class="col-6">
                    <button class="btn btn-verde siguiente" @click="siguienteSlide(index+1)">SIGUIENTE</button>
                </div>
                <div class="col-12 mt-2" style="text-align:center">
                    <button v-if="revision == 1" class="btn btn-rojo" @click="revisar">REVISAR RESPUESTAS</button>
                    <button v-else class="btn btn-verde" @click="terminar">TERMINAR EXAMEN</button>
                </div>
            </div>
        </div>
        <div class="container resultado">
            <div class="aprobado" v-if="resultado > 74">
                <img src="@/static/aprobado.png" alt="">
                <h1 class="verde"><b>¡Muy bien!</b></h1>
                <p class="p1">
                    Tu porcentaje de acierto es del <b>{{resultado}}%</b> de las preguntas. <br>
                    Haz aprobado esta clase.
                </p>
                <div class="d-flex justify-content-center">
                    <div class="col-8">
                        <nuxt-link to="/capacitaciones/en-linea/" class="btn btn-verde">VER MÁS CLASES</nuxt-link> 
                    </div>
                </div>
            </div>
            <div class="aprobado" v-else>
                <img src="@/static/desaprobado.png" alt="">
                <h1 class="rojo"><b>¡Oh no!</b></h1>
                <p class="p1">
                    Haz acertado el <b>{{resultado}}%</b> de las preguntas.<br>
                    Para aprobar necesitas un mínimo de 75% de aciertos.
                </p>
                <div class="d-flex justify-content-center">
                    <div class="col-8">
                        <nuxt-link to="/capacitaciones/en-linea/" class="btn btn-rojo">REPETIR CLASE</nuxt-link> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import CabeceraClase from "@/components/CabeceraClase"
import Alternativa from "@/components/Alternativa"
import $ from 'jquery'

import { mapState } from 'vuex'

import axios from 'axios'
axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'

    export default {
        head: {
            title: 'Examen | Capacitaciones En Línea | Constructores del Futuro'
        },
        layout: 'interna',
        middleware: 'Examen',
        data(){
            return {
                porcentaje: 0,
                clase: [],
                index: 0,
                total: 0,
                revision: 0,
                resultado: 0
            }
        },
        components: {
            CabeceraClase, Alternativa
        },
        computed:{
            ...mapState(['slides','intento','examen','idExamen']),
        },
        methods: {
            siguienteSlide(index){
                this.cambiarSlide(index)
                this.index = index
                if(index == this.total) {
                    $(".siguiente").fadeOut()
                }
                else {
                    $(".siguiente").fadeIn()
                    $(".anterior").fadeIn()
                }
                this.porcentaje = index/this.total*100
            },
            anteriorSlide(index){
                this.cambiarSlide(index)
                this.index = index
                if(index == 0) {
                    $(".anterior").fadeOut()
                }
                else {
                    $(".siguiente").fadeIn()
                    $(".anterior").fadeIn()
                }
                this.porcentaje = index/this.total*100
            },
            cambiarSlide(index) {
                $(".slide").removeClass("activo")
                $("#slide"+index).addClass("activo")
            },
            terminar(){
                var total = this.total
                var arreglo = [];
                var dom = $('.alternativas');
                $.each(dom, function(k,v){
                    var aux = {
                        "alternativas": []
                    };
                    var id = parseInt($(v).attr("data-id"));
                    var alternativas = $("input:checked",v);
                    $.each(alternativas, function(j,alternativa){
                        aux.alternativas.push($(alternativa).attr("data-id"));
                    });
                    if(aux.alternativas.length == 0){
                        arreglo.push(id+1);
                    }
                });
                if(arreglo.length == 0){
                    this.revision = 1
                }
                else {
                    var alerta = {
                        titulo: "Todavía no has terminado",
                        contenido: "Te falta responder las preguntas: <br> " + arreglo.join(','),
                        botones: [
                            {texto: "OK", color: "rojo", link: null, evento: "cerrar"}
                        ]
                    }
                    this.$store.commit('cambiarAlerta', alerta)
                    this.mostrarAlerta()
                }
            },
            async revisar(){
                var arreglo = [];
                var dom = $('.alternativas');
                $.each(dom, function(k,v){
                    var aux = {
                        "pregunta" : "",
                        "alternativas": []
                    };
                    aux.pregunta = $(v).attr("data-prg");
                    var alternativas = $("input:checked",v);
                    $.each(alternativas, function(j,alternativa){
                        aux.alternativas.push($(alternativa).attr("data-id"));
                    });
                    arreglo.push(aux);
                });
                var alternativas = {
                    respuestas: arreglo,
                    intento: this.intento,
                    examen: this.idExamen,
                }
                var resultado
                var clase = this.clase
                await axios.post(`${process.env.BASE_URL}slides/revisar`,alternativas)
                    .then(res => {
                        resultado = res.data.respuesta.nota
                        this.$store.commit('actualizarClasesOnline', res.data.respuesta)
                        this.actualizarInfo()
                    })
                this.resultado = resultado
                $(".examen").css("display","none")
                $(".resultado").css("display","flex")
            }
        },
        created(){
            this.clase = this.slides[0].cls_nombre
        },
        mounted(){
            this.total = $(".slide").length - 1
            this.porcentaje = 5
            var alerta = {
                titulo: "Aviso",
                contenido: "Si sales de la página se cerrará tu examen",
                botones: [
                    {texto: "OK", color: "rojo", link: null, evento: "cerrar"}
                ]
            }
            this.$store.commit('cambiarAlerta', alerta)
            this.mostrarAlerta()
            var altura = $(".cabecera").height()
            var contenedor = $(".contenedor").height()
            $(".examen").css("min-height",contenedor - 32 - altura+"px")
            $(".resultado").css("height",contenedor - 32 - altura+"px")
        }
    }
</script>

<style scoped>
  .slides {
      height: 400px;
      position: relative;
      overflow: hidden;
  }
  .slides .slide {
      position: absolute;
      top: 100%;
      height: 100%;
      overflow-y: auto;
      z-index: 0;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 20px;
      text-align: center;
      opacity: 0;
      transition: all .5s;
      width: 100%;
  }
  .slides .slide.activo {
      top: 0;
      z-index: 1;
      opacity: 1;
  }
  .slides img {
      width: 100%;
  }
</style>