<template>
  <div>
    <CabeceraInterna titulo="Calculador de Materiales" link="/" />
          <div class="container calculador">
            <div class="progreso">
                <span class="barra" :style="{ 'width' : porcentaje + '%' }"></span>
            </div>
            <div class="slides">
                <div class="nivel">
                    <div id="slide0" class="slide activo">
                        <div class="numero">
                            1
                        </div>
                        <div>
                            <h2>¿Qué proyecto necesitas calcular?</h2>
                        </div>
                        <div class="alternativas">
                          <div style="width:100%">
                              <div :id="`proyecto${index}`" class="card mb-3 d-flex flex-row" v-for="(item, index) in calculador.proyecto" :key="index" @click="proyecto(item,index)">
                                  <div class="col-4 foto" :style="'background: url(' + Imagen('proyectos/' + item.pry_foto) + ') center center / cover no-repeat;'">
                                  </div>
                                  <div class="col-8">
                                      <div class="card-body">
                                          <h3>{{item.pry_nombre}}</h3>
                                          <p class="p2">
                                              {{item.pry_descripcion}}
                                          </p>
                                          <div class="circulo d-flex justify-content-end">
                                              <span></span>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nivel">
                    <div id="slide1" class="slide">
                        <div class="numero">
                            2
                        </div>
                        <div>
                            <h2>{{pregunta2}}</h2>
                        </div>
                        <div class="alternativas">
                            <div style="width:100%">
                                <div :id="`tipo${index}`" class="card mt-3 mb-3 d-flex flex-row" v-for="(item, index) in calculador.tipo[datoProyecto]" :key="index" @click="tipo(item, index)">
                                    <div class="col-4 foto" :style="'background: url(' + Imagen('proyectos/' + item.tpp_foto) + ') center center / cover no-repeat;'">
                                    </div>
                                    <div class="col-8">
                                        <div class="card-body">
                                            <h3>{{item.tpp_nombre}}</h3>
                                            <div class="circulo d-flex justify-content-end">
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nivel">
                    <div id="slide2" class="slide">
                        <div class="numero">
                            3
                        </div>
                        <div>
                            <h2>{{pregunta3}}</h2>
                        </div>
                        <div class="alternativas">
                            <div style="width:100%" v-if="datoTipo != 18">
                                <div :id="`tipoMaterial${index}`" class="card mt-3 mb-3 d-flex flex-row" v-for="(item, index) in calculador.tipoMaterial[datoTipo]" :key="index" @click="tipoMaterial(item, index)">
                                    <div v-show="datoTipo != 14 && datoTipo != 23" class="col-4 foto" :style="'background: url(' + Imagen('proyectos/' + item.tpp_foto) + ') center center / cover no-repeat;'">
                                    </div>
                                    <div v-if="datoTipo != 14 && datoTipo != 23" class="col-8">
                                        <div class="card-body">
                                            <h3>{{item.tpp_nombre}}</h3>
                                            <p class="p2">
                                                {{item.tpp_descripcion}}
                                            </p>
                                            <div class="circulo d-flex justify-content-end">
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-else class="col-12">
                                        <div class="card-body">
                                            <h3>{{item.tpp_nombre}}</h3>
                                            <div class="circulo d-flex justify-content-end">
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="width:100%" v-else>
                                <div class="card mt-3 mb-3 d-flex flex-row">
                                    <div class="col-12">
                                        <div class="card-body">
                                            <h3>Para esta opción continuar al paso 4</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nivel">
                    <div id="slide3" class="slide">
                        <div class="numero">
                            4
                        </div>
                        <div>
                            <h2>{{resultado.slc_titulorequisito}}</h2>
                        </div>
                        <div class="alternativas">
                            <div style="width:100%">
                                <div class="mb-3 d-flex flex-row" style="width:100%">
                                        <div class="card-body pt-0">
                                            <p class="p1">
                                                {{resultado.slc_descripcionrequisito}}
                                            </p>
                                            <div v-if="JSON.parse(solucionvariable).length == 1">
                                                <slider
                                                    min="1"
                                                    max="100"
                                                    v-model="superficie"
                                                ></slider>
                                                <div class="d-flex justify-content-between" style="font-size: 10px">
                                                    <div>
                                                        <b>1</b>
                                                    </div>
                                                    <div>
                                                        <b>100</b>
                                                    </div>
                                                </div>
                                                <div style="text-align: center">
                                                    Superficie m<sup>2</sup> <input type="text" v-model="superficie" style="border: 1px solid gray; width:70px;    display: inline-block;" class="form-control">
                                                </div>
                                                
                                            </div>
                                            <div v-else>
                                                <slider
                                                    min="0"
                                                    max="100"
                                                    v-model="ancho"
                                                ></slider>
                                                <div class="d-flex justify-content-between" style="font-size: 10px">
                                                    <div>
                                                        <b>1</b>
                                                    </div>
                                                    <div>
                                                        <b>100</b>
                                                    </div>
                                                </div>
                                                <div style="text-align: center">
                                                    Ancho m<sup>2</sup> <input type="text" v-model="ancho" style="border: 1px solid gray; width:70px;    display: inline-block;" class="form-control">
                                                </div>
                                                <slider
                                                    min="0"
                                                    max="100"
                                                    v-model="largo"
                                                ></slider>
                                                <div class="d-flex justify-content-between" style="font-size: 10px">
                                                    <div>
                                                        <b>1</b>
                                                    </div>
                                                    <div>
                                                        <b>100</b>
                                                    </div>
                                                </div>
                                                <div style="text-align: center">
                                                    Largo m<sup>2</sup> <input type="text" v-model="largo" style="border: 1px solid gray; width:70px;    display: inline-block;" class="form-control">
                                                </div>
                                            </div>
                                            
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nivel">
                    <div id="slide4" class="slide">
                        <div class="numero">
                            5
                        </div>
                        <div class="alternativas">
                            <div style="width:100%">
                                <div class="card mb-3 d-flex flex-row" style="width:100%">
                                    <div class="card-body datos">
                                            <div style="text-align:center" class="mb-3">
                                                <h2>Confirme los datos ingresados</h2>
                                            </div>
                                            <div class="tipo">
                                                <div class="izq">
                                                    <b>TIPOLOGÍA:</b>
                                                </div>
                                                <div style="text-align:right">
                                                    {{tipologia}}
                                                </div>
                                            </div>
                                            <div class="tipo">
                                                <div class="izq">
                                                    <b>{{tipoproyecto}}:</b>
                                                </div>
                                                <div style="text-align:right">
                                                    {{nombretipo}}
                                                </div>
                                            </div>
                                            <div class="tipo" v-if="datoTipo != 18">
                                                <div class="izq">
                                                    <b>{{tipomaterial}}:</b>
                                                </div>
                                                <div style="text-align:right">
                                                    {{nombretipomaterial}}
                                                </div>
                                            </div>
                                            <div class="tipo" style="border: none">
                                                <div class="izq">
                                                    <b>{{tiposolucion}}:</b>
                                                </div>
                                                <div style="text-align:right" v-if="JSON.parse(solucionvariable).length == 1"> 
                                                    {{superficie}} m2
                                                </div>
                                                <div style="text-align:right" v-else>
                                                    {{ancho}}x{{largo}} m2
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
            <div class="container d-flex flex-wrap justify-content-center">
                <div class="col-6">
                    <button class="btn rojo anterior" @click="anteriorSlide(indice-1)" style="display:none">ATRÁS</button>
                </div>
                <div class="col-6">
                    <button v-show="completado == 0" class="btn btn-rojo siguiente" @click="siguienteSlide(indice+1)">SIGUIENTE</button>
                    <button v-show="completado == 1" class="btn btn-rojo" @click="calcular">CALCULAR</button>
                </div>
            </div>
        </div>
        <div class="container margen-cabecera materiales" style="display:none">
            <div>
                <h2>Resultado de su cálculo</h2>
            </div>
            <div class="card mt-3 mb-4">
                <div class="card-body pt-3 d-flex align-items-center">
                    <div class="col-4">
                        <div class="foto" :style="'background: url(' + Imagen('proyectos/soluciones/' + resultado.slc_foto) + ') center center / cover no-repeat;'">

                        </div>
                        <div v-if="JSON.parse(solucionvariable).length == 1">
                             <p class="p2 mb-0" style="text-align:center">
                                Superficie calculada:
                            </p>
                            <div class="area" > 
                                {{superficie}}m<sup>2</sup>
                            </div>
                        </div>
                       <div v-else>
                            <p class="p2 mb-0" style="text-align:center">
                                Área calculada:
                            </p>
                            <div class="area">
                                {{ancho}}x{{largo}}m<sup>2</sup>
                            </div>
                       </div>
                    </div>
                    <div class="col-8">
                        <h3>{{resultado.slc_nombre}}</h3>
                        <div class="texto-sup rojo mt-2">RESUMEN DE LA SOLUCIÓN</div>
                        <p class="p2">
                            {{resultado.slc_resumen}}
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <h2>Lista de Materiales</h2>
            </div>
            <div>
                <div class="mt-2 material d-flex" style="margin-bottom: -10px;">
                    <div class="col-9">
                        <span class="texto-sup rojo">DESCRIPCIÓN</span>
                    </div>
                    <div class="col-3" style="text-align:center">
                        <span class="texto-sup rojo">TOTAL</span>
                    </div>
                </div>
                <div class="card pt-2 pb-2 mt-3 d-flex flex-row align-items-center" v-for="(item, index) in materiales.materiales[resultado.slc_id]" :key="index">
                    <div class="col-9">
                        <div class="texto-sup">{{item.lpr_codigo}}</div>
                        <div class="nombre-material">
                            {{item.lpr_nombre}}
                        </div>
                    </div>
                    <div class="col-3 cantidad-material">
                        {{cantidades(item)}} <br> 
                        {{item.lpr_unidad}}
                        
                    </div>
                </div>
            </div>
            <div class="opciones">
                <div class="card mt-3 mb-3">
                    <div class="card-body d-flex">
                        <div class="col-4 p-0" @click="accion('pdf')">
                            <span class="icon-pdf"></span> <br>
                            DESCARGAR PDF
                        </div>
                        <div class="col-4 p-0" @click="accion('correo')">
                            <span class="icon-envelope"></span> <br>
                            ENVIAR AL CORREO
                        </div>
                        <div class="col-4 p-0" @click="nuevo">
                            <span class="icon-calculator"></span> <br>
                            NUEVO CÁLCULO
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pdf">
            <div class="ar" ref="printMe">
                <div class="margen">
                    <center>
                        <img class="logo" src="@/assets/imgs/logo-pdf.png" width="188" height="78" alt="">
                    </center>
			        <div class="carga mt-3">
                        <h1>RESULTADO CÁLCULO DE MATERIAL</h1>
                        <p class="p1">Usted está buscando una solución Eternit para: {{resultado.slc_nombre}}</p>
                        <p class="p1" v-if="JSON.parse(solucionvariable).length == 1">
                            Superficie calculada: {{superficie}}m<sup>2</sup>
                        </p>
                        <p class="p1" v-else>
                            Área calculada: {{ancho}}x{{largo}}m<sup>2</sup>
                        </p>
                        <div class="resumen">
                            <div class="tit">{{resultado.slc_nombre}}</div>
                            <div class="cuadro">
                                <div class="sub">RESUMEN DE LA SOLUCIÓN</div>
                                <p class="p1">
                                    {{resultado.slc_resumen}}
                                </p>
                            </div>
                        </div>
                        <div class="tabla-materiales">
			                <div class="tit">MATERIALES NECESARIOS</div>
			                <div class="area">
                                <table cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <th>CODIGO</th>
                                            <th>DESCRIPCIÓN</th>
                                            <th>UND.</th>
                                            <th>TOTAL&nbsp;</th>
                                        </tr>
                                        <tr v-for="(item, index) in materiales.materiales[resultado.slc_id]" :key="index">
                                            <td>{{item.lpr_codigo}}</td>
                                            <td>{{item.lpr_nombre}}</td>
                                            <td>{{item.lpr_unidad}}</td>
                                            <td>{{cantidades(item)}}</td>
                                        </tr>
                                    </tbody>
                                </table>
			                </div>
		                </div>
                        <br><br>
                        <div style="font-size:11px">- Las cantidades expresadas en este documento son aproximadas, se toma en cuenta un 5% de desperdicio. Las cantidades pueden variar de acuerdo a la complejidad del proyecto. Se recomienda realizar un metrado a detalle para proyectos de mediana a alta complejidad, basados en los planos de arquitectura.<br>- Para los cálculos en Techos, se considera una estructura a dos aguas y depende del proyecto. Despiece de material calculado únicamente para la cobertura.<br>- Considerar que las medidas de los parantes y rieles están en función al espesor de la placa especificada (aplica para placas de yeso y fibrocemento).<br>- Eternit no ofrece ni se hace responsable por el servicio de instalación de sus sistemas constructivos realizados por terceros.<br>- Los precios de venta al público son establecidos por los distribuidores autorizados de Eternit de acuerdo al mercado, pudiendo haber ligeras variaciones de precios entre estos. Si recibe una cotización de un distribuidor, esta será válida SOLO en esa tienda.<br>- Para soporte técnico, comunícate vía whatsapp al 940 493 079 o haz click en el siguiente enlace: <a href="http://bit.ly/2ErmgwH" target="_blank">http://bit.ly/2ErmgwH</a><br>- Para mayor información sobre nuestras soluciones constructivas ingresa a: <a href="http://www.eternit.com.pe/es-es/" target="_blank">http://www.eternit.com.pe/es-es/</a><br>
                        </div>
                    </div>
		        </div>
            </div>
        </div>
        
  </div>
</template>

<script>
  import CabeceraInterna from '@/components/CabeceraInterna.vue'
  import Slider from "vue-custom-range-slider";
  // import the styling, css or scss
  import "vue-custom-range-slider/dist/vue-custom-range-slider.css";
  import $ from 'jquery'

  //import * as pdfmake from 'pdfmake/build/pdfmake';


  

  import { mapState } from 'vuex'



  import axios from 'axios'
  axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'

  export default {
      head: {
          title: 'Calculador de Materiales | Constructores del Futuro'
      },
    layout: 'interna',
    components: {
      Slider, CabeceraInterna
    },
    data() {
      return {
        porcentaje: 0,
        superficie: "0",
        ancho: "0",
        largo: "0",
        pregunta2 : "",
        pregunta3: "",
        pregunta4: {slc_titulorequisito : "", slc_descripcionrequisito: ""},
        datoProyecto: 1,
        datoTipo: 1,
        datoTipoMaterial: 6,
        datoSolucion : 6,
        id : 0,
        indice: 0,
        total: 4,
        tipologia: "",
        tipoproyecto: "",
        nombretipo: "",
        tipomaterial: "",
        nombretipomaterial: "",
        tiposolucion: "",
        solucionvariable : 0,
        completado : 0,
        resultado: {},
        idCalculo: '',
        imagenCalculo: '',
        imagen: ''
      };
    },
    computed: {
        ...mapState(['calculador','materiales']),
    },

  created() {

  },
  mounted() {
    this.porcentaje = 5
  },
  methods: {
    siguienteSlide(index){
        if(this.$store.state.auth.logueado){
            var num = index - 1
            if($("#slide"+num+" .circulo span").hasClass("activo") || num == 3 || (num == 2 && this.datoTipo == 18)){
                this.cambiarSlide(index)
                this.indice = index
                if(index == this.total) {
                    $(".siguiente").fadeOut()
                    this.completado = 1
                }
                else {
                    this.completado = 0
                    $(".siguiente").fadeIn()
                    $(".anterior").fadeIn()
                }
            }
        }
        else {
            this.alerta_logueado("/calculador")
        }
    },
    anteriorSlide(index){
        this.cambiarSlide(index)
        this.indice = index
        this.completado = 0
        if(index == 0) {
            $(".anterior").fadeOut()
            $(".circulo span").removeClass("activo")
            this.datoTipo = 1
            this.datoTipoMaterial = 1
            this.datoSolucion = 6
            this.id = 0
        }
        else {
            $(".siguiente").fadeIn()
            $(".anterior").fadeIn()
        }
    },
    cambiarSlide(index) {
        $(".slide").removeClass("activo")
        $("#slide"+index).addClass("activo")
        this.porcentaje = (index/this.total)*100
      },
    proyecto(value, index) {
      this.datoProyecto = value.pry_id
      this.pregunta2 = value.pry_preguntasubdivision
      this.tipologia = value.pry_nombre
      this.tipoproyecto = value.pry_subdivision
      $("#slide0 .circulo span").removeClass("activo")
      $("#proyecto"+index+" .circulo span").addClass("activo")
    },
    tipo(value, index) {
      this.datoTipo = value.tpp_id
      this.pregunta3 = value.tpp_preguntasubdivision
      this.nombretipo = value.tpp_nombre
      this.tipomaterial = value.tpp_subdivision
      $("#slide1 .circulo span").removeClass("activo")
      $("#tipo"+index+" .circulo span").addClass("activo")
      if(value.tpp_id == 18) {
        this.tiposolucion = this.calculador.solucion[18][0].slc_titulorequisito
        this.solucionvariable = this.calculador.solucion[18][0].slc_variables
        this.resultado = this.calculador.solucion[18][0]
        this.superficie = "0"
        this.ancho = "0"
        this.largo = "0"
      }
    },
    tipoMaterial(value, index) {
      this.datoTipoMaterial = value.tpp_id
      this.nombretipomaterial = value.tpp_nombre
      var soluc = value.tpp_id
      this.tiposolucion = this.calculador.solucion[soluc][0].slc_titulorequisito
      this.solucionvariable = this.calculador.solucion[soluc][0].slc_variables
      this.resultado = this.calculador.solucion[soluc][0]
        this.superficie = "0"
        this.ancho = "0"
        this.largo = "0"

      $("#slide2 .circulo span").removeClass("activo")
      $("#tipoMaterial"+index+" .circulo span").addClass("activo")
    },
    async calcular(){
        if(JSON.parse(this.solucionvariable).length == 1){
            var pasos = [
                {tipo: 'superficie', superficie: this.superficie}
            ]
        }
        else {
            var pasos = [
                {tipo: 'area', largo: this.largo, ancho: this.ancho}
            ]
        }
            
        $('.calculador').css("display","none")
        $('.materiales').css("display","block")

        const el = this.$refs.printMe;
        const options = {
            type: 'dataURL'
        }
        this.imagen = await this.$html2canvas(el, options);

        var datos = {
            usuario: this.$store.state.auth.usuario.usr_id,
            pasos: JSON.stringify(pasos),
            solucion: this.resultado.slc_id,
            imagen: this.imagen
        }
        await axios.post(`${process.env.BASE_URL}calculador/resultado`,datos)
            .then(res => {
                this.idCalculo = res.data.id
                this.imagenCalculo = res.data.nombre
                this.$store.dispatch('getCalculos')
            })
    },
    cantidades(value) {
        var Parser = require('expr-eval').Parser;
        var parser = new Parser();
        
        var tipo = JSON.parse(this.solucionvariable).length
        var cant,total
        var formula = value.lpr_formula
        
        var expr = parser.parse(formula);
                
        if(tipo == 1) {
            var scope = {a: this.superficie}
            total = Math.ceil(expr.evaluate({a: this.superficie}));
        }
        else {
            var scope = {a: this.ancho, b:this.largo}
            cant = expr.evaluate({a: this.ancho, b: this.largo})
            if(value.lpr_codigo != 'SIN COD' && value.lpr_codigo != 'SINCOD'){
                total = Math.round(Math.ceil(scope.a*scope.b*cant)*1.1);
            }
            else {
                total = Math.round(scope.a*scope.b*cant);
            }
        }
        return total
    },
    async accion(value){
        this.mostrarCargador()

        let pdfName = 'calculo_de_material';

        var datos = {
            accion: value,
            usuario: this.$store.state.auth.usuario.usr_id,
            id: this.idCalculo,
            imagen: this.imagenCalculo
        }
        var imagen = this.imagen

        if(value == 'pdf'){
            if (process.browser) {
            const jsPDF = require('jspdf');
            require('jspdf-autotable');
            var doc = new jsPDF("p", "mm", "a4");
            var width = doc.internal.pageSize.width;
            var height = doc.internal.pageSize.height;
            doc.addImage(imagen, 'JPEG', 0, 0, width, height); 
            doc.save(pdfName + '.pdf');
            }
            

        }
        await axios.post(`${process.env.BASE_URL}calculador/accion`,datos)
        this.cerrarCargador()

    },
    nuevo(){
        $(".calculador").css("display","block")
        $(".materiales").css("display","none")
        this.anteriorSlide(0)
    }
  }
  };
</script>

<style scoped>
  .slider {
      margin: 0;
      margin-top: 60px;
  }

  .slides {
      height: 500px;
      position: relative;
      overflow: hidden;
  }
  .slides .slide {
      position: absolute;
      top: 100%;
      height: 100%;
      z-index: 0;
      padding-top: 20px;
      padding-left: 3px;
      padding-right: 3px;
      text-align: center;
      width: 100%;
  }
  .slides .slide.activo {
      top: 0;
      z-index: 1;
  }
  .slides img {
      width: 100%;
  }

</style>

