<template>
    <div>
        <CabeceraInterna titulo="Productos" link="/" />
        <div id="producto" class="modal-producto">
            <div class="mb-4 d-flex justify-content-end align-items-center">
                <span class="icon-close rojo" @click="cerrarProducto"></span>
            </div>
            <div class="mb-4">
                <div class="mb-3" style="text-align: center">
                  <img :src="Imagen('/productos/'+ producto.prd_imagen)" alt="" width="80%">
                </div>
                <div class="contenido mb-3">
                    <h2>{{producto.prd_titulo}}</h2>
                    <div v-html="producto.prd_contenido">

                    </div>
                </div>
                <div class="contenido mb-3">
                  <p class="p1">
                    <b>BENEFICIOS</b>
                  </p>
                    <p class="p1" v-html="producto.prd_beneficio">

                    </p>

                  <p class="p1">
                    <b>APLICACIONES</b>
                  </p>
                  <p class="p1" v-html="producto.prd_aplicacion">

                    </p>
                </div>
            </div>
            <center>
                <a v-show="producto.prd_archivo != null" :href="`${link}${producto.prd_archivo}`" target="_blank" class="btn btn-rojo">DESCARGAR PDF</a>
            </center>
        </div>
        <div class="margen-cabecera productos">
            <div class="container">
                <p class="p1">
                  El sistema drywall se compone de diferentes productos. <br>
                Conócelos aquí.
                </p>
                <div id="filters" class="d-flex align-items-center mt-4 mb-4">
                    <div data-filter="pared-interior" @click="filter('.pared-interior')" class="col-4 filtro pared-interior">
                        Pared Interior
                    </div> 
                    <div data-filter="pared-exterior" @click="filter('.pared-exterior')" class="col-4 filtro pared-exterior">
                        Pared Exterior
                    </div>
                    <div data-filter="complemento" @click="filter('.complemento')" class="col-4 filtro complemento">
                        Complemento
                    </div>
                </div>
              </div>
                <div id="realizations_entries" class="row grid isotope">
                    <div class="grid-sizer col-6"></div>
                    <div v-for="item in productos" :key="item.id" :class="`col-6 grid-item ${item.prd_cat}`" @click="verProducto(item)">
                        <div class="card col-12 mb-3">
                            <div class="card-head imagen">
                              <img :src="Imagen('/productos/'+ item.prd_imagen)" alt="" width="100%">
                            </div>
                            <div class="card-body">
                              <h3>{{item.prd_titulo}}</h3>
                              <p class="p2">
                                {{item.prd_descripcion}}
                              </p>
                              <div class="mt-2 d-flex justify-content-end rojo">
                                <span v-show="item.prd_contenido != null" style="font-size: 10px">
                                  Mas info <span class="icon-info"></span>
                                </span>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
 
            
        </div>
    </div>
</template>

<script>
let Isotope;

if (process.browser) {
  Isotope = require("isotope-layout");
}
import $ from 'jquery'
import CabeceraInterna from '@/components/CabeceraInterna.vue'
import { mapState } from 'vuex'

export default {
  head: {
    title: 'Productos | Constructores del Futuro'
  },
    layout: 'interna',
  data() {
    return {
      iso: null,
      producto : {},
      link: process.env.FILE_URL + "files/productos/pdf/" 
    };
  },
  components: {
        CabeceraInterna
    },
    computed: {
        ...mapState(['productos']),
    },
    created() {
      this.producto = this.productos[0]
    },
  mounted() {
    this.isotope();
  },

  methods: {
    isotope() {
      this.iso = new Isotope(".grid", {
        itemSelector: ".grid-item",
        percentPosition: true,
        masonry: {
          columnWidth: ".grid-sizer"
        }
      });

      this.iso.layout();
    },
    formatSlug: function(data) {
      return data ? data.replace(/ /g, "-").replace(/\./, "_") : "";
    },

    filter: function(slug) {
      let oldActive = $("#filters .activo").first();

      if (slug === oldActive.data("filter")) {
        return;
      }

      let currentActive = $("#filters .filtro" + slug).first();

      currentActive.addClass("activo");

      oldActive.removeClass("activo");

      this.iso.arrange({
        filter: slug
      });
    },
    verProducto(value) {
      if(value.prd_contenido != null){
        this.producto = value
        this.mostrarProducto()
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.productos .grid .col-6 {
    min-height: auto;
}
</style>