<template>
    <div id="alerta" class="fondo-alerta">
            <div class="col-12 alerta">
                <i class="fas fa-times" @click="cerrarAlerta"></i>
                <div class="titulo">
                    <h2>{{titulo}}</h2>
                </div>
                <div class="contenido">
                    <p class="p1" v-html="contenido">
                        
                    </p>
                </div>
                <div class="botones d-flex justify-content-center">
                    <div v-for="(item, index) in botones" :key="index" class="col-6">
                        <div v-if="item.link != null" :class="`${item.color}`" @click="irDestino(item.link)">{{item.texto}}</div>
                        <div v-if="item.evento == 'cerrar'" :class="`${item.color}`" @click="cerrarAlerta">{{item.texto}}</div>
                        <div v-if="item.evento == 'inscribir'" :class="`${item.color}`" @click="inscripcion(item.id)">{{item.texto}}</div>
                        <div v-if="item.evento == 'desinscribir'" :class="`${item.color}`" @click="quitarInscripcion(item.id)">{{item.texto}}</div>
                        <div v-if="item.evento == 'logout'" :class="`${item.color}`" @click="logout()">{{item.texto}}</div>
                    </div>
                </div>
            </div>
    </div>
</template>

<script>
    import { mapActions } from 'vuex'

    import axios from 'axios'
    axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'

    const Cookie = process.client ? require('js-cookie') : undefined

    export default {
        data() {
            return {
                token: this.$store.state.auth.token,
            }
        },
        props: ['titulo','contenido','botones'],
        methods: {
            irDestino(link){
                this.cerrarAlerta()
                this.$router.push(link)
            },
            inscripcion(value){
                this.hacerInscripcion(value)
            },
            async logout(){
                Cookie.remove('auth')
                this.$router.push("/")
                this.$store.commit('setAuth', null)
                this.actualizarInfo()

                await axios.post(`${process.env.BASE_URL}usuarios/cerrar`, {token: this.token})
                
            },
            ...mapActions(['hacerInscripcion','quitarInscripcion']),

        },
    }
</script>

<style scoped>
    .btn {
        padding: 6px 12px;
        width: 100%;
    }
    a {
        display: block;
    }
</style>