<template>
    <div>
        <div v-if="tipo == 1" class="alternativas" :data-prg="pregunta" :data-id="index">
            <div v-for="(alternativa, index2) in JSON.parse(alternativas)" :key="index2">
                <input :id="alternativa.alt_id" type="radio" :name="`respuesta${index}`" class="moverCheck" :data-id="alternativa.alt_id" :data-correcta="alternativa.alt_correcta">
                <label :for="alternativa.alt_id" class="card col-12">
                    {{alternativa.alt_nombre}}
                </label> 
            </div>
        </div>

        <div v-if="tipo == 2" class="alternativas" :data-prg="pregunta" :data-id="index">
            <div v-for="(alternativa, index2) in JSON.parse(alternativas)" :key="index2">
                <input :id="alternativa.alt_id" type="radio" :name="`respuesta${index}`" class="moverCheck" :data-id="alternativa.alt_id" :data-correcta="alternativa.alt_correcta">
                <label :for="alternativa.alt_id" class="card col-12">
                    {{alternativa.alt_nombre}} <br>
                    <img :data-src="Imagen('cursos/slides/alternativas/'+alternativa.alt_imagen)" alt="" v-lazy-load>
                </label> 
            </div>
        </div>

        <div v-if="tipo == 3" class="alternativas" :data-prg="pregunta" :data-id="index">
            <div v-for="(alternativa, index2) in JSON.parse(alternativas)" :key="index2">
                <input :id="alternativa.alt_id" type="checkbox" :name="`respuesta${index}`" class="moverCheck" :data-id="alternativa.alt_id" :data-correcta="alternativa.alt_correcta">
                <label :for="alternativa.alt_id" class="card col-12">
                    {{alternativa.alt_nombre}}
                </label> 
            </div>
        </div>

        <div v-if="tipo == 4" class="alternativas" :data-prg="pregunta" :data-id="index">
            <div v-for="(alternativa, index2) in JSON.parse(alternativas)" :key="index2">
                <input :id="alternativa.alt_id" type="checkbox" :name="`respuesta${index}`" class="moverCheck" :data-id="alternativa.alt_id" :data-correcta="alternativa.alt_correcta">
                <label :for="alternativa.alt_id" class="card col-12">
                    {{alternativa.alt_nombre}} <br>
                    <img :data-src="Imagen('cursos/slides/alternativas/'+alternativa.alt_imagen)" alt="" v-lazy-load>
                </label> 
            </div>
        </div>

        <div v-if="tipo == 5" class="alternativas" :data-prg="pregunta" :data-id="index">
            <div v-for="(alternativa, index2) in JSON.parse(alternativas)" :key="index2">
                <input :id="alternativa.alt_id" type="radio" :name="`respuesta${index}`" class="moverCheck" :data-id="alternativa.alt_id" :data-correcta="alternativa.alt_correcta">
                <label :for="alternativa.alt_id" class="card col-12">
                    {{alternativa.alt_nombre}}
                </label> 
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        props: ['pregunta','alternativas','tipo','index'],
        methods: {
 
        },
    }
</script>

<style scoped>
   input[type="radio"], input[type="checkbox"]{ 
      display: none; 
   } 
</style>