<template>
    <div class="archivos" style="width:300px">
        <client-only> <!-- important to add no-ssr-->
            <carousel :items="2" :dots="false" :nav="false" :loop="false" :lazyLoad="true">
                <div class="card archivo foto" v-for="(item, index) in archivos.slice(0, slice)" :key="index">
                    <nuxt-link :to="`/archivos/${item.dcm_alias}`">
                        <img :data-src="Imagen('material/imagenes/'+item.dcm_imagen)" alt="" v-lazy-load>
                    </nuxt-link>
                </div>
            </carousel>
        </client-only>
    </div>
</template>

<script>
    export default {
        props: ['archivos','slice'],
    }
</script>