<template>
    <div>
        <nuxt-link :to="`/articulos/${data.ttr_alias}`">
            <div class="articulo mb-4">
                <div :class="`imagen tamano-${tamano}`">
                    <img :data-src="Imagen('tutoriales/thumb/'+ data.ttr_foto)" alt="" v-lazy-load>
                </div>
                <div class="contenido">
                    <div class="texto-sup rojo">{{data.ctt_nombre}}</div>
                    <h2 v-if="titulo == 1">
                        {{data.ttr_titulo}}
                    </h2>
                    <h3 v-if="titulo == 2">
                        {{data.ttr_titulo}}
                    </h3>
                    <div class="fecha mt-3">
                        {{data.dia}} {{data.mes}}, {{getAnio(data.ttr_creacion)}}
                    </div>
                </div>               
            </div>
        </nuxt-link>
    </div>
</template>

<script>
    export default {
        props: ['titulo','tamano','data']
    }
</script>
