<template>
    <div class="articulos-carrusel" style="width:300px">
        <client-only> <!-- important to add no-ssr-->
            <carousel :items="1" :dots="false" :nav="false" :loop="false" :lazyLoad="true">
                <div class="d-flex articulo align-items-center" v-for="(item, index) in articulos.slice(0, slice)" :key="index" @click="irArticulo(item.ttr_alias)">
                    <div class="col-4 p-0 foto">
                        <img :data-src="Imagen('tutoriales/thumb/'+item.ttr_foto)" alt="" v-lazy-load>
                    </div>
                    <div class="col-8">
                        <div class="texto-sup rojo">{{item.ctt_nombre}}</div>
                        <h3>
                            {{item.ttr_titulo}}
                        </h3>
                    </div>
                </div>
            </carousel>
        </client-only>
    </div>
</template>

<script>
    export default {
        props: ['articulos','slice'],
        components: {
            
        },
        methods: {
            irArticulo(value){
                this.$router.push('/articulos/'+value)
            }
        }
    }
</script>