<template>
    <div>
        <div id="popup" class="fondo-popup">
            <div class="popup">
                <div class="d-flex justify-content-end">
                    <span class="icon-close rojo" @click="cerrarPopup"></span>
                </div>
                <center>
                    <img src="@/assets/imgs/logo-negro.svg" alt="">
                </center>
                <div>
                    <p class="p1">
                    Te damos la bienvenido <b>{{nombre}} {{apellido}}</b> a Constructores del Futuro.
                    Ahora ya puedes empezar a capacitarte con nuestros cursos en línea
                    y presencial. 
                    No te olvides de terminar de llenar tus datos en la sección de tu perfil,
                    asi podremos darte mejores beneficios.
                    </p>
                </div>
                
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                nombre: this.$store.state.auth.usuario.usr_nombres,
                apellido: this.$store.state.auth.usuario.usr_apellidos
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>