<template>
    <div>
        <div class="container margen-cabecera">
            <div :class="`presencial-titulo col-12 mt-3 mb-3 nivel nivel-${nivel(horario.nvl_id)}`">
                <div :class="`texto-sup ${nivel(horario.nvl_id)}`">{{horario.nvl_nombre}}</div>
                <h2>{{horario.cls_nombre}}</h2>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        head() {
            let titulo = this.horario.cls_nombre
            let nivel = this.horario.nvl_id
            let categoria = ''
            console.log(nivel)
            if(nivel == 4){
                categoria = 'Eventos'
            }
            else {
                categoria = 'Capacitaciones Presenciales'
            }
            return {
                title: titulo + ' | ' + categoria + ' | Constructores del Futuro'
            }
        },
        props: ['horario']
    }
</script>

