<template>
    <div class="cabecera home pt-3 pb-3">
        <nuxt-link to="/"><img src="@/assets/imgs/logo.svg" alt="" data-not-lazy></nuxt-link>
        <i class="far fa-user-circle" @click="mostrarMenu"></i>
    </div>
</template>