<template>
    <div>
        <div class="container pt-3 pb-3 cabecera interna">
            <b>{{titulo}}</b>  
            <nuxt-link :to="link" class=""><i class="fas fa-chevron-left"></i></nuxt-link>  
        </div>
    </div>
</template>

<script>
    export default {
        props: ['titulo','link']
    }
</script>
