<template>
    <div>
        <div class="container pt-3 pb-3 cabecera clase">
            <div class="texto-sup verde">BÁSICO</div>
            <h3>{{titulo}}</h3>
            <nuxt-link :to="link" class=""><i class="fas fa-chevron-left"></i></nuxt-link>  
        </div>
    </div>
</template>

<script>
    export default {
        props: ['titulo','link']
    }
</script>
