<template>
    <div id="cargador" class="cargador-fondo">
        <div class="cargador">
            <div class="preloader"></div>
            <h2>Cargando</h2>
        </div>
    </div>
</template>


