<template>
    <div class="descripcion">
        <div class="capa" @click="cerrar">
        </div>
        <div id="info-interna" class="info-interna curso-acercade">
                <span class="barragris" v-touch:tap="cerrar">

                </span>
                <div class="contenido">
                    <h2 class="mb-3">
                        {{titulo}}
                    </h2>
                    <div v-if="descripcion.texto == 'estatico'">
                        <div v-if="descripcion.contenido =='presencial'">
                            <p class="p1">
                            Nuestras capacitaciones presenciales se distribuyen en 3 módulos: Básico, Avanzado y Complementario. 
                            En estas capacitaciones aprenderás junto a nuestros técnicos expertos y profesores la correcta 
                            instalación de los productos, así como herramientas para manejar tu negocio y profesionalizar más tu trabajo.
                            </p>
                            <p class="p1">
                            <b>Constancia digital:</b>
                            </p>
                            <p class="p1">
                            Al finalizar cada capacitación obtienes una constancia digital, la cual se guarda en tu perfil 
                            de constructores del futuro (aplica para Lima Metropolitana y Callao).
                            </p>
                            <p class="p1">
                            <b>Medición del progreso:</b>
                            </p>
                            <p class="p1">
                            Tu avance es medido en nuestra página y se muestra en tu perfil mientras vas llevando cada capacitación 
                            (aplica para Lima Metropolitana y Callao).
                            </p>
                            <p class="p1">
                            <b>Avance progresivo:</b>
                            </p>
                            <p class="p1">
                            Para llevar capacitaciones del módulo avanzado, primero debes completar todo el módulo básico.
                            </p>
                            <p class="p1">
                            <b>Módulo complementario sin requisitos:</b>
                            </p>
                            <p class="p1">
                            Para llevar capacitaciones del módulo complementario no hay capacitaciones requisito que debas llevar.
                            </p>
                            <p class="p1">
                            <b>Toma en cuenta:</b>
                            </p>
                            <p class="p1">
                            Al completar los tres módulos y aprobar las evaluaciones finales, formarás parte de la ceremonia 
                            de graduación en la cual recibirás una certificación final (aplica para Lima Metropolitana y Callao).
                            </p>
                            <p class="p1">
                            <b class="rojo">IMPORTANTE</b>
                            </p>
                            <p class="p1">
                            La estructura de capacitaciones presenciales se está desarrollando en su totalidad actualmente 
                            solo en Lima Metropolitana y Callao.
                            </p>
                            <p class="p1">
                            Las capacitaciones presenciales para ciudades fuera del departamento de Lima se encuentran en “Ferias y Eventos”. 
                            Estas no están separadas por módulos, ni aplican evaluaciones finales, certificación final ni ceremonia de graduación. 
                            Muy pronto desarrollaremos la estructura de capacitaciones presenciales en su totalidad también en Provincia.
                            </p>
                        </div>
                        <div v-if="descripcion.contenido =='online'">
                            <p class="p1">
                            Nuestras capacitaciones en línea te enseñarán diferentes contenidos acerca de la instalación de nuestros productos, 
                            así como herramientas para manejar tu negocio y profesionalizar más tu trabajo, en cualquier momento y 
                            lugar que desees directamente desde nuestra web.
                            </p>
                            <ul>
                                <li>
                                    <p class="p1">
                                        <b>Constancia digital:</b> Al finalizar cada capacitación obtienes una constancia digital, 
                                        la cual se guarda en tu perfil de Constructores del Futuro.
                                    </p>
                                </li>
                                <li>
                                    <p class="p1">
                                        <b>Medición del progreso:</b> Tu avance es medido en nuestra página y se muestra en tu 
                                        perfil mientras vas llevando cada capacitación.
                                    </p>
                                </li>
                                <li>
                                    <p class="p1">
                                        <b>Avance progresivo:</b> Para llevar capacitaciones del módulo avanzado, primero debes completar 
                                        todo el módulo básico. 
                                    </p>
                                </li>
                                <li>
                                    <p class="p1">
                                        <b>Módulo complementario sin requisitos:</b> Para llevar capacitaciones del módulo complementario no hay 
                                        capacitaciones requisito que debas llevar.
                                    </p>
                                </li>
                                <li>
                                    <p class="p1">
                                        <b>Toma en cuenta:</b> Por completar estas capacitaciones no se realizan ceremonias de graduación 
                                        ni se otorgan certificaciones finales.
                                    </p>
                                </li>
                            </ul>
                            <p class="p1">
                                Da click a la capacitación que quieras tomar y lleva todo el contenido de la misma. 
                                Solo así se contabilizará tu avance y obtendrás una constancia de participación digital 
                                por capacitación llevada.
                            </p>
                        </div>
                    </div>
                    <div v-if="descripcion.texto == 'dinamico'">
                        <div v-html="descripcion.contenido">

                        </div>
                    </div>
                </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import Vue2TouchEvents from 'vue2-touch-events'

    import $ from 'jquery'

    Vue.use(Vue2TouchEvents)

    export default {
        props: ['descripcion','titulo'],
        methods: {
            cerrar(event) {
                var altura = $(".contenedor").height() 
                $(".info-interna").css("transition-duration",".4s").css("bottom", (105 - altura)+"px").css("opacity",0.1)
                $(".contenedor").css("overflow-y","visible").css("height","auto")
                $(".descripcion .capa").css("transition-duration",".4s").css("height","0").css("opacity",0)
            }
        }
    }
</script>

