<template>
    <div>
        <div :id="tipo">
            <div class="card mb-3" v-for="(item, index) in filtrarConstancias(clases)" :key="index">
                <div class="card-body d-flex align-items-center">
                        <div class="col-9">
                            <div :class="`texto-sup ${nivel(item.nvl_id)}`">{{item.nvl_nombre}}</div>
                            <h3>{{item.cls_nombre}}</h3>
                        </div>
                        <div class="col-3">
                            <a target="_blank" :class="`btn btn-${nivel(item.nvl_id)} descargar`" :href="`${certificado}certificado/${item.cls_id}/${id}`">
                                <i class="fas fa-graduation-cap"></i>
                            </a>
                        </div>
                </div>
            </div>
        </div>
        <div v-if="cantidad == 0">
            <center>
                <b>No has terminado ninguna clase {{tipo}} todavía</b>
            </center>
        </div>
    </div>
</template>

<script>
import $ from 'jquery'
    export default {
        data() {
            return {
                id: this.$store.state.auth.usuario.usr_id,
                certificado: "",
                cantidad: null
            }
        },
        props: ['clases','tipo'],
        created(){
            this.certificado = process.env.BASE_URL
        },
        methods:{
            filtrarConstancias(data){
                return data.filter(function(currentObject) {
                    if (currentObject.completo != 1) {
                        return false;
                    } else {
                        return true;
                    }
                });
            },
        },
        mounted(){
            this.cantidad = $("#"+this.tipo+" .card").length
        }
    }
</script>
