<template>
    <div>
        <CabeceraHorario :horario="horario"/>
        <div class="container detalle-horario">
           <div class="col-12 pt-4">
               <div class="detalle d-flex">
                   <div class="contenedor-icono">
                        <span class="icon-calendar"></span>
                    </div>
                    <div>
                        {{horario.dianombre}}, {{horario.dia}} de {{horario.mes}}
                    </div>
               </div>
               <div class="detalle d-flex">
                   <div class="contenedor-icono">
                        <span class="icon-marker"></span>
                    </div>
                    <div>
                        <b>{{horario.lgr_nombre}}</b> <br>
                        {{horario.lgr_direccion}} <br>
                        {{horario.ubg_departamento}} <br> 
                        {{horario.ubg_provincia}} <br>
                        {{horario.ubg_distrito}}
                    </div>
               </div>
               <div class="detalle d-flex">
                   <div class="contenedor-icono">
                        <span class="icon-clock"></span>
                    </div>
                    <div>
                        {{formatoHora(horario.hrr_inicio)}} - {{formatoHora(horario.hrr_final)}}
                    </div>
               </div>
               <div class="detalle d-flex">
                   <div class="contenedor-icono">
                        <span class="icon-user"></span>
                    </div>
                    <div>
                        {{horario.hrr_afororeal}} personas
                    </div>
               </div>
           </div>
           
       </div>
    </div>
</template>

<script>
import CabeceraHorario from "@/components/CabeceraHorario"

    export default {
        data(){
            return {
                horario: [],
            }
        },
        props: ['horarios'],
        components: {
            CabeceraHorario
        },
        created() {
            var id = this.$route.params.id
            var horario
            this.horarios.forEach(element => {
                if(element.hrr_id == id) {
                    horario = element
                }
            });
            this.horario = horario
        },
    }
</script>

