<template>
        <div id="filtro" class="filtros">
            <div class="mb-4 d-flex justify-content-between align-items-center">
                <h2>Filtros</h2>
                <span class="icon-close rojo" @click="cerrarFiltro"></span>
            </div>
            <div class="opciones">
                <div class="mb-4">
                    <div>
                        <div class="box">
                            <input id="todos" type="checkbox" name="filtro" class="moverCheck" @click="cambiarFiltro('todos')" data-nombre="todos">
                            <label for="todos">Ver todos</label>
                            <span class="check"></span>
                        </div>
                    </div>
                </div>
                <div class="mb-4" v-for="(item, index) in filtros" :key="index" style="position:relative; z-index:0">
                    <div class="categoria mb-3">
                        POR {{item.nombre}}
                    </div>
                    <div>
                        <div class="box" v-for="(filtro, index2) in item.filtro" :key="index2">
                            <input :id="`${item.nombre}${index2}`" type="checkbox" :name="'filtro'+index" class="moverCheck" @click="cambiarFiltro(filtro.cat)" :data-nombre="filtro.cat">
                            <label :for="`${item.nombre}${index2}`">{{filtro.cat}}</label>
                            <span class="check"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="boton-filtro">
                <button class="btn btn-rojo mt-2" @click="filtrar">FILTRAR</button>
            </div>
        </div>
</template>

<script>
    import $ from 'jquery'

    import { mapState } from 'vuex'

    export default {
        data() {
            return {
                buscar: '',
                filtro0: '',
                filtro1: '',
                filtro2: ''
            }
        },
        props: ['filtros','tipo','data'],
        computed:{
            ...mapState(['horariosPresencial','horariosEvento','archivos','locales','marcadores'])
        },
        methods: {
            cambiarFiltro(value){
                if(value == 'todos'){
                    this.buscar = 'todos'
                    $("input").prop("checked", false)
                    $("input[name='filtro']").prop("checked", true)
                }
                else {
                    this.buscar = ''
                    $("input[name='filtro']").prop("checked", false)
                    var seen = {}
                    var filtro0 = []
                    var filtro1 = []
                    var filtro2 = []
                    $("input:checked").each(function(index) {
                        var name = $(this).attr('name')
                        var cat = $(this).attr('data-nombre')
                        if(name == 'filtro0'){
                            filtro0.push(cat)
                        }
                        if(name == 'filtro1'){
                            filtro1.push(cat)
                        }
                        if(name == 'filtro2'){
                            filtro2.push(cat)
                        }
                    });
                    this.filtro0 = filtro0
                    this.filtro1 = filtro1
                    this.filtro2 = filtro2
                }
            },
            filtrar(){
                var filtro0 = this.filtro0
                var filtro1 = this.filtro1
                var filtro2 = this.filtro2
                var todosfiltro0 = []
                var todosfiltro1 = []
                var todosfiltro2 = []
                var buscarfiltro0 = []
                var buscarfiltro1 = []
                var buscarfiltro2 = []
                $("input").each(function(index) {
                    var name = $(this).attr('name')
                    var cat = $(this).attr('data-nombre')
                    if(filtro0.length == 0 && name == 'filtro0'){
                        todosfiltro0.push(cat)
                    }
                    if(filtro1.length == 0 && name == 'filtro1'){
                        todosfiltro1.push(cat)
                    }
                    if(filtro2.length == 0 && name == 'filtro2'){
                        todosfiltro2.push(cat)
                    }
                });
                if(filtro0.length == 0){
                    buscarfiltro0 = todosfiltro0
                }
                else {
                    buscarfiltro0 = filtro0
                }
                if(filtro1.length == 0){
                    buscarfiltro1 = todosfiltro1
                }
                else {
                    buscarfiltro1 = filtro1
                }
                if(filtro2.length == 0){
                    buscarfiltro2 = todosfiltro2
                }
                else {
                    buscarfiltro2 = filtro2
                }
                var dato0 = []
                var dato1 = []
                var dato2 = []
                if(this.tipo == "horarios"){
                    this.data.filter(function(currentObject) {
                        var filtro = $.inArray(currentObject.nvl_nombre, buscarfiltro0)
                        if(filtro != -1){
                            dato0.push(currentObject)
                        }
                    });
                    dato0.filter(function(currentObject) {
                        var filtro = $.inArray(currentObject.ubg_departamento, buscarfiltro1)
                        if(filtro != -1){
                            dato1.push(currentObject)
                        }
                    });
                    dato1.filter(function(currentObject) {
                        var filtro = $.inArray(currentObject.mes, buscarfiltro2)
                        if(filtro != -1){
                            dato2.push(currentObject)
                        }
                    });
                    if(this.buscar == 'todos') {
                        this.$store.commit('llenarFiltroHorarios', this.horariosPresencial)
                    }
                    else {
                        this.$store.commit('llenarFiltroHorarios', dato2)
                    }
                }
                if(this.tipo == "eventos"){
                    this.data.filter(function(currentObject) {
                        var filtro = $.inArray(currentObject.ubg_departamento, buscarfiltro0)
                        if(filtro != -1){
                            dato0.push(currentObject)
                        }
                    });
                    dato0.filter(function(currentObject) {
                        var filtro = $.inArray(currentObject.mes, buscarfiltro1)
                        if(filtro != -1){
                            dato1.push(currentObject)
                        }
                    });
                    if(this.buscar == 'todos') {
                        this.$store.commit('llenarFiltroHorariosEvento', this.horariosEvento)
                    }
                    else {
                        this.$store.commit('llenarFiltroHorariosEvento', dato1)
                    }
                }
                if(this.tipo == "archivos"){
                    this.data.filter(function(currentObject) {
                        var filtro = $.inArray(currentObject.cdc_nombre, buscarfiltro0)
                        if(filtro != -1){
                            dato0.push(currentObject)
                        }
                    });
                    dato0.filter(function(currentObject) {
                        var filtro = $.inArray(currentObject.etiquetas, buscarfiltro1)
                        if(filtro != -1){
                            dato1.push(currentObject)
                        }
                    });
                    if(this.buscar == 'todos') {
                        this.$store.commit('llenarFiltroArchivos', this.archivos)
                    }
                    else {
                        this.$store.commit('llenarFiltroArchivos', dato1)
                    }
                    this.cambiarFiltroActivo("filtrar")
                }
                if(this.tipo == "locales"){
                    this.data.filter(function(currentObject) {
                        if(buscarfiltro0.length == 5) {
                            dato0.push(currentObject)
                        }
                        else {
                            if(currentObject.lineasproducto != null){
                                var arreglo = currentObject.lineasproducto.split(",");
                                $.each(arreglo, function(index, value) {
                                    var filtro = $.inArray(value, buscarfiltro0)
                                    if(filtro != -1){
                                        dato0.push(currentObject)
                                    }
                                });
                            }
                        }
                    });
                    dato0.filter(function(currentObject) {
                        var filtro = $.inArray(currentObject.departamento, buscarfiltro1)
                        if(filtro != -1){
                            dato1.push(currentObject)
                        }
                    });
                    if(this.buscar == 'todos') {
                        this.$store.commit('llenarFiltroLocales', this.locales)
                        this.$store.commit('renderMap',false)
                        this.$nextTick(() => {
                            this.$store.commit('renderMap',true)
                        });
                    }
                    else {
                        this.$store.commit('llenarFiltroLocales', dato1)
                        this.$store.commit('renderMap',false)
                        this.$nextTick(() => {
                            this.$store.commit('renderMap',true)
                        });
                    }
                }
                this.cerrarFiltro()
            }
        },

    }
</script>
