<template>
    <div>
        <div class="container">
            <div v-if="info != 'no'">
                <div class="row curso-header align-items-center">
                    <div class="col-6">
                        <div class="opcion d-flex" @click="mostrarContenedorDebajo">
                            <div class="contenedor-icono">
                                <span class="icon-about rojo"></span>
                            </div>
                             <div>Acerca de este curso</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="link-rojo" v-if="this.$store.state.auth.logueado">
                            <nuxt-link to="/perfil/constancias"><span class="icon-medal" style="font-weight: bold;"></span> Descargar constancias</nuxt-link>
                        </div>
                    </div>
                </div>           
            </div>
            <div v-if="this.$store.state.auth.logueado">
                <p v-if="info == 'no'" class="p1">{{titulo}}</p>
                <div class="row curso-grafica justify-content-center">
                    <div class="col-4" v-for="(item, index) in niveles" :key="index">
                        <div class="barras">
                            <div class="d-flex justify-content-center align-items-center">
                                <div :class="`d-flex align-items-end barra item.nombre`" :id="`barra${index}`">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="cantidad">
                                    <b>{{cantidades[index].completado}}/{{cantidades[index].total}}</b>
                                </div>
                            </div>
                            <div class="mt-2">
                                <b>{{item.nombre}}</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="progreso">
                    <span class="barra" :style="{ 'width' : porcentaje + '%' }"></span>
                    <div class="d-flex justify-content-end rojo"><span>{{avance}}/{{total}} clases terminadas</span></div>
                </div> 
            </div>         
        </div>
    </div>
</template>

<script>
    import $ from 'jquery'

    export default {
        props: ['titulo','cantidades','niveles','info'],
        data() {
            return {
                avance: 0,
                total: 0,
                porcentaje: 0,
            }
        },
        created(){
            var total = 0
            var avance = 0
            this.cantidades.forEach(element => {
                total = total + element.total
                avance = avance + element.completado
            })
            this.total = total
            this.avance = avance
            this.porcentaje = (avance/total)*100
            if(this.porcentaje == 0){
                this.porcentaje = 2
            }
        },
        mounted(){
            var index = 0;
            this.cantidades.forEach(element => {
                var porc = Math.round((element.completado/element.total*100),1)
                if(porc > 25) {
                    $("#barra"+index+" span:nth-child(1)").addClass('activo')
                }
                if(porc > 60) {
                    $("#barra"+index+" span:nth-child(2)").addClass('activo')
                }
                if(porc > 98) {
                    $("#barra"+index+" span:nth-child(3)").addClass('activo')
                }
                index++;
            })
        }
    }
</script>
