<template>
    <div style="width:300px">
        <client-only> <!-- important to add no-ssr-->
            <carousel :items="1" :dots="false" :nav="false" :loop="false">
                <div :class="`card col-12 horario nivel nivel-${nivel(item.nvl_id)}`" v-for="(item, index) in horarios.slice(0, 4)" :key="index">
                    <div class="card-head d-flex align-items-center">
                        <div class="dia">
                            <b>{{item.dia}}</b> 
                        </div>
                        <div class="fecha">
                            <div :class="`mes ${nivel(item.nvl_id)}`">{{item.mes}}</div>
                            <div class="dianombre gris">{{item.dianombre}}, {{getAnio(item.hrr_fecha)}}</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="titulo">
                            <div :class="`texto-sup ${nivel(item.nvl_id)}`">{{item.nvl_nombre}}</div>
                            <h2>{{item.cls_nombre}}</h2>
                        </div>
                        <div class="datos">
                            <div class="d-flex">
                                <div class="contenedor-icono">
                                    <span class="icon-marker"></span>
                                </div>
                                <div>{{item.ubg_distrito}}</div>
                            </div>
                            <div class="d-flex">
                                <div class="contenedor-icono">
                                    <span class="icon-clock"></span>
                                </div>
                                <div>{{formatoHora(item.hrr_inicio)}} - {{formatoHora(item.hrr_final)}}</div>
                            </div>
                        </div> 
                        <center>
                            <nuxt-link v-if="item.horarioinscrito == 0" :to="`${link}/${item.cls_alias}`" :class="`btn btn-${nivel(item.nvl_id)} m-auto`">VER HORARIO</nuxt-link>
                            <button v-else :class="`btn btn-gris m-auto`" @click="alerta_desinscribir(item.hrr_id)">DESINSCRIBIRME</button>
                        </center>
                    </div>
                </div>
            </carousel>
        </client-only>
    </div>
</template>

<script>

export default {
  props: ['horarios','link'],
}
</script>

