<template>
    <div>
        <div :id="tipo" v-show="cantidad != 0">
            <div class="card mb-3" v-for="(item, index) in filtrarHorario(horarios)" :key="index" @click="irHorario(item.cls_alias, item.hrr_id)">
                <div :class="`campana campana-${nivel(item.nvl_id)}`">
                    <i class="fas fa-bell"></i>
                </div>
                <div class="card-body d-flex align-items-center">
                    <div class="col-3">
                        <div class="fecha">
                            {{item.dia}}
                        </div>
                        <div class="dia">
                            {{item.dianombre}}
                        </div>
                    </div>
                    <div class="col-6 p-0">
                        <div :class="`texto-sup ${nivel(item.nvl_id)}`">{{item.nvl_nombre}}</div>
                        <h3>{{item.cls_nombre}}</h3>
                        <div class="lugar mt-2 d-flex">
                            <div class="contenedor-icono">
                                <span class="icon-marker"></span> 
                            </div>
                            <div>
                                {{item.ubg_distrito}}
                            </div>
                        </div>
                    </div>
                    <div :class="`hora col-3 ${nivel(item.nvl_id)}`">
                        {{formatoHora(item.hrr_inicio)}}
                    </div>
                </div>
            </div>
        </div>
        <div v-if="cantidad == 0">
            <center>
                <b>No tienes horarios próximos</b>
            </center>
        </div>
    </div>
</template>

<script>
import $ from 'jquery'
    export default {
        data() {
            return {
                cantidad: 0
            }
        },
        props: ["horarios","link","tipo"],
        methods: {
            irHorario(clase,id){
                this.$router.push(this.link+clase+"/"+id)
            },
            filtrarHorario(data){
                return data.filter(function(currentObject) {
                    if (currentObject.horarioinscrito != 1) {
                        return false;
                    } else {
                        return true;
                    }
                });
            },
        },
        mounted(){
            this.cantidad = $("#"+this.tipo+" .card").length
        }
    }
</script>

