<template>
    <div>
        <CabeceraHorario :horario="horario"/>

        <!--<GMap
            ref="gMap"
            :center="center"
            :options="{fullscreenControl: false, zoomControl: false, styles: mapStyle}"
            :zoom="zoom"
            >
            <GMapMarker
                v-for="(location, index) in marcadores"
                :key="index"
                :position="{lat: location.lat, lng: location.lng}"
                :options="{icon: location.lat === currentLocation.lat ? pins.selected : pins.notSelected}"
                @click="puntero(location, index)"
            >
            </GMapMarker>
        </GMap>-->
        <div class="container presencial lista-horarios">
            <div class="card mt-3 mb-3" :class="`info-${index} info-${nivel(horario.nvl_id)}`" v-for="(item, index) in filtrar(horarios)" :key="index">
                <div class="detalle">
                    <span class="icon-info" @click="irHorario(horario.cls_alias,item.hrr_id)"></span>
                </div>
                <div class="info" :class="{ basico: horario.nvl_id == 1, avanzado: horario.nvl_id == 2, complementario: horario.nvl_id == 3, evento: horario.nvl_id == 4}" @click="cambiarHorario(index)">
                    <div :class="`liston liston-${nivel(item.nvl_id)}`" v-if="item.horarioinscrito == 1">
                        YA ESTÁS INSCRITO
                    </div>
                    <div class="card-body d-flex">
                        <div class="col-4 d-flex align-items-center justify-content-center">
                            <div style="text-align: center; line-height: 1.2;">
                                <span :class="`dianombre ${nivel(horario.nvl_id)}`">{{item.dianombre}}</span>
                                <div class="dia">
                                {{item.dia}}
                                </div>
                                <div class="mes gris">
                                {{item.mes}}
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="lugar">
                                <div class="texto">
                                    <div class="contenedor-icono">
                                        <span class="icon-marker"></span>
                                    </div>
                                    <div>
                                        <b>{{item.lgr_nombre}}</b>
                                    </div>
                                </div>
                                <div class="texto">
                                    <div class="contenedor-icono">
                                        <span class="icon-clock"></span>
                                    </div>
                                    <div>
                                        {{formatoHora(item.hrr_inicio)}} - {{formatoHora(item.hrr_final)}}
                                    </div>
                                    
                                </div>
                                <div class="texto">
                                    <div class="contenedor-icono">
                                        <span class="icon-user"></span>
                                    </div>
                                    <div>
                                        {{item.hrr_afororeal}} personas
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-presencial pb-2 pt-2">
            <div class="col-12 d-flex justify-content-between align-items-center" style="height:36px">
                <div>
                    <div v-if="this.$store.state.auth.logueado && horario.cls_condiciones != '' " class="rojo" @click="mostrarContenedorDebajo"><b>CONDICIONES</b></div>
                </div>
                <div>
                    <div class="boton" v-if="this.$store.state.auth.logueado">
                        <button v-if="horario.horarioinscrito == 0" :class="`btn btn-${nivel(horario.nvl_id)}`" @click="alerta_inscribir(horario.hrr_id)">INSCRIBIRME</button>
                        <button v-else :class="`btn btn-gris`" @click="alerta_desinscribir(horario.hrr_id)">DESINSCRIBIRME</button>
                    </div>
                    <div v-else>
                        <button :class="`btn btn-${nivel(horario.nvl_id)}`" @click="alerta_logueado('/capacitaciones/presenciales/'+horario.cls_alias)">INSCRIBIRME</button>
                    </div>
                </div>
            </div>
        </div>
        <CondicionesInternaCurso :descripcion="descripcion" titulo="Condiciones"/>
    </div>
</template>

<script>
import CondicionesInternaCurso from "@/components/CondicionesInternaCurso"
import CabeceraHorario from "@/components/CabeceraHorario"

import $ from 'jquery'

    export default {
        data(){
            return {
                horario: {},
                horariosTodos: [],
                descripcion: {
                    texto: 'dinamico',
                    contenido: ''
                },
                lat: '',
                long: '',
                mapTypeId: "roadmap",
                marcadores: [],
                center: { lat: -3.350235, lng: 111.995865 },
                zoom: 8,
                currentLocation: {},
                pins: {
                selected: "https://proyectos.picnic.pe//eternit/constructoresdelfuturo/api-cdf/files/marker.png",
                notSelected: "https://proyectos.picnic.pe//eternit/constructoresdelfuturo/api-cdf/files/elipse2.svg"
                },
                mapStyle: [
                    {mapTypeId: "roadmap"}
                ],
                renderMap: false
            }
        },
        components: {
            CondicionesInternaCurso, CabeceraHorario
        },
        props: ['horarios','tipo'],
        created() {
            var slug = this.$route.params.slug
            var horario
            var horariosTodos = []
            var marcadores = []
            this.horarios.forEach(element => {
                if(element.cls_alias == slug) {
                    horariosTodos.push(element)
                    horario = element
                    var coordenadas = element.lgr_coordenadas
                    var arraylist = coordenadas.split(",")
                    var lat = Number(arraylist[0])
                    var lng = Number(arraylist[1])
                    var position = { lat: lat, lng: lng }
                    marcadores.push(position)
                }
            });
            this.marcadores = marcadores
            this.horario = horariosTodos[0]
            this.descripcion.contenido = horario.cls_condiciones
            this.horariosTodos = horariosTodos
            this.center = this.marcadores[0];
            this.currentLocation = this.marcadores[0]
        },
        mounted(){
            var titulo = $(".presencial-titulo").height()
            var altura = $(".fondo-alerta").height()
            var lista = altura - titulo - 341 
            $(".lista-horarios").css("height",lista+"px")
            $("card").removeClass("activo")
            $(".info-0").addClass("activo")
        },
        methods: {
            puntero(value, index){
                this.currentLocation = value
                $(".card").removeClass("activo")
                $(".info-"+index).addClass("activo")
            },
            irHorario(clase, id){
                if(this.$store.state.auth.logueado){
                    if(this.tipo == 'presencial'){
                        this.$router.push('/capacitaciones/presenciales/'+clase+'/'+id)
                    }
                    if(this.tipo == 'evento'){
                        this.$router.push('/eventos/'+clase+'/'+id)
                    }
                }
                else {
                    if(this.tipo == 'presencial'){
                        this.alerta_logueado('/capacitaciones/presenciales/'+clase)
                    }
                    if(this.tipo == 'evento'){
                        this.alerta_logueado('/eventos/'+clase)
                    }
                }
            },
            cambiarHorario(value){
                //this.$refs.gMap.map.setCenter(this.marcadores[value]);
                //this.$refs.gMap.map.setZoom(14);
                this.currentLocation = this.marcadores[value]
                $(".card").removeClass("activo")
                $(".info-"+value).addClass("activo")
                this.horario = this.horariosTodos[value]
            },
            filtrar(data) {
                var seen = {};
                var horario = this.horario
                return data.filter(function(currentObject) {
                    if (currentObject.cls_nombre != horario.cls_nombre) {
                        return false;
                    } else {
                        seen[currentObject.cls_nombre] = true;
                        return true;
                    }
                });
            }
        }
    }
</script>

<style scoped>
.vue-map-container {
  height: 200px;
  width: 100%;
}
</style>