<template>
    <div>
        <div v-if="filtroHorarios.length != 0">
            <div class="presencial calendario activo mt-3 mb-3" v-for="(mes, index) in filtrarMes(filtroHorarios)" :key="index">
                    <div class="mb-3">
                        <h2>{{mes.mes}}, {{ getAnio(mes.hrr_fecha) }}</h2>
                    </div>
                    <div class="row linea" v-for="(item, index) in filtrarFecha(filtroHorarios, mes)" :key="index">
                        <div class="punteada"></div>
                    <div class="col-2">
                        <div class="mt-4">
                            <div class="dia">{{item.dia}}</div>
                            <div class="dianombre">{{item.dianombre}}</div>
                        </div>
                    </div>
                    <div class="col-10 pl-4">
                        <div :class="`card col-12 mb-3 nivel nivel-${nivel(horario.nvl_id)}`" v-for="(horario, index) in filtrarHorario(filtroHorarios, item)" :key="index" @click="irClase(horario.cls_alias)">
                            <div class="card-body">
                                <span :class="`texto-sup ${nivel(horario.nvl_id)}`">{{horario.nvl_nombre}}</span>
                                <h2>{{horario.cls_nombre}}</h2>
                                <div class="lugar mt-3 d-flex justify-content-between">
                                    <div class="d-flex">
                                        <div class="contenedor-icono">
                                            <span class="icon-marker"></span>
                                        </div> 
                                        <div>{{horario.ubg_distrito}}</div>
                                    </div>
                                    <div :class="nivel(horario.nvl_id)">
                                        <b>ver horarios</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else style="text-align:center" class="pt-3">
            <h2><b>¡Lo sentimos!</b></h2>
            <p class="p1">
                No encontramos resultados para tu búsqueda
            </p>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['filtroHorarios','tipo'],
        methods: {
            irClase(value){
                if(this.tipo == 'evento') {
                    this.$router.push("/eventos/"+value)
                }
                if(this.tipo == 'presencial') {
                    this.$router.push("/capacitaciones/presencial/"+value)
                }
            },
            filtrarMes(data) {
                var seen = {};
                var activos = {};
                return data.filter(function(currentObject) {
                    if (currentObject.mes in seen) {
                        return false;
                    } else {
                        seen[currentObject.mes] = true;
                        return true;
                    }
                });
            },
            filtrarFecha(data, item) {
                var seen = {};
                return data.filter(function(currentObject) {
                    if (currentObject.hrr_fecha in seen) {
                        return false;
                    } else {
                        if(currentObject.mes == item.mes) {
                            seen[currentObject.hrr_fecha] = true;
                            return true;
                        }
                        else {
                            return false;
                        }
                    }
                });
            },
            filtrarHorario(data, item){
                var seen = {};
                return data.filter(function(currentObject) {
                    if (currentObject.hrr_fecha != item.hrr_fecha) {
                        return false;
                    } else {
                        seen[currentObject.hrr_fecha] = true;
                        return true;
                    }
                });
            },
        }
    }
</script>
