<template>
    <div id="login" class="login">
        <div class="container">
            <img src="@/assets/imgs/logo-negro.svg" alt="">
        </div>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style lang="scss" scoped>

</style>