<template>
    <div id="menu" class="contenedor-menu" v-touch:moving="menu" v-touch:end="fin">
        <div class="menu">
            <div class="col-12 pt-3 mb-5 d-flex justify-content-between align-items-center">
                <img src="@/assets/imgs/logo.svg" alt="" data-not-lazy>
                <i class="fas fa-times" @click="cerrarMenu"></i>
            </div>
            <div v-if="this.$store.state.auth.logueado" class="col-12 d-flex align-items-center mb-3">
                <div class="foto mr-3">
                    <img src="@/assets/imgs/login.svg" alt="">
                </div>
                <div>
                    <h2>Hola <b>{{this.$store.state.auth.usuario.usr_nombres}}</b></h2>
                    <nuxt-link to="/perfil"><span class="rojo" style="font-size: 12px">Mi Perfil</span></nuxt-link>
                </div>
            </div>
            <div class="col-12 menu-opciones">
                <ul id="nav">
                    <li>
                        <div @click="mostrarSubmenu" class="d-flex justify-content-between">
                            <div>
                                Capacitaciones
                            </div>
                            <div style="margin-right: 15px;">
                                <span id="icono1" :class="{'icon-plus' : sub == true, 'icon-minus' : sub == false }"></span>
                            </div>
                        </div>
                        <div id="submenu" class="sub-opciones" :class="{'altura' : sub == false }">
                            <div class="mt-2 d-flex align-items-center">
                                <span class="icon-triangle"></span>Presenciales (No disponible)
                            </div>
                            <div class="mt-2 d-flex align-items-center" @click="irDestino('/capacitaciones/en-linea/')">
                                <span class="icon-triangle"></span>En Línea
                            </div>
                        </div>
                    </li>
                    <li @click="irDestino('/donde-comprar')">
                        Dónde comprar
                    </li>
                    <li @click="irDestino('/archivos')">    
                        Archivos en Línea
                    </li>
                    <li @click="irDestino('/productos')">
                        Productos
                    </li>
                    <li @click="irDestino('/articulos')">
                        Artículos
                    </li>
                    <li @click="irDestino('/calculador')">
                        Calculador
                    </li>
                    <li @click="irDestino('/beneficios')">
                        Beneficios
                    </li>
                </ul>
            </div>
            <div class="col-12 mt-4 menu-opciones-footer">
                <ul>
                    <li class="card p-0 pt-2 pb-2">
                        <a href="https://api.whatsapp.com/send?phone=51940493079" target="_blank">
                        <div class="col-12 d-flex align-items-center">
                            <div class="mr-2">
                                <img src="@/assets/imgs/wssp.svg" alt="">
                            </div>
                            <div>
                                Asistencia Técnica
                            </div>
                            <i class="fas fa-angle-right"></i>
                        </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 mt-4" v-if="!this.$store.state.auth.logueado">
                <nuxt-link to="/ingresar" class="btn btn-rojo">INGRESAR</nuxt-link>
            </div>
        </div>
    </div>
</template>

<script>

    import Vue from 'vue'
    import Vue2TouchEvents from 'vue2-touch-events'

    import $ from 'jquery'

    Vue.use(Vue2TouchEvents)
    const Cookie = process.client ? require('js-cookie') : undefined


    export default {
          data() {
                return {
                    distancia : 101,
                    sub: true,
                }
            },
        methods: {
            irDestino(value) {
                this.$router.push(value)
            },
            menu(event) {
                var x = event.touches[0].clientX;
                this.distancia = x
                x = 280 - x
                $(".contenedor-menu").css("transition-duration","0s").css("transform","translateX(-"+x+"px)")
            },
            fin(){
                var x = this.distancia
                var ancho = 100
                if(x < ancho){
                    $(".contenedor-menu").css("width","300px")
                    $(".contenedor-menu").css("transition-duration","0.2s").css("transform","translateX(-280px)")
                }
                else{
                    $(".contenedor-menu").css("width","100%")
                    $(".contenedor-menu").css("transition-duration","0.2s").css("transform","translateX(0)")
                    var x = 101
                }
            },
            mostrarSubmenu(){
                this.sub = !this.sub
            },
        },
    }
</script>

<style lang="scss" scoped>

</style>