<template>
    <div>
        <h2><b>Modificar mis Datos</b></h2>
        <div class="datos">
            <div class="mt-3 mb-3 d-flex justify-content-between align-items-center">
                <div>
                    <b>TUS DATOS</b>
                </div>
            </div>
            <div>
                <div class="campo">
                    <div class="nombre">
                        Nombres
                    </div>
                    <input type="text" class="card form-control" v-model="nombre">
                </div>
                <div class="campo">
                    <div class="nombre">
                        Apellidos
                    </div>
                    <input type="text" class="card form-control" v-model="apellido">
                </div>
                <div class="campo">
                    <div class="nombre">
                        Correo Electrónico
                    </div>
                    <input type="text" class="card form-control" v-model="correo">
                </div>
                <div class="campo">
                    <div class="nombre">
                        Tipo de Documento
                    </div>
                    <select v-model="tipodoc" class="card form-control">
                        <option value="DNI">DNI</option>
                        <option value="CE">CARNE DE EXTRANJERIA</option>
                        <option value="PASAPORTE">PASAPORTE</option>
                    </select>
                </div>
                <div class="campo">
                    <div class="nombre">
                        Número de Documento
                    </div>
                    <input type="text" class="card form-control" v-model="numdoc">
                </div>
                <div class="campo">
                    <div class="nombre">
                        Teléfono
                    </div>
                    <input type="text" class="card form-control" v-model="telefono">
                </div>
                <div class="campo">
                    <div class="nombre">
                        Fecha de Nacimiento
                    </div>
                    <input type="date" class="card form-control" v-model="fechanac">
                </div>
                <div class="campo">
                    <div class="nombre">
                        Especialidad
                    </div>
                    <select name="ocupacion" class="card form-control" v-model="ocupacion">
                        <option value="1">Albañilería</option>
                        <option value="2">Ingeniería/Arquitectura</option>
                        <option value="3">Carpintería</option>
                        <option value="4">Drywall</option>
                        <option value="5">Electricidad</option>
                        <option value="6">Gasfitería</option>
                        <option value="7">Maestro de obra</option>
                        <option value="8">Pintura</option>
                        <option value="9">Vidriería</option>
                    </select>
                </div>
                <div class="campo">
                    <div class="nombre">
                        Distrito
                    </div>
                    <vue-simple-suggest
                        v-model="distrito"
                        :list="distritos"
                        :filter-by-query="true"
                        :styles="autocomplete">
                    <!-- Filter by input text to only show the matching results -->
                    </vue-simple-suggest>
                </div>
                <button class="btn btn-rojo d-flex m-auto" @click="guardar()">GUARDAR</button>
            </div>
        </div>
    </div>
</template>

<script>
import VueSimpleSuggest from 'vue-simple-suggest'
import 'vue-simple-suggest/dist/styles.css'

import axios from 'axios'
axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'

const Cookie = process.client ? require('js-cookie') : undefined

import { mapState } from 'vuex'

    export default {
        data() {
            return {
                id: this.$store.state.auth.usuario.usr_id,
                nombre: this.$store.state.auth.usuario.usr_nombres,
                apellido: this.$store.state.auth.usuario.usr_apellidos,
                correo: this.$store.state.auth.usuario.usr_email,
                tipodoc: this.$store.state.auth.usuario.usr_tipodoc,
                numdoc: this.$store.state.auth.usuario.usr_numdoc,
                telefono: this.$store.state.auth.usuario.usr_celular,
                fechanac: this.$store.state.auth.usuario.usr_nacimiento,
                ocupacion: this.$store.state.auth.usuario.ocp_id,
                codigo: this.$store.state.auth.usuario.ubg_id,
                clave: this.$store.state.auth.usuario.usr_clave,
                distrito: '',
                autocomplete : {
                    defaultInput : "form-control card",
                },
                opcionesAlerta : {
                    toast: true,
                    position: 'bottom-end',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    icon: 'error',
                    title: ''
                }
            }
        },
        components: {
            VueSimpleSuggest
        },
        computed:{
            ...mapState(['ubigeo','distritos'])
        },
        created(){
            var codigo = this.codigo
            var nombredistrito = ''
            this.ubigeo.forEach(element => {
                if(element.value == codigo) {
                    nombredistrito = element.label
                }
            })
            this.distrito = nombredistrito
        },
        methods: {
            async guardar(){
                var usuario = {
                    id: this.id,
                    nombre: this.nombre,
                    apellido: this.apellido,
                    correo: this.correo,
                    tipodoc: this.tipodoc,
                    numdoc: this.numdoc,
                    telefono: this.telefono,
                    fechanac: this.fechanac,
                    ocupacion: this.ocupacion,
                    codigo: '',
                    distrito: this.distrito,
                }
                this.ubigeo.forEach(element => {
                    if(element.label == usuario.distrito) {
                        usuario.codigo = element.value
                    }
                })
                var valido = this.validar(usuario)
                if(valido) {
                    var exito = false
                    var usuario
                    var error
                    this.mostrarCargador()
                    await axios.post(`${process.env.BASE_URL}usuarios/editar`,usuario)
                    .then(res => {
                        if(res.data.error){
                            error = res.data.error
                        }
                        else {
                            exito = true
                            var nuevo = {
                                usuario: res.data.usuario,
                                token: this.$store.state.auth.token,
                                logueado: true
                            }
                            this.$store.commit('setAuth', nuevo)
                            Cookie.set('auth', nuevo)
                        }
                    })
                    this.cerrarCargador()
                    if(!exito) {
                        if(error == "telefono")
                            this.opcionesAlerta.title = "El número de teléfono ya se encuentra registrado para otro usuario."
                        if(error == "doc")
                            this.opcionesAlerta.title = "El documento de identidad ya se encuentra registrado para otro usuario."
                        if(error == "correo")
                            this.opcionesAlerta.title = "El correo electrónico ya se encuentra registrado para otro usuario."
                        this.$swal(this.opcionesAlerta);
                    }
                    else {
                        var alerta = {
                            titulo: "Modificaste tus datos con éxito",
                            contenido: "",
                            botones: [
                                {texto: "OK", color: "verde", link: null, evento: "cerrar"},
                            ]
                        }
                        this.$store.commit('cambiarAlerta', alerta)
                        this.mostrarAlerta()
                    }
                }
            },
            validar(usuario){
                if(usuario.codigo == ''){
                    this.opcionesAlerta.title = "Asegúrate de poner un distrito dentro de las opciones."
                    this.$swal(this.opcionesAlerta);
                    return false
                }
                if(!this.validarCorreo(usuario.correo)){
                    this.opcionesAlerta.title = "No has ingresado un correo válido."
                    this.$swal(this.opcionesAlerta);
                    return false
                }
                if(usuario.telefono.length == 8){
                    this.opcionesAlerta.title = "No has ingresado un número telefónico de 9 dígitos."
                    this.$swal(this.opcionesAlerta);
                    return false
                }
                return true
            },
        }
    }
</script>
