<template>
    <div style="width:300px">
        <client-only> <!-- important to add no-ssr-->
            <carousel :items="1" :dots="false" :nav="false">
                <div class="card col-12 online" v-for="(item, index) in clases.slice(0, 4)" :key="index">
                    <div class="fondo" :style="'background: url(' + Imagen('clases/' + item.cls_imagen) + ') center center / cover no-repeat;'">
                    </div> 
                    <div class="card-body">
                        <div class="datos">
                            <span class="texto-sup verde">BÁSICO</span>
                            <h2>{{item.cls_nombre}}</h2>
                            <span class="tiempo gris"><i class="far fa-clock"></i> 36 min</span>
                        </div>
                        <button class="btn btn-verde d-flex m-auto" @click="alerta(item.cls_alias)">EMPEZAR</button>
                    </div>
                </div>
            </carousel>
        </client-only>
    </div>
</template>

<script>
    export default {
        props: ['clases'],
        methods: {
            alerta(value) {
                if(this.$store.state.auth.logueado){
                    this.$router.push("capacitaciones/en-linea/"+value)
                }
                else {
                    this.alerta_logueado('/')
                }
            }
        }
    }
</script>

