<template>
    <div>
        <div class="titulo-home pt-3 pb-2 mt-3">
            <div>
                <span class="texto-sup rojo">{{categoria}}</span>
                <h2>{{titulo}}</h2>
            </div>
            <div>
                <nuxt-link :to="link" class="ver-mas">VER MÁS</nuxt-link>
            </div>
        </div>
    </div>
</template>

<script>

export default {
  props: ['categoria','titulo','link'],
}
</script>