<template>
    <div class="pagina-transicion">
        <CabeceraInterna titulo="Ferias y Eventos" :link="'/eventos/'+this.$route.params.slug"/>
        <DetalleHorario :horarios="horariosEvento"/>
    </div>
</template>

<script>
import CabeceraInterna from "@/components/CabeceraInterna"
import DetalleHorario from "@/components/DetalleHorario"


import { mapState } from 'vuex'
import $ from 'jquery'

    export default {
        layout: 'interna',
        middleware: 'Autenticado',
        props: [],
        components: {
            CabeceraInterna, DetalleHorario
        },
        computed:{
            ...mapState(['horariosEvento']),
        },
    }
</script>

