<template>
    <div class="pagina-transicion">
        <Filtro :filtros="filtros" tipo="horarios" :data="horariosPresencial"/>
        <div style="background: white">
        <CabeceraInterna titulo="Programa de formación" link="/" />
        <div class="margen-cabecera"></div>
        <HeaderInternaCurso titulo="Capacitaciones Presenciales" :cantidades="cantidadesPresencial" :niveles="niveles" info="si"/>
        <div class="container mt-3 d-flex justify-content-between align-items-center">
            <div class="vista-presencial d-flex">
                <div class="mr-3" @click="cambiarVista('calendario')">
                    <div class="vista calendario activo">
                        Calendario
                    </div>
                </div>
                <div @click="cambiarVista('curricula')">
                    <div class="vista curricula">
                        Currícula
                    </div>
                </div>
            </div>
            <div class="d-flex">
                <div class="" @click="mostrarFiltro"><span>Filtros <span class="icon-filter"></span></span></div>
            </div>
        </div>
        <div class="container curso mt-4">
            <ListaHorarioFecha :filtroHorarios="filtroHorarios" tipo="presencial"/>   
            <div class="presencial curricula mt-3 mb-3">
                <div :class="`card col-12 mb-3 nivel nivel-${nivel(item.nvl_id)}`" v-for="(item, index) in clasesPresencial" :key="index">
                    <div class="card-body d-flex">
                        <div v-show="item.completo == 1" :class="`check ${nivel(item.nvl_id)}`">
                            <i class="fas fa-check-circle"></i>
                        </div>
                        <div class="icono" :style="'background-image: url('+ Imagen('clases/curricula/' + item.cls_icono) +');'">

                        </div>
                        <div class="nombre-clase">
                            <div :class="`texto-sup ${nivel(item.nvl_id)}`">{{item.nvl_nombre}}</div>
                            <h2>{{item.cls_nombre}}</h2>
                            <div class="lugar mt-2 d-flex justify-content-between">
                                <div>
                                    <div v-if="item.cls_obligatoria == 1" :class="`${nivel(item.nvl_id)}`">
                                        <b><i class="fas fa-lock"></i> clase obligatoria</b>
                                    </div>
                                </div>
                                <div :class="nivel(item.nvl_id)">
                                    <nuxt-link v-if="item.activo == 1" :to="'/capacitaciones/presenciales/'+item.cls_alias" :class="nivel(item.nvl_id)"><b>ver horarios</b></nuxt-link>
                                    <b v-else class="gris">ver horarios</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <CondicionesInternaCurso :descripcion="descripcion" titulo="Acerca de este curso"/>     
        </div>
    </div>
</template>

<script>
import HeaderInternaCurso from '@/components/HeaderInternaCurso.vue'
import CondicionesInternaCurso from '@/components/CondicionesInternaCurso.vue'
import CabeceraInterna from '@/components/CabeceraInterna.vue'
import Filtro from '@/components/Filtro.vue'
import ListaHorarioFecha from '@/components/ListaHorarioFecha.vue'

import { mapState } from 'vuex'

import $ from 'jquery'

    export default {
        head: {
            title: 'Capacitaciones Presenciales | Constructores del Futuro'
        },
        layout: 'interna',
        data() {
            return {
                descripcion: {
                    texto: 'estatico',
                    contenido: 'presencial'
                },
                niveles: [{nivel:1, nombre:'básico'},{nivel:2, nombre:'avanzado'},{nivel:3, nombre:'complementario'}],
                filtros: [
                   { nombre: "nivel" , filtro: [
                       {cat: "Básico"}, {cat: "Avanzado"}, {cat: "Complementario"}
                        ] 
                    }
                ],
                filtromes: {nombre: "mes", filtro: []},
                filtrodpto: {nombre: "ciudad", filtro: []}
            }
        },
        components: {
            HeaderInternaCurso, CondicionesInternaCurso, CabeceraInterna, Filtro, ListaHorarioFecha
        },
        computed:{
            ...mapState(['clasesPresencial','cantidadesPresencial','horariosPresencial','filtroHorarios'])
        },
        methods:{
            cambiarVista(value){
                $(".vista-presencial .vista").removeClass("activo")
                $(".curso .presencial").removeClass("activo")
                $("."+value).addClass("activo")
            }
        },
        mounted(){
            var busquedaMeses = {};
            var busquedaDpto = {};
            var meses = []
            var dptos = []
            this.filtroHorarios.filter(function(currentObject) {
                if (currentObject.mes in busquedaMeses) {} 
                else {
                    busquedaMeses[currentObject.mes] = true;
                    meses.push({cat: currentObject.mes})
                }
                if (currentObject.ubg_departamento in busquedaDpto) {} 
                else {
                    busquedaDpto[currentObject.ubg_departamento] = true;
                    dptos.push({cat: currentObject.ubg_departamento})
                }
            });
            this.filtromes.filtro = meses
            this.filtrodpto.filtro = dptos
            this.filtros.push(this.filtrodpto)
            this.filtros.push(this.filtromes)
        }
    }
</script>
