<template>
    <div>
        <CabeceraInterna titulo="Mis Cálculos" link="/perfil" />
        <div class="margen-cabecera"></div>
        <div class="container perfil">
            <div class="contenido">
                <div class="opcion constancias activo">
                    <h2><b>Mis Cálculos</b></h2>
                    <div v-if="calculos.length != 0" class="mt-3">
                        <div class="card mb-3" v-for="(item, index) in calculos" :key="index">
                            <div class="card-body d-flex align-items-center">
                                    <div class="col-9 pr-0">
                                        <div class="texto-sup rojo">{{calculador.proyecto[filtrarProyecto(item.slc_id) - 1].pry_nombre}}</div>
                                        <h3>{{filtrarSolucion(item.slc_id)}}</h3>
                                        <div class="calculo" v-if="JSON.parse(item.clc_info)[0].tipo == 'superficie'">
                                            Superficie: {{JSON.parse(item.clc_info)[0].superficie}} m<sup>2</sup>
                                        </div>
                                        <div class="calculo" v-else>
                                            Largo: {{JSON.parse(item.clc_info)[0].largo}} m<sup>2</sup> / Ancho: {{JSON.parse(item.clc_info)[0].ancho}} m<sup>2</sup>
                                        </div>
                                        <div class="texto-sup mt-2" style="font-size: 12px;">{{item.clc_fechahora}}</div>
                                    </div>
                                    <div class="col-3">
                                        <a target="_blank" class="btn btn-rojo descargar" :href="`${link}calculos/perfil/${item.clc_resultado}`">
                                            <i class="fas fa-calculator"></i>
                                        </a>
                                    </div>
                                    
                            </div>
                        </div>
                    </div>
                    <div v-else class="mt-3">
                        <center>
                            <b>Todavía no has hecho ningún cálculo</b>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import CabeceraInterna from '@/components/CabeceraInterna.vue'

import { mapState } from 'vuex'

import $ from 'jquery'

    export default {
        layout: 'interna',
        middleware: 'Autenticado',
        components: {
            CabeceraInterna
        },
        computed:{
            ...mapState(['calculos','calculador','solucion'])
        },
        created(){
            this.link = process.env.FILE_URL
        },
        methods: {
            filtrarSolucion(value){
                var data = this.solucion
                var solucion = ''
                data.filter(function(currentObject) {
                    if(currentObject.slc_id == value){
                        solucion = currentObject.slc_nombre
                    }
                })
                return solucion
            },
            filtrarProyecto(value){
                var data = this.solucion
                var solucion = ''
                data.filter(function(currentObject) {
                    if(currentObject.slc_id == value){
                        solucion = currentObject.pry_id
                    }
                })
                return solucion
            }
                
        }
    }
</script>
