<template>
    <div class="pagina-transicion" style="background: black">
        <CabeceraClase :titulo="clase.cls_nombre" link="/capacitaciones/en-linea"/>
        <div class="clase">
            <div class="full">
                <div v-show="full == 0">
                    <img src="@/assets/imgs/pantalla-completa.svg" alt="" @click="fullPantalla">
                </div>
                <div v-show="full == 1">
                    <img src="@/assets/imgs/pantalla-chica.svg" alt="" @click="cerrarPantalla">
                </div>
                <div class="temario">
                    <img src="@/assets/imgs/clases.svg" alt="" @click="mostrarClases">
                </div>
            </div>
            <div class="slides preguntas" v-touch:swipe="moverSlider">
                <div class="nivel" v-for="(item, index) in slides" :key="index">
                    <div v-if="item.sld_tipo == 'I'" :id="`slide${index}`" class="slide" :class="{activo: index == 0}" :data-target="index" :data-id="item.sld_id">
                        <img :data-src="Imagen('cursos/slides/'+item.sld_imagen)" alt="" v-lazy-load>
                    </div>
                    <div v-if="item.sld_tipo == 'V'" :id="`slide${index}`" class="slide" :class="{activo: index == 0}" :data-target="index" :data-id="item.sld_id">
                        <iframe width="100%" height="250" :src="`https://www.youtube.com/embed/${item.sld_video}`" 
                        frameborder="0" allowfullscreen data-not-lazy></iframe>
                    </div>
                    <div v-if="item.sld_tipo == 'A'" :id="`slide${index}`" class="slide" :class="{activo: index == 0, actividad: item.sld_tipo == 'A'}" :data-target="index" :data-id="item.sld_id">
                        <div>
                            <h2 class="mb-3">Actividad</h2>
                            <div v-for="(pregunta, index2) in item.preguntas" :key="index2" class="mb-4">
                                    <div>
                                        <h3>{{index2 + 1}}.- {{pregunta.prg_nombre}}</h3>
                                        <p class="p2">
                                            {{pregunta.tpr_instrucciones}}
                                        </p>
                                    </div>
                                <Alternativa :pregunta="pregunta.prg_id" :alternativas="pregunta.alternativas" :tipo="pregunta.tpr_id" :index="index2"/>
                                <div class="explicacion">
                                    <p class="p2">
                                        {{pregunta.prg_explicacion}}
                                    </p>
                                </div>
                            </div>
                            <button class="btn btn-verde" @click="comprobar(index)">COMPROBAR</button>
                        </div>
                    </div>
                </div>
                <div class="nivel">
                    <div :id="`slide${total}`" class="slide" :data-target="total" data-id="examen">
                        <div class="indicaciones-examen d-flex align-items-center">
                            <div>
                                <h2>¡A punto de lograrlo!</h2>
                                <p class="p1">
                                    Tienes tanto tiempo para resolver el examen, recuerda que no podras salir del enlace si no has terminado el examen. De lo contario perderas la oportunidad
                                </p>
                                <button class="btn btn-verde" @click="irExamen">IR A EXAMEN</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="temas">
                <div :id="`slide-tema${index}`" class="pb-3 pt-3 slide-tema" v-for="(item, index) in slides" :key="index" :class="{activo: index == 0, visto: item.visto == 1 || index == 0}"
                @click="evaluarSlide(index)" :data-target="index">
                    <div class="col-12 d-flex align-items-center">
                        <div class="numero">
                            {{index + 1}}
                        </div>
                        <div class="tema">
                            <div class="tipo">{{tipo(item.sld_tipo)}}</div>
                            <div class="titulo">{{item.sld_nombre}}</div>
                        </div>
                    </div>
                </div>
                <div :id="`slide-tema${total}`" class="pb-3 pt-3 slide-tema"
                :data-target="total" @click="evaluarSlide(total)">
                    <div class="col-12 d-flex align-items-center">
                        <div class="numero">
                            <i class="far fa-edit"></i>
                        </div>
                        <div class="tema">
                            <div class="titulo"><b>EXAMEN</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import CabeceraClase from "@/components/CabeceraClase"
    import Alternativa from "@/components/Alternativa"

    import Vue from 'vue'
    import Vue2TouchEvents from 'vue2-touch-events'
    Vue.use(Vue2TouchEvents)

    import $ from 'jquery'

    import axios from 'axios'
    axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'

    import { mapState } from 'vuex'

    export default {
        head() {
            let titulo = this.clase.cls_nombre
            return {
                title: titulo + ' | Capacitaciones En Línea | Constructores del Futuro'
            }
        },
        layout: 'interna',
        middleware: 'Autenticado',
        data(){
            return {
                clase: [],
                full: 0,
                temario: false,
                total: 0,
                slideActual: 0,
                examen: 0,
                token: 0
            }
        },
        components: {
            CabeceraClase, Alternativa
        },
        computed:{
            ...mapState(['clasesOnline','slides','intento']),
        },
        methods: {
            tipo(t) {
                if(t == "I") {
                    return "TEORÍA"
                }
                if(t == "V") {
                    return "VIDEO"
                }
                if(t == "A") {
                    return "ACTIVIDAD"
                }
            },
            async guardarAvance(value) {
                var avance = {
                    intento: this.intento,
                    actual: value
                }
                await axios.post(`${process.env.BASE_URL}slides/avance`,avance)
                        
            },
            async crearExamen() {
                if(this.examen == 0){
                    this.token = Math.random().toString(36).substr(2)
                    var examen = {
                        token: this.token,
                        intento: this.intento,
                    }
                    await axios.post(`${process.env.BASE_URL}slides/examen`,examen)
                            .then(res => {
                                this.$store.commit('llenarExamenId', res.data.examen)
                    })
                    this.examen = 1
                }
            },
            evaluarSlide(index){
                if($("#slide-tema"+index).hasClass("visto")){
                    this.cambiarSlide(index)
                }
                else {
                    var indexfinal;

                    $('.slide-tema.visto').each(function (i) {
                        indexfinal = $(this).data('target');
                    });
                    this.cambiarSlide(indexfinal + 1)
                }

            },
            cambiarSlide(index) {
                $(".slide-tema").removeClass("activo")
                $(".slide").removeClass("activo")
                $("#slide-tema"+index).addClass("activo")
                $("#slide"+index).addClass("activo")
                $("#slide-tema"+index).addClass("visto")
                var actual
                actual = $("#slide"+index).data('id');
                if(actual != "examen") {
                    this.guardarAvance(actual)
                }
                else {
                    this.crearExamen()
                }
            },
            moverSlider(direction, event){
                var index;
                $('.slide.activo').each(function (i) {
                    index = $(this).data('target');
                });
                if(direction == "left"){
                    if((index) < this.total)
                        this.cambiarSlide(index + 1)
                }
                if(direction == "right"){
                    if((index - 1) > -1)
                        this.cambiarSlide(index - 1)
                }
            },
            irExamen() {
                var slug = this.clase.cls_alias
                var token = this.token
                this.$router.push("/capacitaciones/en-linea/"+slug+"/examen/"+token)
            },
            fullPantalla() {
                var alerta = {
                    titulo: "Gira tu celular en modo horizontal",
                    contenido: "",
                    botones: [
                        {texto: "OK", color: "rojo", link: null, evento: "cerrar"},
                    ]
                }
                this.$store.commit('cambiarAlerta', alerta)
                this.mostrarAlerta()
                var elem = document.documentElement;
                if (elem.requestFullscreen) {
                    elem.requestFullscreen();
                } else if (elem.mozRequestFullScreen) { /* Firefox */
                    elem.mozRequestFullScreen();
                } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari & Opera */
                    elem.webkitRequestFullscreen();
                } else if (elem.msRequestFullscreen) { /* IE/Edge */
                    elem.msRequestFullscreen();
                }
                this.full = 1
            },
            cerrarPantalla() {
                var elem = document.documentElement;
                  if (document.exitFullscreen) {
                        document.exitFullscreen();
                    } else if (document.mozCancelFullScreen) {
                        document.mozCancelFullScreen();
                    } else if (document.webkitExitFullscreen) {
                        document.webkitExitFullscreen();
                    } else if (document.msExitFullscreen) {
                        document.msExitFullscreen();
                    }
                this.full = 0
            },
            mostrarClases() {
                if(this.temario) {
                    $(".temas").css("right","-50%")
                }
                else {
                    $(".temas").css("right","0%")
                }
                this.temario = !this.temario
            },
            comprobar(index){
                $('#slide'+index+' .alternativas input').each(function(){
                    var id = $(this).attr("data-correcta");
                    if(id =="1"){
                        $(this).addClass('correcta');
                    }else{
                        $(this).addClass('incorrecta');
                    }
                });
                $('#slide'+index+' button').css("display","none")
                $('#slide'+index+' .explicacion').css("display","block")
            }
        },
        created(){
            var slug = this.$route.params.slug
            var clase = {}
            this.clasesOnline.forEach(element => {
                if(element.cls_alias == slug) {
                    clase = element
                }
            });
            this.clase = clase
        },
        mounted(){
            this.cerrarCargador()
            var req = this.requisitoOnline(this.clase.cls_alias)
            if(!req.res){
                this.$router.push("/capacitaciones/en-linea")
            }
            this.total = this.slides.length
            var altura = $(".cabecera").height()
            var contenedor = $(".fondo-alerta").height()
            $(".temas").css("height",contenedor - 390 - 32 - altura+"px")
        },
        async fetch({store, params}){
            await store.dispatch('getSlides',params.slug)
        },
    }
</script>

<style scoped>
  .slides {
      /*height: 250px;*/
      height: 420px;
      position: relative;
      overflow: hidden;
  }
  .slides .slide {
      position: absolute;
      top: 100%;
      height: 100%;
      z-index: 0;
      opacity: 0;
      transition: all .5s;
      width: 100%;
      display: flex;
      align-items: center;
  }
  .slides .slide.actividad {
      background: white;
      padding: 30px;
      overflow-y: auto;
      text-align: center;
      align-items: flex-start;
  }
  .slides .slide.activo {
      top: 0;
      z-index: 1;
      opacity: 1;
  }
  .slides img {
      width: 100%;
  }
  .indicaciones-examen {
      padding: 20px;
        height: 100%;
        background: white;
        text-align: center;
  }

  @media (orientation: landscape) {
      .slides {
          height: 100vh;
          width: 100%;
      }
      .slides img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
  }
</style>