$cdf-general: #000;
$cdf-rojo: #EB1F3D;
$cdf-negro: #000;
$cdf-azul: #235D8C;
$cdf-verde: #00AC5A;
$cdf-gris: #A5A5A5;
$cdf-gris-fuerte: #5F5F5F;
$cdf-amarillo: #FFB345;
$radius: 15px;
$shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);

@mixin horizontal {
    @media (orientation: landscape) {
      @content;
    }
}


@font-face {
    font-family: 'Futura';
    font-weight: normal;
    src: url('../fonts/Futura-Std-Book_19044.ttf'); /* IE9 Compat Mode */
}
@font-face {
    font-family: 'FuturaBold';
    font-weight: normal;
    src: url('../fonts/FuturaStd-Bold_2.otf'); /* IE9 Compat Mode */
}
@font-face {
    font-family: 'cdficons';
    src:  url('../fonts/iconos/cdficons.eot?j6s0n1');
    src:  url('../fonts/iconos/cdficons.eot?j6s0n1#iefix') format('embedded-opentype'),
      url('../fonts/iconos/cdficons.ttf?j6s0n1') format('truetype'),
      url('../fonts/iconos/cdficons.woff?j6s0n1') format('woff'),
      url('../fonts/iconos/cdficons.svg?j6s0n1#cdficons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'cdficons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-medal:before {
    content: "\e905";
  }
  .icon-triangle:before {
    content: "\e915";
  }
  .icon-plus:before {
    content: "\e916";
  }
  .icon-minus:before {
    content: "\e917";
  }
  .icon-filter:before {
    content: "\e918";
  }
  .icon-close:before {
    content: "\e900";
  }
  .icon-marker:before {
    content: "\e901";
  }
  .icon-calculator:before {
    content: "\e902";
  }
  .icon-envelope:before {
    content: "\e903";
  }
  .icon-pdf:before {
    content: "\e904";
  }
  .icon-search:before {
    content: "\e906";
  }
  .icon-bookmark:before {
    content: "\e907";
  }
  .icon-arrow-prev:before {
    content: "\e908";
  }
  .icon-info:before {
    content: "\e909";
  }
  .icon-google:before {
    content: "\e90a";
  }
  .icon-waze:before {
    content: "\e90b";
  }
  .icon-profile:before {
    content: "\e90c";
  }
  .icon-share:before {
    content: "\e90d";
  }
  .icon-about:before {
    content: "\e90e";
  }
  .icon-calendar:before {
    content: "\e90f";
  }
  .icon-user:before {
    content: "\e910";
  }
  .icon-mail:before {
    content: "\e911";
  }
  .icon-web:before {
    content: "\e912";
  }
  .icon-phone:before {
    content: "\e913";
  }
  .icon-clock:before {
    content: "\e914";
  }
  
body {
    margin: 0;
    font-family: Futura;
    color: $cdf-general;
}
h1 {
    font-size: 20px;
    line-height: 27px;
    font-family: FuturaBold;
    span {
        color: $cdf-rojo;
        margin: 0;
    }
}
h2 {
    font-size: 18px;
    margin: 0;
    font-family: Futura;
}
h3 {
    font-size: 16px;
    margin: 0;
    font-family: Futura;
}

b {
    font-family: FuturaBold;
}
p {
    margin-top: 10px;
    margin-bottom: 10px;
    &.p1 {
        font-size: 14px;
        line-height: 20px;
    }
    &.p2 {
        font-size: 12px;
        line-height: 16px;
    }
    &.p3 {
        font-size: 10px;
        line-height: 14px;
    }
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
a, a:link, a:visited, a:hover, a:active {
    color: $cdf-negro;
    text-decoration: none;
}
button:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
button.focus {
    outline: -webkit-focus-ring-color auto 0px;
    box-shadow: 0 0 0 0rem black
}
.contenedor {
    width: 100%;
    /*height: 100vh;*/
    overflow-x: hidden ;
    background: white;
}
.contenedor-menu {
    height: 100vh;
    width: 300px;
    position: fixed;
    z-index: 3;
    transform: translateX(-280px);
    top: 0;
}
.menu {
    width: 280px;
    height: 100%;
    background: white;
    //box-shadow: $shadow;
    border-right: 1px solid $cdf-gris;
    transition-timing-function: ease;
    opacity: 1;
    .foto {
        width: 65px;
        height: 65px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .menu-opciones {
        li {
            list-style-type: none;
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid #DBDBDB;
            span {
                font-size: 10px;
            }
        }
        .sub-opciones {
            text-align: left;
            max-height: 0;
            overflow: hidden;
            transition: all .3s;
            span {
                font-size: 7px;
                margin-right: 5px;
            }
            &.altura {
                max-height: 80px;
            }
        }
    }
    .menu-opciones-footer {
        .card {
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            border: 0;
            position: relative;
            i {
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        li {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}


.btn {
    padding: 8px 30px;
    font-size: 12px;
    color: white !important;
    border-radius: 25px;
    font-family: FuturaBold;
    letter-spacing: 0px;
    &:focus, &.focus {
        box-shadow: none;
        outline: -webkit-focus-ring-color auto 0px;
    }
    &:hover {
        color: white;
    }
    &.btn-rojo {
        background: $cdf-rojo;
    }
    &.btn-azul {
        background: $cdf-azul;
    }
    &.btn-negro {
        background: $cdf-negro;
    }
    &.btn-verde {
        background: $cdf-verde;
    }
    &.btn-gris {
        background: $cdf-gris;
    }
}

.rojo {
    color: $cdf-rojo !important;;
    &:hover {
        color: $cdf-rojo;
    }
}
.verde {
    color: $cdf-verde !important;;
    &:hover {
        color: $cdf-verde;
    }
}
.negro {
    color: $cdf-negro !important;;
}
.azul {
    color: $cdf-azul !important;;
}
.gris {
    color: $cdf-gris !important;;
}
.amarillo {
    color: $cdf-amarillo
}


.fondo-popup {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -9999;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    &.activo {
        z-index: 9999;
    }
    .popup {
        width: 90%;
        background: white;
        padding: 15px;
        border: 5px solid black;
        text-align: justify;
    }
}


.cabecera {
    text-align: center;
    position: relative;
    background: white;
    &.home {
        position: fixed;
        z-index: 2;
        top: 0;
        width: 100%;
        i {
            position: absolute;
            left: 15px;
            top: 50%;
            font-size: 22px;
            transform: translateY(-50%);
        }
    }
    &.interna {
        font-size: 14px;
        position: fixed;
        top: 0;
        background: white;
        z-index: 2;
        a,span {
            position: absolute;
            left: 0px;
            color: black;
            height: 50px;
            width: 40px;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &.clase {
        text-align: left;
        font-size: 14px;
        font-family: FuturaBold;
        position: relative;
        top: 0;
        padding-left: 40px;
        background: $cdf-negro;
        z-index: 2;
        color: white;
        a {
            position: absolute;
            left: 0px;
            top: 0%;
            color: white;
            height: 100%;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        @include horizontal() {
            display: none;
        }
    }
}



.portada {
    height: 370px;
    background: url(../imgs/home/portada2.svg) center center no-repeat;
    background-size: cover;
    padding: 15px;
    display: flex;
    align-items: center;
    margin-top: 65px;
}

.titulo-home {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 10px;
    font-family: FuturaBold;
    .ver-mas {
        text-decoration: none;
        color: #EE2346;
        font-family: FuturaBold;
    }
}

.texto-sup {
    font-family: FuturaBold;
    font-size: 10px;
    text-transform: uppercase;
}


.card {
    border-radius: $radius;
    border: 0;
    box-shadow: $shadow;
    .card-head {
        padding-top: 15px;
        padding-bottom: 0px;
    }
    .card-body {
        padding: 0;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
.owl-item {
    padding: 3px;
}
.owl-carousel.owl-drag .owl-item {
    opacity: 0.3;
}
.owl-carousel.owl-drag .owl-item.active {
    opacity: 1;
}
.owl-carousel .owl-stage-outer {
    overflow: visible !important;;
}
.horario {
    width: 280px;
    &.nivel {
        &:before {
            content: "";
            width: 8px;
            top: 20px;
            height: 35px;
            border-radius: 10px;
            position: absolute;
            left: -4px;
        }
        &.nivel-verde {
            &::before {
                background: $cdf-verde;
            }
        }
        &.nivel-rojo {
            &::before {
                background: $cdf-rojo;
            }
        }
        &.nivel-negro {
            &::before {
                background: $cdf-negro;
            }
        }
        &.nivel-azul {
            &::before {
                background: $cdf-azul;
            }
        }
    }
    .fecha {
        line-height: 1.2;
    }
    .dia {
        font-size: 30px;
        margin-right: 15px;
    }
    .mes {
        font-size: 16px;
    }
    .dianombre {
        font-size: 16px;
    }
    .titulo {
        height: 58px;
    }
    .datos {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 12px;
        i {
            width: 16px;
            text-align: center;
        }
    }
}

.herramientas {
    .logo {
        padding-top: 40px;
        height: 120px;
        img {
            width: 100%;
        }
    }
    .titulo {
        padding-top: 30px;
        padding-bottom: 30px;
        position: relative;
        i {
            color: $cdf-rojo;
            position: absolute;
            font-size: 22px;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.online {
    width: 280px;
    .fondo {
        height: 105px;
        margin-left: -15px;
        margin-right: -15px;
        background-size: cover;
        border-radius: 15px 15px 0 0;
        &:before {
            content: "";
            width: 8px;
            top: 20px;
            height: 40px;
            border-radius: 10px;
            position: absolute;
            background: $cdf-verde;
            left: -3px;
        }
    }
    .datos {
        margin-bottom: 0px;
        position: relative;
        height: 82px;
    }
    .tiempo {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 12px;
    }
}

.archivos {
    .archivo{
        &.foto {
            width: 130px;
            min-height: 166px ;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.15);
        }
    }
    .lista {
        
    }
    .opciones {
        font-size: 12px;
        color: $cdf-gris;
        text-align: center;
        .col-4 {
            padding-left: 5px;
            padding-right: 5px;
        }
        .activo {
            font-family: FuturaBold;
            color: $cdf-general;
            position: relative;
            display: block !important;
            &:after {
                content: "";
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background: $cdf-rojo;
                position: absolute;
                bottom: -7px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    .estrella {
        color: $cdf-amarillo;
        font-size: 10px;
        font-family: FuturaBold;
        margin-top: 5px;
        .descarga {
            color: $cdf-gris;
        }
    }
    &.interna {
        text-align: center;
        .foto {
            padding-top: 30px;
            img {
                width: 45%;
                box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
            }
        }
        .titulo {
            margin-top: 30px;
        }
        .estrella {
            margin-top: 10px;
            font-size: 12px;
            color: $cdf-amarillo;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .contenido {
            padding: 20px;
        }
    }
}

.contenedor-icono {
    margin-right: 5px;
    .icono {
        width: 100%;
        height: 100%;
        display: inherit;
        object-fit: scale-down;
    }
}


.curso-header {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 12px;
    .opcion{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
#barra0 {
    .activo {
        background: $cdf-verde;
    }
}
#barra1 {
    .activo {
        background: $cdf-rojo;
    }
}
#barra3 {
    .activo {
        background: $cdf-negro;
    }
}
.curso-grafica {
    .barras {
        text-transform: uppercase;
        font-size: 8px;
        text-align: center;
        .barra {
            margin-right: 5px;
            span {
                width: 8px;
                border-radius: 10px;
                border: 1px solid $cdf-gris;
                margin: 1px;
                &:nth-child(1) {
                    height: 10px;
                }
                &:nth-child(2) {
                    height: 20px;
                }
                &:nth-child(3) {
                    height: 30px;
                }
            }
        }
        .cantidad {
            font-size: 12px;
        }
    }
}

.link-rojo {
    background: $cdf-rojo;
    width: 100%;
    text-align: center;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    a {
        color: white;
    }
}


.progreso {
    margin-top: 15px;
    padding-top: 10px;
    border-top: 2px solid $cdf-gris;
    border-radius: 0px;
    font-size: 12px;
    position: relative;
    font-family: Futurabold;
    .barra {
        position: absolute;
        top: -4px;
        left: 0;
        width: 50px;
        height: 6px;
        background: $cdf-rojo;
        border-radius: 10px;
        transition: all .3s;
        &.verde {
            background: $cdf-verde;
        }
    }
}


.filtros {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -999;
    background: white;
    height: 100vh;
    width: 100%;
    margin-top: 0px;
    padding: 50px 30px;
    transform: scale(1.2);
    opacity: 0;
    transition: all .3s;
    .opciones {
        height: calc(100% - 50px);
        overflow-y: auto;
        padding-bottom: 50px;
    }
    /*display: none;*/
    &.activo {
        transform: scale(1);
        opacity: 1;
        z-index: 9999;
    }
    i {
        color: $cdf-rojo;
        font-size: 20px;
    }
    .categoria {
        color: $cdf-rojo;
        font-size: 12px;
        font-family: FuturaBold;
        text-transform: uppercase;
    }
}
.boton-filtro {
    z-index: 1;
    position: fixed;
    bottom: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: calc(100% - 60px);
    height: 80px;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255,255,255,0.6643032212885154) 100%);
}

.box {
    display: flex;
    justify-content: flex-end;
    user-select: none;
    position: relative;
    margin-bottom: 5px;
    label {
        font-size: 14px;
        color: black;
        position: relative;
        z-index: 10;
        cursor: pointer;
        width: 100%;
        z-index: 9;
        left: 0;
        top: 0;
    }
    input {
        opacity: 0;
        visibility: hidden;
        position: absolute;
    }
}
  
  .box input:checked ~ .check {
    border-color: #EE2346;
    background: url(../imgs/circulo-rojo.svg) center center / cover;
  }
  .box input:checked ~ .check::after {
    opacity: 1;
    transform: scale(1);
  }
  .box .check {
    width: 21px;
    height: 20px;
    position: relative;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid gray;
    box-shadow: 0px 0px 0px 0px #EE2346 inset;
    transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);
}


.curso {
    .calendario {
        display: none;
        &.activo {
            display: block;
        }
    }
    .curricula {
        display: none;
        &.activo {
            display: block;
        }
    }
    .presencial {
        .nivel {
            &:before {
                content: "";
                width: 6px;
                top: 20px;
                height: 35px;
                border-radius: 10px;
                position: absolute;
                left: -3px;
            }
            &.nivel-verde {
                &::before {
                    background: $cdf-verde;
                }
            }
            &.nivel-rojo {
                &::before {
                    background: $cdf-rojo;
                }
            }
            &.nivel-negro {
                &::before {
                    background: $cdf-negro;
                }
            }
            &.nivel-azul {
                &::before {
                    background: $cdf-azul;
                }
            }
        }
        .dia {
            font-size: 18px;
            font-family: FuturaBold;
            text-align: center;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                top: 5px;
                border-radius: 50%;
                width: 16px;
                height: 16px;
                right: -25px;
                background: url(../imgs/circulo-rojo.svg) center center ;
            }
        }
        .dianombre {
            font-size: 10px;
            color: $cdf-gris;
            text-align: center;
        }
        .lugar {
            font-size: 10px;
            position: relative;
        }
        .linea {
            position: relative;
            .punteada {
                position: absolute;
                left: 17%;
                height: 100%;
                width: 2px;
                background: url(../imgs/fondo-linea.svg) center center repeat;
            }
        }
    }
}

.descripcion {
    .capa {
        position: fixed;
        z-index: 2;
        bottom: 0;
        height: 0vh;
        width: 100%;
        background: black;
        opacity: 0;
    }
    .info-interna {
        padding-top: 40px;
        box-shadow: $shadow;
        border-bottom: 0;
        border-radius: 25px 25px 0px 0px;
        position: fixed;
        z-index: 2;
        height: calc(100vh - 105px);
        left: 0;
        background: white;
        width: 100%;
        bottom: calc(105px - 100vh);
        transition: all .5s ease;
        opacity: .1;
        &.debajo {
            bottom: 0;
        }
        .barragris {
            position: absolute;
            width: 80px;
            height: 5px;
            background: $cdf-gris;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 25px;
        }
        .contenido {
            overflow-y: auto;
            height: 100%;
            padding-bottom: 40px;
            margin-left: 15px;
            margin-right: 15px;
        }
        ul{
            margin: 0;
            padding: 0;
            font-size: 14px;
            li {
                padding-left: 15px;
                background: url(../imgs/circulo-lista.svg) no-repeat 0px 7px;
                list-style-type: circle;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
}



.mapa {
    height: 200px;
}
.presencial-titulo {
    &.nivel {
        &:before {
            content: "";
            width: 6px;
            top: 2px;
            height: 25px;
            border-radius: 10px;
            position: absolute;
            left: -3px;
        }
        &.nivel-verde {
            &::before {
                background: $cdf-verde;
            }
        }
        &.nivel-rojo {
            &::before {
                background: $cdf-rojo;
            }
        }
        &.nivel-negro {
            &::before {
                background: $cdf-negro;
            }
        }
        &.nivel-azul {
            &::before {
                background: $cdf-azul;
            }
        }
    }
}
.presencial {
    &.lista-horarios {
        height: calc(100vh - 350px - 48px);
        overflow-y: auto;
    }
    .liston {
        position: absolute;
        z-index: 1;
        transform: rotate(315deg);
        left: -40px;
        top: 30px;
        padding: 2px 30px;
        font-size: 8px;
        letter-spacing: .5px;
        font-family: FuturaBold;
        color: white;
        &.liston-verde {
            background: $cdf-verde;
        }
        &.liston-rojo {
            background: $cdf-rojo;
        }
        &.liston-negro {
            background: $cdf-negro;
        }
        &.liston-azul {
            background: $cdf-azul;
        }
    }
    .detalle {
        color: $cdf-gris;
        position: absolute;
        bottom: 10px;
        right: 15px;
        z-index: 1;
        a {
            color: $cdf-gris;
        }
    }
    .info {
        overflow: hidden;
        position: relative;
    }
    .card {
        position: relative;
        margin: 0;
        &.activo {
            &:before {
                content: "";
                width: 6px;
                top: 22px;
                height: 25px;
                border-radius: 10px;
                position: absolute;
                left: -3px;
            }
        }
        &.info-verde {
            &:before {
                background: $cdf-verde;
            }
        }
        &.info-rojo {
            &:before {
                background: $cdf-rojo;
            }
        }
        &.info-negro {
            &:before {
                background: $cdf-negro;
            }
        }
        &.info-azul {
            &:before {
                background: $cdf-azul;
            }
        }
    }
    .dia {
        font-size: 30px;
        font-family: FuturaBold;
    }
    .dianombre {
        font-size: 12px;
    }
    .mes {
        font-size: 14px;
        color: $cdf-gris;
    }
    .lugar {
        font-size: 12px;
        .texto {
            position: relative;
            margin-top: 5px;
            margin-bottom: 5px;
            .contenedor-icono {
                position: absolute;
                left: -18px;
                top: 0px;
            }
        }
    }
    .check {
        position: absolute;
        right: 15px;
        top: 10px;
    }
    .icono {
        width: 50px;
        height: 50px;
        margin-right: 15px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .nombre-clase {
        width: calc(100% - 65px);
    }
}

.detalle-horario {
    font-size: 14px;
    .detalle {
        margin-bottom: 15px;
        .contenedor-icono {
            margin-right: 15px;
        }
    }
}

.vista-presencial {
    font-size: 16px;
    text-align: center;
    .vista {
        color: $cdf-gris;
        position: relative;
        transition: all .3s;
        &.activo {
            color: black;
            &:before {
                content: "";
                position: absolute;
                bottom: -5px;
                left: 50%;
                transform: translateX(-50%);
                height: 3px;
                width: 30px;
                background: $cdf-rojo;
            }
        }
    }
}
.footer-presencial {
    background: white;
    box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.05);
    font-size: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.online2 {
    flex-direction: row;
    align-items: center;
    &:before {
        content: "";
        width: 6px;
        top: 20px;
        height: 30px;
        border-radius: 10px;
        position: absolute;
        z-index: 1;
        background: $cdf-verde;
        left: -3px;
    }
    .foto{
        width: 30%;
        height: 120px;
        border-radius: $radius;
        overflow: hidden;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .info {
        width: 70%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .nota {
        font-size: 10px;
    }
    .datos {
        font-size: 10px;
        display: flex;
        .tiempo {
            width: 50%;
        }
        .ruta {
            width: 50%;
            text-align: right;
        }
    }
}
.lazyLoad {
    //filter: blur(10px);
    transform: scale(0.7);
    opacity: .8;
    transition: 0.3s ease;
  }
  
  .isLoaded{
    //filter: blur(0);
    opacity: 1;
    transform: scale(1);
  }

.clase {
    .full {
        display: flex;
        position: absolute;
        z-index: 2;
        right: 15px;
        bottom: 15px;
        div {
            background: $cdf-rojo;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
        }
        img {
            width: 20px;
        }
        .temario {
            display: none;
            @include horizontal() {
                display: flex;
            }
        }
    }
    .temas {
        background: black;
        color: $cdf-gris-fuerte;
        height: calc(100vh - 250px - 72px);
        overflow-y: auto;
        transition: all .3s;
        @include horizontal() { 
            position: fixed;
            height: 100vh !important;
            top: 0;
            z-index: 1;
            width: 50%;
            right: -50%;
        }
        .numero {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid $cdf-gris-fuerte;
            margin-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .tema {
            .tipo {
                font-size: 10px;
            }
            .titulo {
                font-size: 14px;
            }
        }
        .activo {
            background: #232323;
            color: $cdf-verde;
            .numero{
                border: 3px solid $cdf-verde;
                background: $cdf-verde;
                color: white;
            }
        }
        .visto {
            color: $cdf-verde;
            .numero{
                border: 3px solid $cdf-verde;
                background: $cdf-verde;
                color: white;
            }
        }
    }
} 


.margen-cabecera {
    margin-top: 53px;
}
.margen-cabecera-clase {
    margin-top: 72px;
    @include horizontal() {
        margin: 0;
    }
}

#install {
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    position: fixed;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.8);
    &.show {
        display: block;
    }
    .install {
        position: absolute;
        width: 250px;
        left: calc(50% - 125px);
        top: calc(50% - 170px);
        height: 340px;
        background-color: #fff;
        border-radius: 15px;
        padding-top: 30px;
        i {
            position: absolute;
            right: 15px;
            top: 15px;
        }
        .logo {
            width: 50px;
            margin: auto;
            img {
                width: 100%;
            }
        }
        .cont {
            padding: 20px;
            padding-bottom: 0;
            padding-top: 15px;
            text-align: center;
            .tit {
                font-size: 18px;
                line-height: 24px;
                color: $cdf-rojo;
            }
            .des {
                padding-top: 10px;
                padding-bottom: 10px;
                font-size: 14px;
            }
        }
        .btn {
            display: block;
            height: 50px;
            line-height: 32px;
            &.btn-no {
                color: $cdf-general !important;
            }
        }
    }
}

.fondo-alerta {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -999;
    height: 100vh;
    overflow-y: auto;
    width: 100%;
    margin-top: 0px;
    padding: 50px 30px;
    transform: scale(1.2);
    opacity: 0;
    transition: all .3s;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    &.activo {
        transform: scale(1);
        opacity: 1;
        z-index: 999;
    }
        .alerta {
            background: white;
            min-height: 50px;
            border-radius: 10px;
            width: 280px;
            max-width: 280px;
            box-shadow: $shadow;
            padding-top: 35px;
            padding-bottom: 15px;
            text-align: center;
            position: relative;
            .botones {
                font-size: 12px;
                font-family: FuturaBold;
            }
            i {
                position: absolute;
                right: 15px;
                top: 15px;
            }
        }
    
}


.form-control:focus {
    box-shadow: none;
}
.login {
    text-align: center;
    padding-top: 10px;
    .opciones {
        display: flex;
        width: 100%;
        border-bottom: 1px solid #F2F2F2;
        margin: auto;
        justify-content: center;
        margin-bottom: 30px;
        font-size: 14px;
        color: white;
        li {
            padding: 10px 30px;
            padding-bottom: 5px;
            background: #F2F2F2;
            color: black;
            border-radius: 20px 20px 0px 0px;
            &.activo {
                border-bottom: 2px solid $cdf-rojo;
                background: #E94347;
                color: white;
            }
        }
    }
    .login-contenedor {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        .campo {
            width: 100%;
            margin-bottom: 15px;
            input {
                font-size: 14px;
                width: 100%;
                text-align: center;
                padding: 22px;
                box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
                &:focus {
                    box-shadow: $shadow;
                }
            }
            select {
                padding-top: 13px;
                height: 44px;
                &:focus {
                    box-shadow: $shadow;
                }
            }
        }
        .form-sms {
            margin-top: 100px;
            label {
                color: $cdf-rojo;
                font-size: 18px;
            }
            .sms {
                margin-top: 15px;
                display: flex;
                justify-content: space-between;
                input {
                    text-align: center;
                    width: 23%;
                    &:focus {
                        box-shadow: $shadow;
                    }
                }
            }
        }
        
    }
    .rrss {
        padding-left: 15px;
        padding-right: 15px;
        .social {
            border-radius: $radius;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 10px;
            font-size: 16px;
            margin-bottom: 15px;
            border: 1px solid #CECECE;
            .nombre {
                width: 175px;
                text-align: left;
            }
            &.facebook {
                background: #459EF1;
                color: white;
                border: 0;
            }
            img {
                width: 25px;
            }
        }
    }
}

.articulos-carrusel {
    .articulo {
        width: 280px;
        .foto {
            height: 122px;
            border-radius: $radius;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
.articulos {
    .articulo {
        width: 100%;
        overflow: hidden;
        position: relative;
        .imagen{
            height: 220px;
            border-radius: 25px;
            border-radius: $radius;
            overflow: hidden;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
            &.tamano-1 {
                height: 150px;
            }
            &.tamano-2 {
                height: 190px;
            }
            &.tamano-3 {
                height: 220px;
            }
        }
        .play {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 75px;
        }
        .contenido{
            margin-top: 15px;
        }
        .fecha{
            font-size: 10px;
            color: #707070;
        }
    }
    .grid {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 7px;
        padding-right: 7px;
        .grid-sizer {
            &.col-6 {
                max-width: calc(50% + 7px);
            }
        }
        .col-6 {
            padding-left: 7px;
            padding-right: 7px;
            max-width: calc(50% - 7px);
        }
    }
    .pasos {
        .card {
            margin-top: 60px;
        }
        .titulo {
            font-size: 14px;
            line-height: 18px;
            margin-top: 8px;
        }
        .reverso {
            flex-direction: row-reverse;
        }
        .foto {
            width: 100%;
            height: 123px;
            margin-top: -50px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }
    }
}

.filtro {
    font-size: 12px;
    color: $cdf-gris;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    &.activo {
        color: $cdf-general;
        font-family: FuturaBold;
        &:after {
            content: "";
            position: absolute;
            bottom: -7px;
            left: 50%;
            transform: translateX(-50%);
            height: 3px;
            width: 18px;
            background: $cdf-rojo;
        }
    }
}

.modal-producto {
    position: fixed;
    z-index: -999;
    background:white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    padding: 50px 30px;
    transform: scale(1.2);
    opacity: 0;
    transition: all .3s;
    &.activo {
        transform: scale(1);
        opacity: 1;
        z-index: 999;
    }
    i {
        color: $cdf-rojo;
        font-size: 20px;
    }
    p {
        color: #7B7B7B;
    }
}

.productos {
    .grid {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 7px;
        padding-right: 7px;
        .card {
            margin: 0;
            .imagen {
                height: 90px;
                img {
                    object-fit: cover;
                    height: 72px;
                }
            }
            p {
                color: #7B7B7B;
            }
        }
        .grid-sizer {
            &.col-6 {
                max-width: calc(50%);
            }
        }
        .col-6 {
            padding-left: 7px;
            padding-right: 7px;
            max-width: calc(50% - 7px);
        }
    }
}

.GMap__Wrapper{
    height: 250px !important;
}
  
.donde-comprar {
    height: calc(100vh - 355px);
    overflow-y: auto;
    transition: all 1s;
    .card {
        &.activo {
            &:before {
                content: "";
                width: 6px;
                height: 30px;
                border-radius: 10px;
                background: #EB1F3D;
                position: absolute;
                top: 15px;
                left: -3px;
            }
        }
    }
    .col-12 {
        padding-left: 35px;
    }
    .lugar {
        font-size: 12px;
        .contenedor-icono {
            position: absolute;
            left: -18px;
            top: 0px;
        }
    }
    .info {
        display: flex;
        justify-content: flex-end;
        font-size: 11px;
        color: $cdf-gris;
        /*position: absolute;
        right: 15px;
        bottom: -5px;*/
    }
}
.geo {
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 999;
    background: white;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.examen {
    min-height: 100vh;
    @include horizontal() { 
        min-height: 100vh !important;
    }
    overflow-y: auto;
    background: #FFFEF9;
    padding-top: 30px;
}

.preguntas {
    .titulo {
        text-align: center;
    }
    .numero {
        width: 32px;
        margin: auto;
        margin-bottom: 15px;
        font-size: 18px;
        font-family: FuturaBold;
        border-bottom: 3px solid $cdf-verde;
    }
    .alternativas {
        margin-top: 20px;
        .card {
            padding-top: 5px;
            padding-bottom: 5px;
            margin-bottom: 15px;
            font-size: 14px;
            max-height: 200px;
            img {
                width: 100%;
                min-height: 100%;
                object-fit: contain;
            }
        }
    }
    .explicacion {
        border: 1px solid $cdf-gris;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 20px;
        display: none;
    }
    input:checked+label{ 
        color: $cdf-verde;
    }
    input.correcta+label {
        border: 2px solid $cdf-verde;
    } 
    input.incorrecta+label {
        border: 2px solid $cdf-rojo;
    } 
}

.resultado {
    height: 100vh;
    padding-top: 0px;
    display: flex;
    align-items: center;
    background: white;
    text-align: center;
    display: none;
    div {
        width: 100%;
    }
}
.buscador {
    position: relative;
    input {
        border-radius: 10px;
        font-size: 14px;
        &::placeholder {
            color: #A7A6A6;
        }
        &.form-control {
            &:focus {
                outline: none;
                box-shadow: none;
                border-color: #E0E0E0;;
            }
        }
    }
    i {
        color: $cdf-rojo;
        position: absolute;
        right: 15px;
        top: 10px;
        z-index: 1;
    }
}


.info-local {
    position: fixed;
    z-index: -999;
    background:white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 50px 30px;
    transform: scale(1.2);
    opacity: 0;
    transition: all .3s;
    &.activo {
        transform: scale(1);
        opacity: 1;
        z-index: 999;
    }
    i {
        color: $cdf-rojo;
        font-size: 20px;
    }
    .local {
        position: absolute;
        background: white;
        top: 50%;
        transform: translateY(-50%);
        width: calc(100% - 60px);
        a {
            border-bottom: 1px solid #000;
        }
        .dato {
            margin-bottom: 15px;
            font-size: 14px;
            position: relative;
            padding-left: 20px;
            .contenedor-icono {
                width: 18px;
                height: 18px;
                position: absolute;
                left: -4px;
                top: 2px;
            }
        }
    }
}


.calculador {
    height: calc(100vh - 1px);
    padding-top: 50px;
    .foto {
        overflow: hidden;
        border-radius: $radius;
    }
    .titulo {
        text-align: center;
    }
    .numero {
        width: 32px;
        margin: auto;
        margin-bottom: 15px;
        font-size: 18px;
        font-family: FuturaBold;
        border-bottom: 3px solid $cdf-rojo;
    }
    .alternativas {
        margin-top: 10px;
        text-align: left;
        height: 400px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .card {
            width: 100%;
            min-height: 100px;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
            .col-8 {
                align-items: center;
                display: flex;
            }
            .col-12 {
                align-items: center;
                display: flex;
                text-align: center;
            }
            p {
                margin-bottom: 0;
            }
            .datos {
                padding: 50px 15px;
            }
            .tipo {
                border-bottom: 1px solid $cdf-gris;
                font-size: 12px;
                display: flex;
                padding-top: 10px;
                padding-bottom: 10px;
                div {
                    &.izq {
                        text-transform: uppercase;
                    }
                    width: 50%;
                }
            }
        }
        .circulo {
            position: absolute;
            right: 15px;
            top: 15px;
            span {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                border: 1px solid $cdf-gris;
                &.activo {
                    background: $cdf-rojo;
                    border: 1px solid $cdf-rojo;
                }
            }
        }
    }
    .pregunta {
        .foto {
            border-radius: $radius;
        }
    }
}

.slider__label {
    border-radius: 10px !important;
    top: -55px !important;
    padding: 10px !important;
    font-size: 18px !important;
    margin-left: 13px !important;
  }



  .materiales {
      .foto {
        width: 70px;
        height: 70px;
        margin: auto;
        border-radius: 50%;
        box-shadow: $shadow;
      }
      .area {
          color: $cdf-gris-fuerte;
          font-size: 16px;
          text-align: center;
          font-family: FuturaBold;
      }
      .nombre-material {
          font-size: 12px;
          height: 36px;
      }
      .cantidad-material {
          font-size: 15px;
          color: $cdf-rojo;
          text-align: center;
      }
      .opciones {
          font-size: 10px;
          color: $cdf-rojo;
          text-align: center;
          span {
              font-size: 15px;
          }
      }
  }


  .perfil {
    .opciones {
        font-size: 12px;
        color: $cdf-gris;
        text-align: center;
        .col-4 {
            padding-left: 5px;
            padding-right: 5px;
        }
        .activo {
            font-family: FuturaBold;
            color: $cdf-general;
            position: relative;
            &:after {
                content: "";
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background: $cdf-rojo;
                position: absolute;
                bottom: -7px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    .contenido {
        background: #F2F2F2;
        border-radius: $radius;
        padding: 30px 15px;
        position: relative;
        font-size: 10px;
        margin-bottom: 60px;
        .opcion {
            display: none;
            &.activo {
                display: block;
            }
        }
        i {
            font-size: 16px;
            color: $cdf-rojo;
        }
        &:before {
            content: "";
            width: 8px;
            height: 40px;
            border-radius: 10px;
            background: $cdf-rojo;
            position: absolute;
            top: 20px;
            left: -4px;
        }
        .logros {
            .logro {
                width: calc(33% - 10px);
                position: absolute;
                transition-property: top, left;
                transition-duration: .3s, .3s;
                display: flex;
                align-items: center;
                .imagen {
                    width: 50px;
                    height: 49px;
                    margin: auto;
                    filter: grayscale(1);
                    img {
                        object-fit: contain;
                        width: 100%;
                        height: 100%;
                    }
                    &.activo {
                        filter: none;
                    }
                }
                .nombre {
                    font-size: 8px;
                    text-align: center;
                    height: 36px;
                    max-width: 68px;
                    margin: auto;
                    display: flex;
                    align-items: center;
                }
                .descripcion {
                    width: 0;
                    height: 0;
                    overflow: hidden;
                    font-size: 12px;
                    .progreso-logro {
                        width: 100%;
                        border-radius: 10px;
                        overflow: hidden;
                        height: 10px;
                        background: $cdf-gris;
                        position: relative;
                        span {
                            background: $cdf-rojo;
                            position: absolute;
                            left: 0;
                            height: 100%;
                            border-radius: 10px;
                        }
                    }
                    .numero {
                        color: $cdf-rojo;
                    }
                }
            }
            .cuadricula {
                position: relative;
                height: 230px;
                transition: all .3s;
                .logro:nth-child(1) {
                    left: 0;
                    top: 0;
                }
                .logro:nth-child(2) {
                    left: calc(33% + 5px);
                    top: 0;
                }
                .logro:nth-child(3) {
                    left: calc(66% + 10px);
                    top: 0;
                }
                .logro:nth-child(4) {
                    left: 0%;
                    top: 115px;
                }
                .logro:nth-child(5) {
                    left: calc(33% + 5px);
                    top: 115px;
                }
            }
            .lista {
                position: relative;
                height: 575px;
                transition: all .3s;
                .logro {
                    width: 100%;
                }
                .card {
                    width: calc(33% - 10px);
                }
                .logro:nth-child(1) {
                    left: 0;
                    top: 0;
                }
                .logro:nth-child(2) {
                    left: 0;
                    top: 115px;
                }
                .logro:nth-child(3) {
                    left: 0;
                    top: 230px;
                }
                .logro:nth-child(4) {
                    left: 0;
                    top: 345px;
                }
                .logro:nth-child(5) {
                    left: 0;
                    top: 460px;
                }
                .descripcion {
                    width: calc(66% + 15px);
                    height: auto;
                    padding: 15px;
                    padding-right: 0px;
                    overflow: visible;
                }
            }
            .card {
                padding: 5px;
                padding-top: 10px;
                width: 100%;
            }
        }

        .proximas {
            .fecha {
                text-align: center;
                font-size: 20px;
                font-family: FuturaBold;
            }
            .dia {
                text-align: center;
            }
            .hora {
                font-size: 14px;
                text-align: center;
                line-height: 14px;
                font-family: FuturaBold;
            }
            .campana {
                position: absolute;
                width: 20px;
                height: 20px;
                left: -5px ;
                top: -5px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                i {
                    color: white;
                    font-size: 12px;
                }
                &.campana-verde {
                    background: $cdf-verde;
                }
                &.campana-rojo {
                    background: $cdf-rojo;
                }
                &.campana-negro {
                    background: $cdf-negro;
                }
                &.campana-azul {
                    background: $cdf-azul;
                }
            }
        }

        .constancias {
            .descargar {
                padding: 8px 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                i {
                    color: white;
                    font-size: 16px;
                }
            }
            .calculo {
                font-size: 12px;
            }
        }
        .datos {
            .campo {
                margin-bottom: 15px;
                font-size: 14px;
                input {
                    padding: 22px;
                }
                select {
                    height: 44px;
                    padding-top: 12px;
                }
                input[type='date']{
                    flex-direction: initial;
                }
            }
        }
    }
    .logout {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: white;
        box-shadow: $shadow;
    }
  }

  .cargador-fondo {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: -9999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    bottom: 20px;
    opacity: 0;
    transition: all .2s;
    &.activo {
        bottom: 0px;
        opacity: 1;
        z-index: 9999;
    }
    .cargador {
        height: 70px;
        width: 100%;
        background: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
    }
    .preloader {
        width: 60px;
        height: 60px;
        border: 6px solid #eee;
        border-top: 6px solid #666;
        border-radius: 50%;
        animation-name: girar;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        margin-right: 15px;
      }
}


@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.pdf {
    width: 1px;
    height: 1px;
    overflow: hidden;
    .ar {
        width: 794px;
        height: 1123px;
        background: #fff;
        background-image: url(../imgs/marcadeagua.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        .margen {
            padding: 30px 50px;
            .carga {
                h1 {
                    text-align: center;
                }
                .tit {
                    font-size: 16px;
                    font-family: FuturaBold;
                    text-align: center;
                }
                .sub {
                    font-size: 14px;
                    font-family: FuturaBold;
                }
                table {
                    width: 100%;
                    border-spacing: 1px;
                    border-collapse: separate;
                    border: solid 1px #000;
                    td, th {
                        border: solid 1px #ccc;
                        padding: 3px;
                        font-size: 10px;
                        font-family: verdana;
                    }
                }
            }
        }
    }
}

.beneficio {
    flex-direction: row;
    //align-items: center;
    .foto{
        width: 30%;
        height: 140px;
        border-radius: $radius;
        overflow: hidden;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .info {
        width: 70%;
        padding-left: 15px;
        padding-right: 15px;
    }
}