<template>
  <div>
    <Cargador/>
    <Alerta :titulo="alerta.titulo" :contenido="alerta.contenido" :botones="alerta.botones" />
    <Menu/>
      <div class="contenedor">
      <Cabecera/>
      <nuxt />   
      </div>
    <Footer/>
  </div>
</template>

<script>
import Cabecera from '@/components/Cabecera.vue'
import Footer from '@/components/Footer.vue'
import Menu from '@/components/Menu.vue'
import Alerta from '@/components/Alerta.vue'
import Cargador from '@/components/Cargador.vue'


import { mapState } from 'vuex'

export default {
  data() {
    return {
      //tituloAlerta: "hola"

    }
  },
  computed:{
     ...mapState(['alerta']),
  },
  components:{
    Cabecera, Footer, Menu, Alerta, Cargador
  },
  mounted(){
    this.$store.commit('cambiarAlerta', {})
  }
}
</script>