<template>
  <div>
    <Cargador/>
    <Alerta :titulo="alerta.titulo" :contenido="alerta.contenido" :botones="alerta.botones" />
    <div class="contenedor">
      <nuxt />
    </div>
  </div>
</template>

<script>
    import { mapState } from 'vuex'
    import Alerta from '@/components/Alerta.vue'
    import Cargador from '@/components/Cargador.vue'
    export default {
      computed:{
        ...mapState(['alerta']),
      },
      components:{
        Alerta, Cargador
      },
      mounted(){
        this.$store.commit('cambiarAlerta', {})
      }
    }
</script>
