<template>
    <div class="pagina-transicion">
        <CabeceraInterna titulo="Descuentos y Beneficios" link="/" />
        <div class="margen-cabecera"></div>
        <div class="container mt-2 pt-2">
           <div class="card mt-3 mb-3 d-flex beneficio" v-for="(item,index) in beneficios" :key="index" @click="irClase(item.cls_alias)">
               <div class="foto">
                    <img :data-src="Imagen('beneficios/'+item.bnf_imagen)" alt="" v-lazy-load>
               </div>
               <div class="info">
                   <div class="card-body">
                   <h2>{{item.bnf_nombre}}</h2>
                   <p class="p2">
                       {{item.bnf_sub}}
                   </p>
                </div>
            </div>
        </div>
        </div>
    </div>
</template>

<script>
import CabeceraInterna from '@/components/CabeceraInterna.vue'

import { mapState } from 'vuex'

    export default {
        head: {
            title: 'Beneficios | Constructores del Futuro'
        },
        layout: 'interna',
        data() {
            return {

            }
        },
        components: {
            CabeceraInterna
        },
        computed:{
            ...mapState(['beneficios'])
        },
        methods:{

        },
        created(){
            
        },

    }
</script>
