<template>
    <div class="pagina-transicion">
        <CabeceraInterna titulo="Programa de formación" link="/capacitaciones/presenciales"/>
        <ListaHorarioClase :horarios="horariosPresencial" tipo="presencial"/>
    </div>
</template>

<script>
import CabeceraInterna from "@/components/CabeceraInterna"
import ListaHorarioClase from "@/components/ListaHorarioClase"

import { mapState } from 'vuex'

    export default {
        layout: 'interna',
        props: [],
        components: {
            CabeceraInterna, ListaHorarioClase
        },
        computed:{
            ...mapState(['horariosPresencial']),
        }
    }
</script>

