<template>
    <div>
        
    </div>
</template>

<script>

    export default {
        layout: 'interna',
        mounted(){
            this.mostrarCargador()
        }
    }
</script>

<style lang="scss" scoped>

</style>