<template>
  <div class="pagina-transicion">

    <div class="portada">
        <div>
          <h1>Conviértete en un <br> 
          <span>experto</span> en el <br> 
          sistema <span>drywall</span></h1>
          <nuxt-link class="btn btn-rojo" to="/capacitaciones/en-linea">EMPEZAR</nuxt-link>
        </div>
    </div>

    <div v-if="this.$installer.canInstall && this.$store.state.instalar">
      <div id="install" class="show">
      <div class="install">
        <i class="fas fa-times" @click="cerrarInstalar"></i>
        <div class="logo">
          <img src="@/static/favicon.png" alt="">
        </div>
        <div class="cont">
          <div class="tit">Agrega Constructores del Futuro a tu pantalla de inicio</div>
          <div class="des">Descarga nuestra aplicación gratis.</div>
          <div class="btn btn-rojo" @click="this.$installer.prompt">Aceptar</div>
          <div class="btn btn-no" @click="cerrarInstalar">Ahora no</div>
        </div>
      </div>
    </div>
    </div>

    <div class="container mb-5">
      <Bienvenida/>
      <div class="herramientas row">
        <div class="col-6" style="padding-right: 7.5px">
          <nuxt-link to="/donde-comprar">
            <div class="card col-12">
              <div class="logo">
                <img src="@/assets/imgs/donde-comprar.svg" alt="">
              </div>
              <div class="titulo">
                <h2>
                  Dónde <br>
                  Comprar
                </h2>
                <i class="fas fa-angle-right"></i>
              </div>
            </div>
          </nuxt-link>
        </div>
        <div class="col-6" style="padding-left: 7.5px">
          <nuxt-link to="/calculador">
            <div class="card col-12">
              <div class="logo">
                <img src="@/assets/imgs/calculador.svg" alt="">
              </div>
              <div class="titulo">
                <h2>
                  Calculador <br>
                  de Materiales
                </h2>
                <i class="fas fa-angle-right"></i>
              </div>
            </div>
          </nuxt-link>
        </div>
      </div>
      <!--<TituloVerMas categoria="CAPACITACIONES" titulo="Capacitaciones Presenciales" link="/capacitaciones/presencial" />
      <HorarioCarrusel :horarios="horariosPresencial" link="/capacitaciones/presencial"/>-->
      <TituloVerMas categoria="CAPACITACIONES" titulo="Capacitaciones en Línea" link="/capacitaciones/en-linea" />
      <OnlineCarrusel :clases="clasesOnline"/>
      <TituloVerMas categoria="" titulo="Tutoriales y Artículos" link="/articulos" />
      <ArticuloCarrusel :articulos="articulos" slice="4"/>
      <!--<TituloVerMas categoria="" titulo="Ferias y Eventos" link="/eventos" />
      <HorarioCarrusel :horarios="horariosEvento" link="/eventos"/>-->
      <TituloVerMas categoria="" titulo="Archivos en Línea" link="/archivos" />
      <ArchivoCarrusel :archivos="archivos" slice="8"/>
    </div>
  </div>
</template>

<script>
import TituloVerMas from '@/components/TituloVerMas.vue'
import HorarioCarrusel from '@/components/HorarioCarrusel.vue'
import OnlineCarrusel from '@/components/OnlineCarrusel.vue'
import ArchivoCarrusel from '@/components/ArchivoCarrusel.vue'
import ArticuloCarrusel from '@/components/ArticuloCarrusel.vue'
import Bienvenida from '@/components/Bienvenida.vue'

import Vue from "vue"
import VueInstaller from "vue-pwa-installer"
Vue.use(VueInstaller, { /* options */ })

import { mapState } from 'vuex'

import $ from 'jquery'

export default {
  components: {
    TituloVerMas, HorarioCarrusel, OnlineCarrusel, ArchivoCarrusel, ArticuloCarrusel, Bienvenida
  },
  computed:{
    ...mapState(['horariosPresencial','horariosEvento','clasesOnline','archivos','articulos'])
  },
  methods: {
    cerrarInstalar(){
        $("#install").removeClass("show")
        this.$store.commit('instalar')
    },
    /*instalar(){
    	$("#install").removeClass("show");
    	deferredPrompt.prompt();
    	deferredPrompt.userChoice
	    .then((choiceResult) => {
	      deferredPrompt = null;
	    })
    }*/
  },
  mounted(){
    this.$store.commit('cambiarLink', '/')
    if(this.$store.state.bienvenida == 1) {
      this.mostrarPopup()
    }

    //console.log(this.$installer)
   /* window.addEventListener('beforeinstallprompt', (e) => {
      deferredPrompt = e;
      $("#install").addClass("show")
    });*/
    
    /*window.addEventListener('appinstalled', (event) => {
      $("#install").removeClass("show");
    });*/



  }
}
</script>


