<template>
    <div class="pagina-transicion">
        <div class="container pt-3 pb-3 cabecera interna">
            <b>Login</b>  
            <span @click="atras"><i class="fas fa-chevron-left"></i></span>  
        </div>
        <div class="container margen-cabecera">
            <div class="login">
                    <div class="mb-5">
                        <nuxt-link to="/"><img src="@/assets/imgs/logo-negro.svg" alt=""></nuxt-link>
                    </div>
                    <ul v-show="usuario.tipo != 'sms'" class="opciones">
                        <li class="opcion dni activo" @click="cambiarLogin('dni')">
                            Con DNI
                        </li>
                        <li class="opcion telefono" @click="cambiarLogin('telefono')">
                            Con SMS
                        </li>
                    </ul>
                <div class="login-contenedor">
                            <div v-show="usuario.tipo == 'dni'" class="mb-4">
                                <div class="campo">
                                    <input v-model="usuario.dni" type="number" min="8" max-lenght="10" name="dni" class="form-control card" placeholder="Ingresa tu DNI o CE" required>
                                </div>
                                <div class="campo">
                                    <input v-model="usuario.password" type="password" name="password" class="form-control card" placeholder="Ingresa tu contraseña" required>
                                </div>
                            </div>
                            
                            <div v-show="usuario.tipo == 'telefono'" class="mb-4">
                                    <div class="campo">
                                        <input v-model="usuario.telefono" type="number" min="9" max-lenght="12" name="telefono" class="form-control card" placeholder="Ingresa tu número de teléfono" required>
                                    </div>
                            </div>
                            <div v-show="usuario.tipo == 'sms'" class="form-sms mb-4">
                                    <label>Valida tu ingreso mediante SMS</label>
                                    <p class="p1">
                                        Se envió un SMS al <b>{{usuario.telefono}}</b> con el código de validación.
                                    </p>
                                    <div class="sms">
                                        <input v-model="usuario.sms1" type="text" maxlength="1" class="form-control card input-sms" placeholder="-">
                                        <input v-model="usuario.sms2" type="text" maxlength="1" class="form-control card input-sms" placeholder="-">
                                        <input v-model="usuario.sms3" type="text" maxlength="1" class="form-control card input-sms" placeholder="-">
                                        <input v-model="usuario.sms4" type="text" maxlength="1" class="form-control card input-sms" placeholder="-">
                                    </div>
                            </div>
                            <center>
                                <button type="submit" class="btn btn-rojo" @click="ingresar" :disabled="disabled">
                                    {{textoBoton}}
                                </button>
                            </center>
      
                </div>
                <div v-show="usuario.tipo != 'sms'">
                    <div class="mt-4 mb-4">
                        <p class="p1">
                            o ingresa usando tus redes sociales:
                        </p>
                    </div>
                    <div class="rrss">
                        <div class="social facebook" @click="social('facebook')">
                            <div class="mr-2">
                                <img src="@/assets/imgs/facebook.svg" alt="">
                            </div>
                            <div class="nombre">
                                Continuar con Facebook
                            </div>
                        </div>
                        <div class="social" @click="social('google')">
                            <div class="mr-2">
                                <img src="@/assets/imgs/google.svg" alt="">
                            </div>
                            <div class="nombre">
                                Continuar con Google
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 mb-5">
                        <p class="p1 rojo">
                            ¿Aún no estas registrado? <nuxt-link to="/registrar" class="rojo"><b><u>Registrate aquí</u></b></nuxt-link>
                        </p>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</template>

<script>
const Cookie = process.client ? require('js-cookie') : undefined

import $ from 'jquery'

import axios from 'axios'
axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'

    export default {
        middleware: 'noAutenticado',
        layout: 'interna',
        data () {
            return {
            formError: null,
            usuario: {
                tipo: 'dni',
                dni: '',
                password: '',
                telefono: '',
                sms1: '',sms2: '',sms3: '',sms4: '',
                smsGenerado: ''
            },
            textoBoton: "INGRESAR",
            disabled: false,
            opcionesAlerta : {
                toast: true,
                position: 'bottom-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                icon: 'error',
                title: ''
            }
        }
        },
        methods: {
            atras() {
                this.$router.back()
            },
            social(value) {
                this.mostrarCargador()
                this.$auth.loginWith(value)
            },
            cambiarLogin(value){
                $(".opcion").removeClass("activo")
                $("."+value).addClass("activo")
                this.usuario.tipo = value
                this.usuario.dni = ''
                this.usuario.password = ''

                this.disabled = false
            },
            async ingresar(){
                this.textoBoton = "CARGANDO..."
                this.disabled = !this.disabled
                this.mostrarCargador()
                if(this.usuario.tipo == "sms"){ 
                    var sms = this.usuario.sms1 + this.usuario.sms2 + this.usuario.sms3 + this.usuario.sms4
                    if(sms == this.usuario.smsGenerado) {
                        this.enviarData()
                    }
                    else {
                        this.opcionesAlerta.title = "El código de verificación no coincide"
                        this.alerta()
                        this.textoBoton = "COMPROBAR"
                        this.disabled = !this.disabled
                        this.cerrarCargador()
                    }
                }
                if(this.usuario.tipo == "dni"){
                        this.enviarData()
                }
                if(this.usuario.tipo == "telefono"){ 
                    await axios.post(`${process.env.BASE_URL}usuarios/telefono`,this.usuario)
                        .then(res => {
                            if(res.data.error) {
                                this.opcionesAlerta.title = "Número de teléfono no registrado"
                                this.alerta()
                                this.textoBoton = "INGRESAR"
                                this.disabled = !this.disabled
                            }
                            else {
                                this.usuario.tipo = 'sms'
                                this.usuario.smsGenerado = res.data.sms
                                this.textoBoton = "COMPROBAR"
                                this.disabled = this.disabled

                            }
                        })
                    this.cerrarCargador()
                }
            },
            async enviarData(){
                    await axios.post(`${process.env.BASE_URL}usuarios`,this.usuario)
                        .then(res => {
                            if(res.data.error) {
                                switch(res.data.error) {
                                    case "clave":
                                        this.opcionesAlerta.title = "La clave que has ingresado no es correcta"
                                        break;
                                    case "dni":
                                        this.opcionesAlerta.title = "Documento de Identidad inválido"
                                        break;
                                    default:
                                        // code block
                                }
                                this.alerta()
                                this.textoBoton = "INGRESAR"
                                this.disabled = !this.disabled
                            }
                            else {
                                this.$store.commit('setAuth', res.data)
                                this.actualizarInfo()
                                Cookie.set('auth', res.data)
                                this.$router.push(this.$store.state.ultimolink)
                            }
                    })
                    this.cerrarCargador()
            },
            alerta() {
                this.$swal(this.opcionesAlerta);
            },
        },
        created(){

        },
        mounted(){
            this.cerrarMenu()
            $('.input-sms').on('keyup change', function(){
                var $t = $(this);
                if ($t.val().length > 0) {
                    $t.next().focus();
                }
                var cant = 0
                $('.input-sms').each(function(){
                    if ($(this).val().length == 1) {
                        cant++
                    }
                    if(cant == 4) {
                        $("button").prop("disabled", false);
                    }
                    else {
                        $("button").prop("disabled", true);
                    }
                })
            });

        }
    }
</script>

