<template>
    <div class="pagina-transicion">
        <div class="container pt-3 pb-3 cabecera interna">
            <b>Registro</b>  
            <nuxt-link to="/ingresar" class=""><i class="fas fa-chevron-left"></i></nuxt-link> 
        </div>
        <div class="container margen-cabecera">
            <div class="login">
                    <div class="mb-5">
                        <nuxt-link to="/"><img src="@/assets/imgs/logo-negro.svg" alt=""></nuxt-link>
                    </div>
                    <p class="p1" v-if="smsGenerado == ''">
                        Regístrate en el Club y recibe beneficios y descuentos exclusivos.
                    </p>
                <div class="login-contenedor">
                            <div class="mb-4" v-if="tipo == 'registro'">
                                <div class="campo">
                                    <input v-model="usuario.nombre" type="text" class="form-control card" placeholder="Nombres" >
                                </div>
                                <div class="campo">
                                    <input v-model="usuario.apellido" type="text" class="form-control card" placeholder="Apellidos" >
                                </div>
                                <div class="campo">
                                    <input v-model="usuario.correo" type="text" class="form-control card" placeholder="Correo Electrónico" >
                                </div>
                                <div class="campo">
                                    <input v-model="usuario.telefono" type="text" class="form-control card" placeholder="Teléfono" >
                                </div>
                                <div class="campo">
                                    <div class="row">
                                        <div class="col-4">
                                            <select v-model="usuario.tipodoc" class="form-control card"> 
                                                <option value="DNI" selected>DNI</option>
                                                <option value="CE">CE</option>
                                            </select>
                                        </div>
                                        <div class="col-8 pl-0">
                                            <input v-model="usuario.numdoc" type="text" class="form-control card" placeholder="Número de Documento">
                                        </div>
                                    </div>
                                </div>
                                <div class="campo">
                                    <vue-simple-suggest
                                        v-model="distrito"
                                        placeholder="Departamento / Provincia / Distrito"
                                        :list="distritos"
                                        :filter-by-query="true"
                                        :styles="autocomplete">
                                    <!-- Filter by input text to only show the matching results -->
                                    </vue-simple-suggest>
                                </div>
                                <div>
                                    <input type="checkbox" name="" id="" v-model="terminos"> Acepto los <a href="https://www.eternit.com.pe/es-es/condiciones%20de%20uso" target="_blank" class="rojo"><u>términos y condiciones</u></a>
                                </div>
                            </div>
                            <div v-show="tipo == 'sms'" class="form-sms mb-4">
                                    <label>Valida tu ingreso mediante SMS</label>
                                    <p class="p1">
                                        Se envió un SMS al <b>{{usuario.telefono}}</b> con el código de validación.
                                    </p>
                                    <div class="sms">
                                        <input v-model="sms1" type="text" maxlength="1" class="form-control card input-sms" placeholder="-">
                                        <input v-model="sms2" type="text" maxlength="1" class="form-control card input-sms" placeholder="-">
                                        <input v-model="sms3" type="text" maxlength="1" class="form-control card input-sms" placeholder="-">
                                        <input v-model="sms4" type="text" maxlength="1" class="form-control card input-sms" placeholder="-">
                                    </div>
                            </div>
                            <center>
                                <button type="submit" class="btn btn-rojo" @click="registrar" :disabled="disabled">
                                    {{textoBoton}}
                                </button>
                            </center>
      
                </div>
            </div>
        </div>  
    </div>
</template>

<script>
const Cookie = process.client ? require('js-cookie') : undefined

import VueSimpleSuggest from 'vue-simple-suggest'
import 'vue-simple-suggest/dist/styles.css'

import $ from 'jquery'

import { mapState } from 'vuex'

import axios from 'axios'
axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'

    export default {
        middleware: 'noAutenticado',
        layout: 'interna',
        data () {
            return {
            formError: null,
            usuario: {
                nombre: '',
                apellido: '',
                correo: '',
                telefono: '',
                tipodoc: 'DNI',
                numdoc: '',
                ubigeo: ''
            },
            distrito: '',
            terminos: false,
            textoBoton: "REGISTRARME",
            disabled: false,
            tipo: 'registro',
            smsGenerado: '',
            sms1: '',sms2: '',sms3: '',sms4: '',
            opcionesAlerta : {
                toast: true,
                position: 'bottom-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                icon: 'error',
                title: ''
            },
            autocomplete : {
                defaultInput : "form-control card",
            },
        }
        },
        components: {
            VueSimpleSuggest
        },
        computed:{
            ...mapState(['ubigeo','distritos'])
        },
        methods: {
            social(value) {
                this.mostrarCargador()
                this.$auth.loginWith(value)
            },

            async registrar(){
                this.textoBoton = "CARGANDO..."
                this.disabled = !this.disabled
                this.mostrarCargador()
                if(this.tipo == 'registro') {
                    var valido = this.validar(this.usuario)
                    if(valido) {
                        await axios.post(`${process.env.BASE_URL}usuarios/validar`,this.usuario)
                            .then(res => {
                                if(res.data.error) {
                                    if(res.data.error == 'correo'){
                                        this.opcionesAlerta.title = "Correo electrónico ya está registrado"
                                    }
                                    if(res.data.error == 'dni'){
                                        this.opcionesAlerta.title = "Número de documento ya está registrado"
                                    }
                                    if(res.data.error == 'telefono'){
                                        this.opcionesAlerta.title = "Teléfono ya está registrado"
                                    }
                                    this.alerta()
                                    this.textoBoton = "REGISTRARME"
                                    this.disabled = !this.disabled
                                }
                                else {
                                    axios.post(`${process.env.BASE_URL}usuarios/telefono`,this.usuario)
                                    .then(res => {
                                        this.textoBoton = "COMPROBAR"
                                        this.smsGenerado = res.data.sms
                                        this.tipo = 'sms'
                                    })
                                }
                            })
                    }
                    else {
                        this.textoBoton = "REGISTRARME"
                        this.disabled = !this.disabled
                    }
                }
                if(this.tipo == 'sms') {
                    var sms = this.sms1 + this.sms2 + this.sms3 + this.sms4
                    if(sms == this.smsGenerado) {
                        this.validarSMS()
                    }
                    else {
                        this.opcionesAlerta.title = "El código de verificación no coincide"
                        this.alerta()
                        this.textoBoton = "COMPROBAR"
                        this.disabled = !this.disabled
                    }
                }
                
                this.cerrarCargador()
            },
            validar(usuario){
                if(usuario.nombre == ''){
                    this.opcionesAlerta.title = "El campo nombre es obligatorio."
                    this.$swal(this.opcionesAlerta);
                    return false
                }
                if(usuario.apellido == ''){
                    this.opcionesAlerta.title = "El campo apellido es obligatorio."
                    this.$swal(this.opcionesAlerta);
                    return false
                }
                if(usuario.tipodoc == 'DNI'){
                    if(usuario.numdoc == ''){
                        this.opcionesAlerta.title = "El campo documento es obligatorio."
                        this.$swal(this.opcionesAlerta);
                        return false
                    }
                    if(usuario.numdoc.length != 8){
                        this.opcionesAlerta.title = "El campo documento debe ser de 8 dígitos."
                        this.$swal(this.opcionesAlerta);
                        return false
                    }
                }
                if(!this.validarCorreo(usuario.correo)){
                    this.opcionesAlerta.title = "No has ingresado un correo válido."
                    this.$swal(this.opcionesAlerta);
                    return false
                }
                if(usuario.telefono.length != 9){
                    this.opcionesAlerta.title = "No has ingresado un número telefónico de 9 dígitos."
                    this.$swal(this.opcionesAlerta);
                    return false
                }
                this.ubigeo.forEach(element => {
                    if(element.label == this.distrito) {
                        this.usuario.ubigeo = element.value
                    }
                })
                if(usuario.ubigeo == ''){
                    this.opcionesAlerta.title = "Asegúrate de poner un distrito dentro de las opciones."
                    this.$swal(this.opcionesAlerta);
                    return false
                }
                if(!this.terminos){
                    this.opcionesAlerta.title = "Debes aceptar los términos y condiciones."
                    this.$swal(this.opcionesAlerta);
                    return false
                }
                return true
            },
            alerta() {
                this.$swal(this.opcionesAlerta);
            },

            async validarSMS(){
                    await axios.post(`${process.env.BASE_URL}usuarios/registrar`,this.usuario)
                        .then(res => {
                            this.$store.commit('setAuth', res.data)
                            this.$store.commit('bienvenida', 1)
                            Cookie.set('auth', res.data)
                            this.actualizarInfo()
                            this.$router.push("/")
                    })
            }

        },
        created(){

        },
        mounted(){
            if(this.$auth.state.user){
                if(this.$auth.state.strategy == 'google'){
                    this.usuario.nombre = this.$auth.state.user.given_name
                    this.usuario.apellido = this.$auth.state.user.family_name
                    this.usuario.correo = this.$auth.state.user.email
                }
                if(this.$auth.state.strategy == 'facebook'){
                    this.usuario.nombre = this.$auth.state.user.first_name
                    this.usuario.apellido = this.$auth.state.user.last_name
                    this.usuario.correo = this.$auth.state.user.email
                }
            }
            this.cerrarMenu()
            this.cerrarCargador()
            $('.input-sms').on('keyup change', function(){
                var $t = $(this);
                if ($t.val().length > 0) {
                    $t.next().focus();
                }
                var cant = 0
                $('.input-sms').each(function(){
                    if ($(this).val().length == 1) {
                        cant++
                    }
                    if(cant == 4) {
                        $("button").prop("disabled", false);
                    }
                    else {
                        $("button").prop("disabled", true);
                    }
                })
            });

        }
    }
</script>

