<template>
    <div>
        
    </div>
</template>

<script>
const Cookie = process.client ? require('js-cookie') : undefined

import axios from 'axios'
axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'

    export default {
        layout: 'interna',
        data () {
            return {
                usuario: {
                    tipo: 'correo',
                    correo: this.$auth.state.user.email,
                    tipo_correo: this.$auth.state.strategy
                },
            }
        },
        mounted(){
            this.mostrarCargador()
            axios.post(`${process.env.BASE_URL}usuarios`,this.usuario)
                        .then(res => {
                            if(res.data.error) {
                                this.$router.push("/registrar")
                            }
                            else {
                                this.$store.commit('setAuth', res.data)
                                Cookie.set('auth', res.data)
                                this.actualizarInfo()
                                this.$router.push(this.$store.state.ultimolink)
                                
                            }
                })

        }
    }
</script>

<style lang="scss" scoped>

</style>