<template>
    <div class="pagina-transicion">
        <CabeceraInterna titulo="Ferias y Eventos" link="/eventos"/>
        <div class="container margen-cabecera">
            <div :class="`presencial-titulo col-12 mt-3 mb-3 nivel nivel-${nivel(horario.nvl_id)}`">
                <span :class="`texto-sup ${nivel(horario.nvl_id)}`">{{horario.nvl_nombre}}</span>
                <h2>{{horario.cls_nombre}}</h2>
            </div>
        </div>
        <!--<Mapa class="mapa" :lat="lat" :long="long"/>-->
        <gmap-map :center="center" :map-type-id="mapTypeId" :zoom="14" mapTypeControl="false" 
        zoomControl="true" scaleControl="true" gestureHandling="cooperative">
            <gmap-marker
                :position="markers.position" 
                @click="center = markers.position"/>
        </gmap-map>

        <div class="container presencial lista-horarios">
            <div class="card info mt-3 mb-3" v-for="(item, index) in filtrar(horariosEvento)" :key="index" @click="cambiarHorario(item)" 
            :class="{ activo: item.hrr_id == horario.hrr_id, basico: horario.nvl_id == 1, avanzado: horario.nvl_id == 2, complementario: horario.nvl_id == 3, evento: horario.nvl_id == 4 }">
                <div :class="`liston liston-${nivel(item.nvl_id)}`" v-if="item.horarioinscrito == 1">
                    YA ESTÁS INSCRITO
                </div>
                <div class="card-body d-flex">
                    <div class="col-4 d-flex align-items-center justify-content-center">
                        <div style="text-align: center; line-height: 1.2;">
                            <span :class="`dianombre ${nivel(horario.nvl_id)}`">{{item.dianombre}}</span>
                            <div class="dia">
                            {{item.dia}}
                            </div>
                            <div class="mes gris">
                            {{item.mes}}
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="lugar">
                            <div class="texto">
                                <div class="contenedor-icono"><img src="@/assets/imgs/lugar.svg" alt="" class="icono"></div
                                ><b>{{item.lgr_nombre}}</b> <br>
                                {{item.lgr_direccion}} <br>
                                {{item.ubg_departamento}} - {{item.ubg_provincia}} - {{item.ubg_distrito}}
                            </div>
                            <div class="texto">
                                <div class="contenedor-icono"><img src="@/assets/imgs/reloj.svg" alt="" class="icono"></div>
                                11:00 am - 1:00 pm
                            </div>
                            <div class="texto">
                                <div class="contenedor-icono"><img src="@/assets/imgs/user.svg" alt="" class="icono"></div>60 personas
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-presencial pb-3 pt-3">
            <div class="col-12 d-flex justify-content-between align-items-center">
                <div>
                    <div class="rojo" @click="mostrarContenedorDebajo"><b>CONDICIONES</b></div>
                </div>
                <div>
                    <div v-if="this.$store.state.auth.logueado">
                        <button v-if="horario.horarioinscrito == 0" :class="`btn btn-${nivel(horario.nvl_id)}`" @click="alerta('inscribir',horario.hrr_id)">INSCRIBIRME</button>
                        <button v-else :class="`btn btn-${nivel(horario.nvl_id)}`" @click="alerta('quitar',horario.hrr_id)">YA ESTAS INSCRITO</button>
                    </div>
                    <div v-else>
                        <nuxt-link to="/ingresar" :class="`btn btn-${nivel(horario.nvl_id)}`">INGRESAR</nuxt-link>
                    </div>
                </div>
            </div>
        </div>
        <CondicionesInternaCurso :descripcion="descripcion" titulo="Condiciones"/>
    </div>
</template>

<script>
import CabeceraInterna from "@/components/CabeceraInterna"
import CondicionesInternaCurso from "@/components/CondicionesInternaCurso"

import { mapState, mapMutations } from 'vuex'

    export default {
        layout: 'interna',
        props: [],
        components: {
            CabeceraInterna, CondicionesInternaCurso
        },
        data(){
            return {
                horario: [],
                horariosClase: [],
                descripcion: {
                    texto: 'dinamic',
                    contenido: null
                },
                lat: '',
                long: '',
                center: { lat: -3.350235, lng: 111.995865 },
                mapTypeId: "roadmap",
                markers: { position: { lat: -0.48585, lng: 117.1466 } },
                id: "",
                alertaDatos: {
                    titulo: "¿Estás seguro que quieres quitar tu inscripción?",
                    contenido: "",
                    botones: [
                        {texto: "SI", color: "verde", link: null, evento: "desinscribir", id: ''},
                        {texto: "NO", color: "rojo", link: null, evento: "cerrar"}
                    ]
                }
            }
        },
        beforeCreate() {
            
        },
        created() {
            var id = this.$route.params.id
            var horario
            this.horariosEvento.forEach(element => {
                if(element.hrr_id == id) {
                    horario = element
                }
            });
            this.horario = horario
            var s = horario.lgr_coordenadas
            var arraylist = s.split(",")
            this.markers.position.lat = Number(arraylist[0])
            this.markers.position.lng = Number(arraylist[1])
            this.center = this.markers.position;
        },
        computed:{
            ...mapState(['horariosEvento']),
            getCoordenadas(){
                console.log('ff')
                var s = this.coordenadas;
                var arraylist = s.split(",");
                return {
                    lat : Number(arraylist[0]),
                    long : Number(arraylist[1])
                }
            }
        },
        methods: {
            cambiarHorario(value){
                var s = value.lgr_coordenadas
                var arraylist = s.split(",")
                this.center.lat = Number(arraylist[0])
                this.center.long = Number(arraylist[1])
                this.markers.position.lat = Number(arraylist[0])
                this.markers.position.lng = Number(arraylist[1])
                this.horario = value
            },
            alerta(event, value) {
                var alerta
                alerta = this.alertaDatos
                alerta.botones[0].id = value
                if(event == 'quitar') {
                    alerta.titulo = "¿Estás seguro que quieres quitar tu inscripción?"
                    alerta.botones[0].evento = "desinscribir"
                }
                if(event == 'inscribir') {
                    alerta.titulo = "¿Quieres inscribirte en esta clase?"
                    alerta.botones[0].evento = "inscribir"
                    console.log(alerta)
                }
                this.$store.commit('cambiarAlerta', alerta)
                console.log(alerta)
                this.mostrarAlerta()
            },
            filtrar(data) {
                var seen = {};
                var horario = this.horario
                return data.filter(function(currentObject) {
                    if (currentObject.cls_nombre != horario.cls_nombre) {
                        return false;
                    } else {
                        seen[currentObject.cls_nombre] = true;
                        return true;
                    }
                });
            },
        }
    }
</script>

<style scoped>
.vue-map-container {
  height: 200px;
  width: 100%;
}
</style>