<template>
    <div class="pagina-transicion">
        <Filtro :filtros="filtros" tipo="eventos" :data="horariosEvento"/>
        <div style="background: white">
        <CabeceraInterna titulo="Ferias y Eventos" link="/" />
        <div class="margen-cabecera"></div>
        <div class="container mt-3 d-flex justify-content-end align-items-center">
            <div class="d-flex">
                <div class="" @click="mostrarFiltro"><span>Filtros <span class="icon-filter"></span></span></div>
            </div>
        </div>
        <div class="container curso mt-3">
            <ListaHorarioFecha :filtroHorarios="filtroHorariosEvento" tipo="evento" />   
        </div>   
        </div>
    </div>
</template>

<script>

import CabeceraInterna from '@/components/CabeceraInterna.vue'
import Filtro from '@/components/Filtro.vue'
import ListaHorarioFecha from '@/components/ListaHorarioFecha.vue'

import axios from 'axios'
axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
import { mapState } from 'vuex'
import $ from 'jquery'

    export default {
        layout: 'interna',
        head: {
            title: 'Eventos | Constructores del Futuro'
        },
        data() {
            return {
                filtros: [],
                filtromes: {nombre: "mes", filtro: []},
                filtrodpto: {nombre: "ciudad", filtro: []}
            }
        },
        components: {
            CabeceraInterna, Filtro, ListaHorarioFecha
        },
        computed:{
            ...mapState(['horariosEvento','filtroHorariosEvento'])
        },
        methods:{
            todos(){
                this.$store.commit('llenarFiltroHorariosEvento', this.horariosEvento)
            }
        },
        mounted(){
            var busquedaMeses = {};
            var busquedaDpto = {};
            var meses = []
            var dptos = []
            this.filtroHorariosEvento.filter(function(currentObject) {
                if (currentObject.mes in busquedaMeses) {
                    
                } else {
                    busquedaMeses[currentObject.mes] = true;
                    meses.push({cat: currentObject.mes})
                }
                if (currentObject.ubg_departamento in busquedaDpto) {
                    
                } else {
                    busquedaDpto[currentObject.ubg_departamento] = true;
                    dptos.push({cat: currentObject.ubg_departamento})
                }
            });
            this.filtromes.filtro = meses
            this.filtrodpto.filtro = dptos
            this.filtros.push(this.filtrodpto)
            this.filtros.push(this.filtromes)
        }
    }
</script>
