<template>
    <div class="pagina-transicion">
        <CabeceraInterna titulo="Ferias y Eventos" link="/eventos"/>
        <ListaHorarioClase :horarios="horariosEvento" tipo="evento"/>
    </div>
</template>

<script>
import CabeceraInterna from "@/components/CabeceraInterna"
import ListaHorarioClase from "@/components/ListaHorarioClase"

import { mapState, mapMutations } from 'vuex'


    export default {
        layout: 'interna',
        props: [],
        components: {
            CabeceraInterna, ListaHorarioClase
        },
        computed:{
            ...mapState(['horariosEvento']),
        },

    }
</script>

