<template>
    <div class="pagina-transicion">
        <CabeceraInterna titulo="Programa de formación" :link="'/capacitaciones/presenciales/'+this.$route.params.slug"/>
        <DetalleHorario :horarios="horariosPresencial"/>
    </div>
</template>

<script>
import CabeceraInterna from "@/components/CabeceraInterna"
import DetalleHorario from "@/components/DetalleHorario"

import { mapState } from 'vuex'

import $ from 'jquery'

    export default {
        layout: 'interna',
        middleware: 'Autenticado',
        props: [],
        components: {
            CabeceraInterna, DetalleHorario
        },
        computed:{
            ...mapState(['horariosPresencial']),
        },
    }
</script>

